<div data-dojo-attach-point="containerNode">
    <table width="100%" border="0">
        <tr>
            <td><span data-dojo-type="dijit.form.DateTextBox" data-dojo-attach-point="dateField" invalidMessage="请输入日期格式的数据"></span></td>
            <td><span data-dojo-type="dijit.form.TimeTextBox" data-dojo-attach-point="timeField" invalidMessage="请输入时间格式的数据"></span></td>
            <td>
                <span data-dojo-type="dijit.form.Button" label="确定" profile="compact" data-dojo-attach-point="confirmButton" data-dojo-attach-event="onClick:confirmSetValue"></span>
                <span style="padding-left: 15px;font-size: 0.9em;color: #AAAAAA;padding-right: 5px;">|</span>
                <span data-dojo-type="dijit.form.Button" label="清空输入" placement="secondary" profile="compact" data-dojo-attach-point="clearButton" data-dojo-attach-event="onClick:clearInputValue"></span>
            </td>
        </tr>
    </table>
</div>