<div>
    <div data-dojo-attach-point="containerNode">
        <table>
            <tr>
                <td style="padding-left: 20px;" data-dojo-attach-point="selectorDescriptionLabelContainer">
                    <span data-dojo-attach-point="selectorDescriptionLabel"></span>
                </td>
                <td>
                    <input dojoType="dijit.form.DateTextBox" style="font-size: 1.0em;color:#444444;width:200px;" data-dojo-attach-point="dateSelector">
                    <input dojoType="dijit.form.TimeTextBox" style="font-size: 1.0em;color:#444444;" data-dojo-attach-point="timeSelector">
                </td>
            </tr>
        </table>
    </div>
</div>