<div>
    <div data-dojo-attach-point="containerNode">
        <table>
            <tr>
                <td style="padding-left: 20px;" data-dojo-attach-point="selectorDescriptionLabelContainer">
                    <span data-dojo-attach-point="selectorDescriptionLabel"></span>
                </td>
                <td>
                    <input dojoType="dijit.form.FilteringSelect" style="width:280px;"  data-dojo-props="required:true" data-dojo-attach-point="participantsFilter" disabled/>
                </td>
            </tr>
            <tr><td></td></tr>
        </table>
    </div>
</div>