<div>
    <div data-dojo-attach-point="containerNode">
        <table>
            <tr>
                <td style="padding-left: 20px;" data-dojo-attach-point="selectorDescriptionLabelContainer">
                    <span data-dojo-attach-point="selectorDescriptionLabel"></span>
                </td>
                <td>
                    <input dojoType="dijit.form.TextBox" style="width:180px;" data-dojo-attach-point="taskAssigneeIdField" readonly ></input>
                    <span style="padding-right: 8px;padding-left: 10px;" data-dojo-type="vfbam.userclient.common.UI.widgets.TextDropdownButton" data-dojo-attach-point="roleParticipantSearchLabel"></span>
                    <span data-dojo-type="vfbam.userclient.common.UI.widgets.TextDropdownButton" data-dojo-attach-point="globalParticipantSearchLabel"></span>
                </td>
            </tr>
            <tr><td></td></tr>
        </table>
    </div>
</div>