//
// Licensed Materials - Property of IBM
// (C) Copyright IBM Corp. 2010, 2013 All Rights Reserved
// US Government Users Restricted Rights - Use, duplication or
// disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
//

.dijitCalendarRtl .dijitCalendarIncrease {
  background-position: -77px 0;
}
.dijitCalendarRtl .dijitCalendarDecrease {
  background-position: -25px 0;
}
.dijitCalendarRtl .dijitCalendarArrowHover .dijitCalendarIncrease {
  background-position: -177px 0;
}
.dijitCalendarRtl .dijitCalendarArrowHover .dijitCalendarDecrease {
  background-position: -125px 0;
}
.dijitCalendarRtl .dijitCalendarArrowActive .dijitCalendarIncrease {
  background-position: -177px 0;
}
.dijitCalendarRtl .dijitCalendarArrowActive .dijitCalendarDecrease {
  background-position: -125px 0;
}
.dijitCalendarRtl .dijitDropDownButton .dijitButtonNode {
    padding: 0 2px 0 3px;
}
.dijitCalendarRtl .dijitCalendarDateTemplate .dijitCalendarDateLabel {
    padding: 3px 4px 3px 5px;
}
.dijitCalendarRtl .dijitCalendarDisabledDate .dijitCalendarDateLabel {
    padding: 4px 5px 4px 6px;
}
.dijitCalendarRtl .dijitDropDownButtonRtl .dijitButtonText {
    padding: 1px 0 3px;
}
