//
// Licensed Materials - Property of IBM
// (C) Copyright IBM Corp. 2010, 2013 All Rights Reserved
// US Government Users Restricted Rights - Use, duplication or
// disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
//

/* Dialog */
.dijitDialogRtl .dijitDialogCloseIcon {
  right: auto;
  left: 5px;
}
.dijitDialogRtl .dijitDialogPaneActionBar {
  text-align: left;
  padding: 20px 0 4px;
}
.dijitDialogRtl .dijitDialogPaneActionBar .dijitButton {
  margin: 0 5px 0 0;
}
.dijitRtl & .dijitTooltipAbove,
.dijitRtl & .dijitTooltipBelow {
	margin-right: -10px;
}
.dijitRtl & .dijitTooltipABRight .dijitTooltipConnector{
	right: 9px;
}

