.testTitle {
	margin: 20px 10px;
}

.testInstruction {
	margin: 10px;
}

.testInstruction th {
	background-color: #EEEEEE;
	font-weight: bold;
	padding: 5px 10px;
	text-align: inherit; 
}

.testInstruction td {
	padding: 5px 10px;
	vertical-align: top;
	border-bottom: 1px solid #EEEEEE;
}

hr {
	border: 0px none #FFFFFF;
	border-bottom: 1px solid #EEEEEE;
}
