/*
 * Licensed Materials - Property of IBM
 * (C) Copyright IBM Corp. 2010, 2012 All Rights Reserved
 * US Government Users Restricted Rights - Use, duplication or
 * disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
 */

.oneui .idxBreadcrumb {
	
}

.oneui .idxBreadcrumb .idxBreadcrumbItem {
	color: black;
	text-decoration: none;
	margin-right: 7px;
}

.oneui .idxBreadcrumb .idxBreadcrumbItem.idxBreadcrumbItemClickable {
	color: #00649d;
}

.oneui .idxBreadcrumb .idxBreadcrumbItem.idxBreadcrumbItemClickable:hover {
	text-decoration: underline;
	color: #05386b;
	}