/** Licensed Materials - Property of IBM* (C) Copyright IBM Corp. 2010, 2012 All Rights Reserved* US Government Users Restricted Rights - Use, duplication or* disclosure restricted by GSA ADP Schedule Contract with IBM Corp.\*/  @import "../../dijit/variables";  .@{theme-name} .idxCheckBoxSelect.dijitRtl .idxCheckBoxSelectWrapLabel {
    text-align: right;
}
.@{theme-name} {
    .idxCheckBoxSelectMenu {
        .dijitMenuItemRtl {
            td.dijitMenuItemIconCell {
                margin: 0;
                padding: 6px 10px;
                width: 16px;
            }
        }
    }
}
.@{theme-name} .dijitMenuPopup .idxCheckBoxSelectMenu .dijitMenuItemRtl .dijitMenuItemLabel,.@{theme-name} .dijitMenuPopup .idxCheckBoxSelectMenu .dijitCheckedMenuItemRtl .dijitMenuItemLabel,.@{theme-name} .dijitMenuPopup .idxCheckBoxSelectMenu .oneuiMenuHeadingRtl .oneuiMenuHeadingLabel {
    text-align: right;
    padding: 6px 10px;
}
