/** Licensed Materials - Property of IBM* (C) Copyright IBM Corp. 2010, 2012 All Rights Reserved* US Government Users Restricted Rights - Use, duplication or* disclosure restricted by GSA ADP Schedule Contract with IBM Corp.\*/
.dlBlue .idxCheckBoxListItem {
  cursor: default;
  padding: 4px 4px 4px 0;
  white-space: nowrap;
}
.dlBlue .idxCheckBoxListItemDisabled label {
  color: #4c4d53;
}
.dlBlue .idxCheckBoxListItem .dijitCheckBox {
  margin-right: 5px;
}
.dlBlue .idxCheckBoxListItem label {
  vertical-align: middle;
}
.dlBlue .idxCheckBoxListWrap .idxCompContainer {
  position: relative;
  padding: 2px 39px 3px 8px;
}
.dlBlue .idxCheckBoxListWrap .dijitValidationContainer {
  display: none;
}
.dlBlue .idxCheckBoxListWrap .idxLabel {
  margin-top: 7px;
}
.dlBlue .idxCheckBoxListWrapError .idxCompContainer {
  background: #faebec;
  border: 1px solid #d9182d;
  padding: 1px 38px 2px 7px;
  -moz-border-radius: 1px;
  border-radius: 1px;
}
.dlBlue .idxCheckBoxListWrapError .dijitValidationContainer {
  display: block;
  position: absolute;
  top: 1px;
  right: 2px;
  height: 15px;
}
.dlBlue .idxCheckBoxListWrapError .dijitValidationContainer .dijitValidationIcon {
  margin: 0;
}
.dj_ie6 .dlBlue .idxCheckBoxListItem label {
  top: 1px;
  position: relative;
}
