/** Licensed Materials - Property of IBM* (C) Copyright IBM Corp. 2010, 2012 All Rights Reserved* US Government Users Restricted Rights - Use, duplication or* disclosure restricted by GSA ADP Schedule Contract with IBM Corp.\*/  @import "../../dijit/variables";  

.@{theme-name} .oneuiHintOutside {
    margin: 5px 0 0 10px;
}
.@{theme-name} {
    .dijitComboBoxMenu {
        background: @container-background-color;
        border-color: @disabled-border-color;
        .dijitMenuItem{
        	color: @text-color;
        }
        .dijitMenuItemHover, .dijitMenuItemSelected{
        	background: @dropdown-listitem-hovered-background-color;
	        border-color: @dropdown-listitem-hovered-background-color;
	        color: @text-color;
        }
    }
}
