/** Licensed Materials - Property of IBM* (C) Copyright IBM Corp. 2010, 2012 All Rights Reserved* US Government Users Restricted Rights - Use, duplication or* disclosure restricted by GSA ADP Schedule Contract with IBM Corp.\*/
.dlBlue .idxDateTextBoxWrap .dijitValidationContainer {
  height: auto;
}
.dj_ie6 .dlBlue .idxDateTextBoxWrap .dijitDateTextBox .dijitInputField .dijitPlaceHolder {
  padding-top: 3px;
}
.dlBlue .idxDateTextBoxWrap .dijitDateTextBox .idxCalendarIcon {
  display: block;
}
.dlBlue .idxDateTextBoxWrap .dijitDateTextBox .idxCalendarIcon_a11y {
  display: none;
}
.dlBlue .dijitCalendar .dijitCalendarCurrentDate {
  text-decoration: underline;
  font-weight: bold;
}
.dj_a11y .idxDateTextBoxWrap .dijitDateTextBox .idxCalendarIcon {
  display: none;
}
.dj_a11y .idxDateTextBoxWrap .dijitDateTextBox .idxCalendarIcon_a11y {
  display: block;
}
