
@import "../../dijit/variables";
.@{theme-name} {
    .idxLinkDerived.dijitDisabled {
        color: #696969;
    }
    .idxLinkDerived.dijitDisabled:hover {
        text-decoration: none;
        cursor: default;
    }
    .idxAppMarquee {
        .idxLinkDerived.dijitDisabled {
            color: #696969;
        }
        .idxLinkDerived.dijitDisabled:hover {
            text-decoration: none;
            cursor: default;
        }
    }
}
