/*
 * Licensed Materials - Property of IBM
 * (C) Copyright IBM Corp. 2010, 2012 All Rights Reserved
 * US Government Users Restricted Rights - Use, duplication or
 * disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
 */

.oneui.dark .idxRadioButtonSetWrapError .idxCompContainer{
	background: #2f2222;	
	border-color: rgb(205, 49, 42);
	border-color: rgba(205, 49, 42, 0.15);
}