<input type="button"
	aria-label='${nls.defineFilterAriaLabel}'
	data-dojo-type="dijit/form/Button"
	data-dojo-props="
		iconClass: 'gridxFilterBarBtnIcon',
		showLabel: false,
		label: '${nls.defineFilter}'
"/><div class="gridxFilterBarStatus"
	><span class="gridxFilterBarStatusText"></span
	><a action="clear" title="${nls.filterBarClearButton}" tabindex="-1">${nls.filterBarClearButton}</a
></div
><span class="gridxFilterBarCloseBtn" tabindex="-1" title="${nls.closeFilterBarBtn}"
	><span class="gridxFilterBarCloseBtnText">x</span
></span>

