//
// Licensed Materials - Property of IBM
// (C) Copyright IBM Corp. 2010, 2013 All Rights Reserved
// US Government Users Restricted Rights - Use, duplication or
// disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
//


.dijitRtl & div.idxAppMarqueeLeft {
  position: absolute;
  overflow: hidden;
  padding-left: 25px;
  background: none black;
}

.dijitRtl & div.idxAppMarqueeRight {
  position: absolute;
  overflow: hidden;
  padding-right: 30px;
  padding-left: 0px;
  background: none;
}

.dijitRtl & .idxAppFrameMarquee div.idxAppMarqueeLeft {
  padding-left: 25px;
}


.dijitRtl & .idxAppFrameMarquee div.idxAppMarqueeRight {
  padding-right: 0px;
}

.dijitRtl & div.idxAppMarqueeBody {
  text-align: left;
}

.dijitRtl & .idxAppMarquee.idxAppMarqueeShowAppLogo .idxAppMarqueeAppLogo {
  right: 30px;
  left: auto;
}

.dijitRtl & .idxAppFrameMarquee .idxAppMarquee.idxAppMarqueeShowAppLogo .idxAppMarqueeAppLogo {
  right: 0px;
  left: auto;
}

.dijitRtl & .idxAppMarquee.idxAppMarqueeShowAppName .idxAppMarqueeAppName,
.dijitRtl.dijit_a11y & .idxAppMarquee.idxAppMarqueeShowAppLogo .idxAppMarqueeAppName {
  right: 0px;
  left: auto;
  padding-right: 30px;
  padding-left: 0px;
}

.dijitRtl & .idxAppFrameMarquee .idxAppMarquee.idxAppMarqueeShowAppName .idxAppMarqueeAppName {
  padding-right: 0px;
}

.dijitRtl & .idxAppMarquee.idxAppMarqueeShowAppLogo .idxAppMarqueeVendorLogo {
  right: auto;
  left: 25px;
}

.dijitRtl & .idxAppFrameMarquee .idxAppMarquee.idxAppMarqueeShowAppLogo .idxAppMarqueeVendorLogo {
  right: auto;
  left: 25px;
}

.dijitRtl & .idxAppMarquee.idxAppMarqueeShowAppName .idxAppMarqueeVendorName,
.dijitRtl & .dijit_a11y .idxAppMarquee.idxAppMarqueeShowAppLogo .idxAppMarqueeVendorName {
  text-align: left;
}

.dijitRtl & .idxAppFrameMarquee .idxAppMarquee.idxAppMarqueeShowAppName .idxAppMarqueeVendorName {
  padding-left: 0px;
}
