//
// Licensed Materials - Property of IBM
// (C) Copyright IBM Corp. 2010, 2013 All Rights Reserved
// US Government Users Restricted Rights - Use, duplication or
// disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
//

/** idxHeaderSecondary **/
.dijitRtl & .idxHeaderContainer .idxHeaderSecondary .idxHeaderSecondaryTitleContainer {
    float: right;
    margin-right: 30px;
    margin-left: 0;
    direction: ltr;
}
.dj_ie6.dijitRtl & .idxHeaderContainer .idxHeaderSecondary .idxHeaderSecondaryTitleContainer {
    margin-right: 20px;
}
.dijitRtl & .idxHeaderContainer .idxHeaderSecondaryWhite.idxHeaderWidthFixed .idxHeaderSecondary .idxHeaderSecondaryTitleContainer {
    margin-left: -1px;
}

/** idxHeaderPrimary **/
.dijitRtl & .idxHeaderContainer .idxHeaderPrimary .idxHeaderPrimaryTitle {
    margin: 0 13px 0 8px;
}

.dijitRtl & .idxHeaderContainer .idxHeaderPrimaryThick .idxHeaderPrimary .idxHeaderPrimaryTitle {
    margin: 10px 9px 13px 8px;
}

.dijitRtl & .idxHeaderContainer .idxHeaderPrimary li > span {
    float: right;
    margin: 10px 7px 0 6px;
    padding: 0 10px 0 9px;
}

.dijitRtl & .idxHeaderContainer .idxHeaderPrimary li.idxHeaderPrimaryAction > * {
    float : left;
}

.dijitRtl & .idxHeaderContainer .idxHeaderPrimary .idxHeaderDropDown .idxHeaderDropDownArrow {
    margin: 0 5px 0 0;
}

.dijitRtl & .idxHeaderContainer .idxHeaderPrimary li.idxHeaderPrimaryAction.idxHeaderHelp > * {
    margin: 0 5px 0 18px;
}

.dijitRtl & .idxHeaderContainer .idxHeaderPrimary .idxHeaderLogo {
    float: left;
    background: url('images/idx/app/headerLogo.png') no-repeat 65% 23%;
}

/** Menu **/
.dijitRtl & .idxHeaderContainer .dijitMenuItem,
.dijitRtl & .idxHeaderContainer .oneuiMenuHeading {
	text-align: right;
}

.dijitRtl & .idxHeaderContainer .dijitMenuBar .dijitMenuItem:first-child,
.dijitRtl & .idxHeaderContainer .dijitMenuBar .oneuiMenuHeading:first-child {
	margin: 0 8px 0 0;
}

/** Search Box Start **/
.dijitRtl & .idxHeaderContainer .idxHeaderSearchContainer {
    right: 0px;
    float: left;
}

.dijitRtl & .idxHeaderContainer .idxHeaderSearchContainer .dijitTextBox .dijitInputField {
    margin: 3px 10px 3px 29px;
}
.dijitRtl.dj_ie7 & .idxHeaderContainer .idxHeaderSearchContainer .dijitTextBox .dijitInputField {
    margin: 1px 10px 0px 29px;
}
.dijitRtl.dj_webkit & .idxHeaderContainer .idxHeaderPrimary .idxHeaderSearchContainer .dijitTextBox .dijitInputField {
    margin: 3px 10px 0px 29px;
}

.dijitRtl & .idxHeaderContainer .idxHeaderSearchContainer .dijitPlaceHolder {
    right: -10px;
}

.dijitRtl & .idxHeaderContainer .idxHeaderSearchContainer .dijitTextBoxFocused .dijitInputContainer {
    margin-right: 10px;
    margin-left: 0;
}
/** Search Box End **/


/** Nav Search Box Start **/
.dijitRtl & .idxHeaderContainer .idxHeaderPrimary .idxHeaderSearchContainer .dijitTextBox {
    right: -24px;
    float: left;
}
/** Nav Search Box End **/


/** Seach button**/
.dijitRtl & .idxHeaderContainer .idxHeaderSearchContainer .dijitButton .dijitButtonNode, 
.dijitRtl & .idxHeaderContainer .idxHeaderSearchContainer .dijitDropDownButton .dijitButtonNode, 
.dijitRtl & .idxHeaderContainer .idxHeaderSearchContainer .dijitComboButton .dijitButtonNode, 
.dijitRtl & .idxHeaderContainer .idxHeaderSearchContainer .dijitToggleButton .dijitButtonNode {
    text-align: left;
}

.dijitRtl & .idxHeaderContainer .idxHeaderPrimary .idxHeaderSearchContainer .dijitButton .dijitButtonNode, 
.dijitRtl & .idxHeaderContainer .idxHeaderPrimary .idxHeaderSearchContainer .dijitDropDownButton .dijitButtonNode, 
.dijitRtl & .idxHeaderContainer .idxHeaderPrimary .idxHeaderSearchContainer .dijitComboButton .dijitButtonNode, 
.dijitRtl & .idxHeaderContainer .idxHeaderPrimary .idxHeaderSearchContainer .dijitToggleButton .dijitButtonNode {
    left: -220px;
}

.dijitRtl & .idxHeaderContainer .idxHeaderSecondary .idxHeaderSearchContainer .dijitButton .dijitButtonNode, 
.dijitRtl & .idxHeaderContainer .idxHeaderSecondary .idxHeaderSearchContainer .dijitDropDownButton .dijitButtonNode, 
.dijitRtl & .idxHeaderContainer .idxHeaderSecondary .idxHeaderSearchContainer .dijitComboButton .dijitButtonNode, 
.dijitRtl & .idxHeaderContainer .idxHeaderSecondary .idxHeaderSearchContainer .dijitToggleButton .dijitButtonNode {
    left: 28px;
}
.dj_ie7.dijitRtl & .idxHeaderContainer .idxHeaderSecondary .idxHeaderSearchContainer .dijitButton .dijitButtonNode, 
.dj_ie7.dijitRtl & .idxHeaderContainer .idxHeaderSecondary .idxHeaderSearchContainer .dijitDropDownButton .dijitButtonNode, 
.dj_ie7.dijitRtl & .idxHeaderContainer .idxHeaderSecondary .idxHeaderSearchContainer .dijitComboButton .dijitButtonNode, 
.dj_ie7.dijitRtl & .idxHeaderContainer .idxHeaderSecondary .idxHeaderSearchContainer .dijitToggleButton .dijitButtonNode {
	position: absolute;
	top: 8px;
	left: 17px;
}

/** Edit button **/
.dijitRtl & .idxHeaderContainer .idxHeaderSecondaryActions {  
    left: 7px;
    float: left;
}
/* .dijitRtl & .idxHeaderContainer .idxHeaderSecondaryActions .dijitButton .dijitButtonNode, 
.dijitRtl & .idxHeaderContainer .idxHeaderSecondaryActions .dijitDropDownButton .dijitButtonNode, 
.dijitRtl & .idxHeaderContainer .idxHeaderSecondaryActions .dijitComboButton .dijitButtonNode, 
.dijitRtl & .idxHeaderContainer .idxHeaderSecondaryActions .dijitToggleButton .dijitButtonNode {
    padding: 5px 5px 6px 4px; */


/** TabContainer **/
.dijitRtl & .oneuiContentContainer .dijitTabPaneWrapper, 
.dijitRtl & .oneuiContentContainer .dijitTabContainerTop-tabs, 
.dijitRtl & .oneuiContentContainer .dijitTabContainerBottom-tabs, 
.dijitRtl & .oneuiContentContainer .dijitTabContainerLeft-tabs, 
.dijitRtl & .oneuiContentContainer .dijitTabContainerRight-tabs {
    margin: 0 14px 0 0;
}

.dijitRtl & .oneuiContentContainer .dijitTabContainerTop-tabs .dijitTabContent {
    padding: 0px 16px 0px 11px;
}

.dijitRtl & .oneuiContentContainer .dijitTabContainerTop-tabs .dijitTabHover.dijitTabContent {
    -webkit-box-shadow: -1px 0px #065b87 inset, 0px 1px #065b87 inset, -1px 0px #065b87;
    -moz-box-shadow: -1px 0px #065b87 inset, 0px 1px #065b87 inset, -1px 0px #065b87;
    box-shadow: -1px 0px #065b87 inset, 0px 1px #065b87 inset, -1px 0px #065b87;
}

.dijitRtl & .idxHeaderSecondarySingleRow .oneuiContentContainer .dijitTabContainerTop-tabs .dijitTabHover.dijitTabContent {
    -webkit-box-shadow: -1px 0px #065b87 inset, -1px 0px #065b87;
    -moz-box-shadow: -1px 0px #065b87 inset, -1px 0px #065b87;
    box-shadow: -1px 0px #065b87 inset, -1px 0px #065b87;
}

.dijitRtl & .idxHeaderSecondaryGray .oneuiContentContainer .dijitTabContainerTop-tabs .dijitTabHover.dijitTabContent {
    -webkit-box-shadow: -1px 0px #d2d2d2 inset, 0px 1px #d2d2d2 inset, -1px 0px #d2d2d2;
    -moz-box-shadow: -1px 0px #d2d2d2 inset, 0px 1px #d2d2d2 inset, -1px 0px #d2d2d2;
    box-shadow: -1px 0px #d2d2d2 inset, 0px 1px #d2d2d2 inset, -1px 0px #d2d2d2;
}

.dijitRtl & .idxHeaderSecondaryGray.idxHeaderSecondarySingleRow .oneuiContentContainer .dijitTabContainerTop-tabs .dijitTabHover.dijitTabContent {
    -webkit-box-shadow: -1px 0px #d2d2d2, -1px 0px #d2d2d2 inset;
    -moz-box-shadow: -1px 0px #d2d2d2, -1px 0px #d2d2d2 inset;
    box-shadow: -1px 0px #d2d2d2, -1px 0px #d2d2d2 inset;
}

.dijitRtl & .oneuiContentContainer .dijitTabContainerTop-tabs .dijitTabChecked.dijitTabContent {
    padding: 0px 16px 0x 11px;
    -webkit-box-shadow: -1px 0px #065b87 inset, -1px 0px #065b87, 0px 1px #065b87 inset;
    -moz-box-shadow: -1px 0px #065b87 inset, -1px 0px #065b87, 0px 1px #065b87 inset;
    box-shadow: -1px 0px #065b87 inset, -1px 0px #065b87, 0px 1px #065b87 inset;
}

.dijitRtl & .idxHeaderSecondarySingleRow .oneuiContentContainer .dijitTabContainerTop-tabs .dijitTabChecked.dijitTabContent {
    -webkit-box-shadow: -1px 0px #065b87, -1px 0px #065b87 inset;
    -moz-box-shadow: -1px 0px #065b87, -1px 0px #065b87 inset;
    box-shadow: -1px 0px #065b87, -1px 0px #065b87 inset;
}

.dijitRtl & .idxHeaderSecondaryGray .oneuiContentContainer .dijitTabContainerTop-tabs .dijitTabChecked.dijitTabContent {
    -webkit-box-shadow: -1px 0px #d2d2d2 inset, -1px 0px #d2d2d2, 0px 1px #d2d2d2 inset;
    -moz-box-shadow: -1px 0px #d2d2d2 inset, -1px 0px #d2d2d2, 0px 1px #d2d2d2 inset;
    box-shadow: -1px 0px #d2d2d2 inset, -1px 0px #d2d2d2, 0px 1px #d2d2d2 inset;
}

.dijitRtl & .idxHeaderSecondaryGray.idxHeaderSecondarySingleRow .oneuiContentContainer .dijitTabContainerTop-tabs .dijitTabChecked.dijitTabContent {
    -webkit-box-shadow: -1px 0px #d2d2d2, -1px 0px #d2d2d2 inset;
    -moz-box-shadow: -1px 0px #d2d2d2, -1px 0px #d2d2d2 inset;
    box-shadow: -1px 0px #d2d2d2, -1px 0px #d2d2d2 inset;
}

.dijitRtl & .oneuiContentContainer .dijitTab .tabLabel {
    left: 1px; /* adjust position for font-weight bold in rtl - text 1px shift to the left in bold */
}

.dijitRtl & .oneuiContentContainer .dijitTabCloseButton {
    margin: 0 4px 0 -2px;
}

.dijitRtl & .oneuiContentContainer .dijitTabChecked .dijitTabCloseButton {
    margin: 0 4px 0 -2px;
}

.dijitRtl & .oneuiContentContainer .dijitTabArrowButton {
    margin: 0 3px 0 -3px;
}

.dijitRtl & .oneuiContentContainer .idxTabSeparator {
    right: 13px;
}
