//
// Licensed Materials - Property of IBM
// (C) Copyright IBM Corp. 2010, 2013 All Rights Reserved
// US Government Users Restricted Rights - Use, duplication or
// disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
//

.idxTabMenuDockOptions {
  background-image: url('images/blank.gif?tabWidget=idx.app.WorkspaceTab&autoHeight=false');
}

div.idxTabMenuDock {
    height: 48px;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    .gradient(@brand, @brandDarker);
}

div.idxTabMenuDockTabs {
    position: absolute; 
    left: 15px;
    right: 25px;
    top: 0px;
    bottom: 0px;
}


