//
// Licensed Materials - Property of IBM
// (C) Copyright IBM Corp. 2010, 2013 All Rights Reserved
// US Government Users Restricted Rights - Use, duplication or
// disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
//

.dijitRtl & div.idxWorkspaceTabTitle {
  border-left-style: none;
  border-left-width: 0px;
  border-left-color: transparent;
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: @brandDarker;
}

.dijitRtl & div.idxWorkspaceTabTitlePostHovered {
  border-left-style: none;
  border-left-width: 0px;
  border-left-color: transparent;
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: transparent;
}

.dijitRtl & div.idxWorkspaceTabTitlePostSelected {
  border-left-style: none;
  border-left-width: 0px;
  border-left-color: transparent;
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: transparent;
}

.dijitRtl & div.idxWorkspaceTabTitleHovered {
  border-left-style: none;
  border-left-width: 0px;
  border-left-color: transparent;
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: transparent;
}

.dijitRtl & div.idxWorkspaceTabTitleSelected {
  border-left-style: none;
  border-left-width: 0px;
  border-left-color: transparent;
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: transparent;
}

.dijitRtl & div.idxWorkspaceTabTitleFirst {
  border-left-style: none;
  border-left-width: 0px;
  border-left-color: transparent;
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: transparent;
}


