<table width="100%" border="0">
    <tr>
        <td><span style="font-size: 1.0em; font-weight: bold;color: #444444;"><i class="icon-calendar"></i> 工作日程表</span></td>
        <td align="right"><i class="icon-cog"></i> <span data-dojo-type="idx.form.Link" onClick="showComponentConfigDialog">工作日程表设置</span></td>
    </tr>
    <tr>
        <td colspan="2" >
            <div class="app_headerDivLine"></div>
        </td>
    </tr>
</table>

<table width="100%" border="0" style="padding-top: 9px;">
    <tr>
        <td style="width: 225px; max-width: 225px;vertical-align: top;" class="app_contentBorderLine">
            <div style="font-size: 0.8em;color: #888888;height: 15px; padding-top: 5px;padding-left: 5px;"><i class="icon-time"></i> 日期范围选择:</div>
            <div class="app_headerDivLine"></div>
            <div style="padding-left: 8px;padding-top: 10px;">
                <div id="app_calendarCenter_calendarDateChooser" style="width: 210px;"></div>
            </div>

            <div style="font-size: 0.8em;color: #888888;height: 15px; padding-top: 25px;padding-left: 5px;"><i class="icon-filter"></i> 过滤活动选择:</div>
            <div class="app_headerDivLine"></div>
            <div style="padding-left: 8px;padding-top: 10px;">
                <select dojoType="idx.form.CheckBoxSelect" fieldWidth="235px" maxHeight="200" valueAttr="abbreviation" value="AL"
                        aria-label="Disabled example of idx.form.DropDownMultiSelect"
                        store="new dojo.data.ItemFileReadStore({url:'ibmjs/idx/tests/testdata/states.json'})">
                </select>
            </div>
            <div style="font-size: 0.8em;color: #888888;height: 15px; padding-top: 0px;padding-left: 5px;"><i class="icon-calendar-empty"></i> 日历选择:</div>
            <div class="app_headerDivLine"></div>
            <div style="padding-left: 8px;padding-top: 10px;font-size: 0.9em;color: #666666;">
                <div style="padding-bottom: 5px;">
                    <input dojoType="dijit.form.CheckBox" aria-label="Enabled example of unchecked dijit.form.CheckBox"><i class="icon-user"></i> 我的日历</input>
                </div>
                 <div style="padding-bottom: 5px;">
                     <input dojoType="dijit.form.CheckBox" aria-label="Enabled example of unchecked dijit.form.CheckBox"><i class="icon-group"></i> 维修部</input>
                 </div>
                <div style="padding-bottom: 5px;">
                    <input dojoType="dijit.form.CheckBox" aria-label="Enabled example of unchecked dijit.form.CheckBox"><i class="icon-group"></i> 定损理赔部</input>
                </div>
            </div>
            <div style="height: 15px;"></div>
        </td>
        <td class="claro">
            <div style="clear:both;position: absolute; width: 80%; height: 92%;top:50px;">
                <div id="app_calendarCenter_userCalendar" style="left: 10px; top: 10px; bottom: 10px; right: 10px; posiiton: absolute">
                </div>
                <!--
                <div id="app_calendarCenter_userCalendar" data-dojo-type="dojox.calendar.Calendar"
                     data-dojo-props="summaryAttr:'Title',startTimeAttr:'StartDateTime',endTimeAttr:'EndDateTime',
							decodeDate:this.decodeDate,encodeDate:this.encodeDate,columnViewProps:{minHours:0,maxHours:24}"
                     style="left: 10px; top: 10px; bottom: 10px; right: 10px; posiiton: absolute">
                </div>
                -->
            </div>
        </td>
    </tr>
</table>

<style type="text/css">
    .claro .dojoxCalendarEvent.Calendar1 .bg {
        background-color: #00AA00;
    }
    .claro .dojoxCalendarEvent.Calendar1.Hovered .bg {
        background-color: #00FF00;
    }
    .claro .dojoxCalendarEvent.Calendar1.Selected .bg {
        background-color: #004400;
    }
    .claro .dojoxCalendarEvent.Calendar2 .bg {
        background-color: #0000AA;
    }
    .claro .dojoxCalendarEvent.Calendar2.Hovered .bg {
        background-color: #0000FF;
    }
    .claro .dojoxCalendarEvent.Calendar2.Selected .bg {
        background-color: #000044;
    }
</style>


<script type="text/javascript" src="vfbam/userclient/components/calendarCenter/calendarCenter.js"></script>
