<div style="width: 300px;">
    <div style="font-size: 0.8em;color: #666666;height: 15px;padding-left: 5px;padding-top:15px;padding-left: 10px;">
        请选择需要删除的分类属性名称：
    </div>
    <div class="app_headerDivLine"></div>
    <div style="padding-left: 10px;padding-right: 5px;padding-top: 5px;padding-bottom: 5px;font-size: 1.0em;color: #444444;" data-dojo-attach-point="propertyListContainer">
    </div>
    <div class="app_headerDivLine"></div>
    <div style="text-align: right;padding-bottom: 5px;padding-top: 5px;padding-right: 5px;">
        <button dojoType="dijit.form.Button" data-dojo-attach-event="onClick:doDeleteProperties" data-dojo-attach-point="deletePropertiesButton"><i class="icon-trash"></i> 删除</button>
    </div>
</div>