.idxBreadcrumb .idxBreadcrumbItem {
  color: @textDefault;
  text-decoration: none;
  padding: 0 4px;
}
.idxBreadcrumb .idxBreadcrumbItem.idxBreadcrumbItemClickable {
  color: @linkColor;
}
.idxBreadcrumb .idxBreadcrumbItem.idxBreadcrumbItemClickable:hover {
	color: @linkHover;
	text-decoration: underline;
}

.idxBreadcrumb .altText {
	visibility: hidden;
}

.idxBreadcrumb .separator {
	background: url('images/idx/layout/leftNavArrows.png') 0 no-repeat;
}