.idxEditController {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: 0px;
}
.dj_ie7 & .idxEditController {
  display: inline;
}
.dj_webkit & .idxEditController {
  top: 0px;
}
.dj_ie7 & .idxEditController {
  top: 0px;
}
.dj_ie8 & .idxEditController {
  top: 0px;
}
.dj_ie9 & .idxEditController {
  top: 0px;
}
.idxButtonBar.idxEditControllerButtonBar {
  display: none;
  visibility: hidden;
  vertical-align: middle;
}
.idxEditControllerEditLink {
  display: inline;
  visibility: visible;
  vertical-align: middle;
}
.idxEditControllerReadOnly .idxEditControllerEditLink,
.idxEditControllerEditMode .idxEditControllerEditLink {
  display: none;
  visibility: hidden;
}
.idxEditControllerEditMode .idxEditControllerButtonBar,
.idxEditControllerEditMode .idxButtonBar.idxEditControllerButtonBar {
  display: inline-block;
  visibility: visible;
}
.dj_ie7 & .idxEditControllerEditMode .idxEditControllerButtonBar,
.dj_ie7 & .idxEditControllerEditMode .idxButtonBar.idxEditControllerButtonBar {
  display: inline;
}
