.idxErrorDialogMessageId {
  padding: 10px 5px 0;
  position: absolute;
  left: 10px;
}
.dijitRtl & .idxErrorDialogMessageId {
  left: auto;
  right: 10px;
}
.idxErrorDialogSummary {
  font-weight: bold;
}
.idxErrorDialogDetail {
  margin: 10px 0px 0px;
}
