/*
 * Licensed Materials - Property of IBM
 * (C) Copyright IBM Corp. 2010, 2012 All Rights Reserved
 * US Government Users Restricted Rights - Use, duplication or
 * disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
 */
.dijitRtl & .idxOneuiHoverHelpTooltipAbove,
.dijitRtl & .idxOneuiHoverHelpTooltipBelow {
  margin-right: -10px;
}
.dijitRtl & .idxOneuiHoverHelpTooltipABRight .idxOneuiHoverHelpTooltipConnector {
  right: 9px;
}
.dijitRtl & .idxOneuiHoverHelpTooltipLearnLink span {
  background: url('images/idx/widget/hoverLearnMoreArrow_rtl.png') no-repeat left center;
  padding-left: 13px;
  padding-top: 1px;
}
.dijitRtl & .idxOneuiHoverHelpTooltipRight .idxOneuiHoverHelpTooltipCloseIcon {
  right: -8px;
}
.dijitRtl & .idxOneuiHoverHelpTooltipLeft .idxOneuiHoverHelpTooltipCloseIcon {
  right: auto;
  left: -8px;
}
.dijitRtl & .idxOneuiHoverHelpTooltipAbove .idxOneuiHoverHelpTooltipCloseIcon {
  right: auto;
  left: -8px;
}
.dijitRtl & .idxOneuiHoverHelpTooltipBelow .idxOneuiHoverHelpTooltipCloseIcon {
  right: auto;
  left: -8px;
}
