/*
 * Licensed Materials - Property of IBM
 * (C) Copyright IBM Corp. 2010, 2012 All Rights Reserved
 * US Government Users Restricted Rights - Use, duplication or
 * disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
 */
.dijitRtl & .idxPreviewContent {
  padding: 20px 137px 0 20px;
  /*137px to account for image and no-text wrapping */

  position: relative;
  font-size: 14px;
  color: #222222;
  line-height: 18px;
}
.dijitRtl & .idxPreviewContent p {
  margin-top: 8px;
  text-align: right;
}
.dijitRtl & .idxOneuiHoverCardMoreActions {
  float: left;
  padding: 5px 10px;
}
.dijitRtl & .idxOneuiHoverCardLeft .idxOneuiHoverCardCloseIcon {
  right: auto;
  left: -13px;
}
.dijitRtl & .idxOneuiHoverCardBelow .idxOneuiHoverCardCloseIcon {
  right: auto;
  left: -13px;
}
.dijitRtl & .idxOneuiHoverCardAbove .idxOneuiHoverCardCloseIcon {
  right: auto;
  left: -13px;
  top: -4px;
}
.dijitRtl & .idxOneuiHoverCardABRight .idxOneuiHoverCardConnector {
  right: 10px;
}
.dijitRtl & .idxOneuiHoverCardActionIcons {
  float: right;
  padding: 4px 10px 7px 0;
}
.idxOneuiHoverCardMenuRtl {
  float: left;
}
