.idxPersonCard {
  padding: 5px;
  color: @textSecondary;
}
.idxPersonCardContainer {
  border-bottom: 1px solid @fwBase;
  padding-bottom: 10px;
}
.idxPersonCardContainer > div {
  padding: 2px;
  margin-left: 137px;
}
.dijitRtl & .idxPersonCardContainer > div {
  margin-left: 0px;
  margin-right: 137px;
}
.idxPersonCardPhoto {
  margin: 0 20px 20px 20px;
  height: 90px;
  width: 90px;
  padding: 3px;
  background-color: @fwBackground;
  border: 1px solid @fwBase;
  float: left;
}
.dijitRtl & .idxPersonCardPhoto {
  float: right;
}
.idxPersonCardFn {
  font-family: @serif;
  font-size: 22px;
  color: @linkHover;
}
.idxPersonCardTitle {
  font-size: .9em;
  color: @textDefault;
}
.idxPersonCardOrg {
  font-size: .9em;
}
.idxPersonCardAdr {
  font-size: .8em;
}
.idxPersonCardTel {
  font-size: .8em;
}
.idxPersonCardEmail {
  font-size: .9em;
}
.idxPersonCardSametime {
  font-size: .9em;
}
.dijitRtl & .idxPersonCard .awareness {
  background-position: right center;
  padding-right: 18px;
}
