.dijitRtl &  .oneuiToaster {
  right: auto;
  left: 20px;
}
.dijitRtl &  .oneuiToaster .content {
  text-align: right;
  padding: 10px 0 0 10px;
}
.dijitRtl &  .oneuiToaster .content .timestamp {
  float: left;
}
.dijitRtl &  .oneuiToaster .content .meta_data {
  padding-left: 0;
  padding-right: 39px;
}
.dijitRtl &  .oneuiToaster li {
  padding-left: 15px;
  padding-right: 0;
}
.dijitRtl &  .oneuiToaster .close {
  left: -15px;
  right: auto;
}
.dijitRtl &  .oneuiToaster .status {
  float: right;
  background: url('images/idx/widget/msgIcons_24bit_rtl.png') no-repeat;
  margin: 2px 15px 0 8px;
}
.dj_ie6-rtl & .oneuiToaster .status {
  background: url('images/idx/widget/msgIcons_8bit_rtl.png') no-repeat;
}
.dijitRtl & .idx_i18n_il .oneuiToaster .status {
  background: url('images/idx/widget/msgIcons_24bit_rtl_il.png') no-repeat;
}
.dj_ie6-rtl & .idx_i18n_il .oneuiToaster .status {
  background: url('images/idx/widget/msgIcons_8bit_rtl_il.png') no-repeat;
}
.dijitRtl & .oneuiToaster .close .closeText {
  right: auto;
  left: 20px;
}
.dijitRtl &  .oneuiToaster .reveal {
  padding-left: 0px;
  padding-right: 15px;
}
