<table width="100%" border="0">
    <tr>
        <td><span style="font-size: 1.0em; font-weight: bold;color: #444444;"><i class="icon-envelope"></i> 信息中心</span></td>
        <td align="right"><i class="icon-cog"></i> <span data-dojo-type="idx.form.Link" onClick="showComponentConfigDialog">信息中心设置</span></td>
    </tr>
    <tr>
        <td colspan="2" >
            <div class="app_headerDivLine"></div>
        </td>
    </tr>
</table>

<table width="100%" border="0" style="height: 92%;">
    <tr>
        <td width="150" style="background-color: #FBFBFB;" valign="top">
            <div  style="padding-left: 5px;padding-top:9px;padding-bottom:2px;">
                <button dojoType="dijit.form.Button" placement="primary" onClick="createMessage"><i class="icon-edit"></i> 新建消息</button>
            </div>
            <div><div class="app_headerDivLine"></div></div>
            <div style="min-height: 400px;">
                <div style="padding-left: 20px;padding-bottom: 5px;padding-top:10px;font-size: 1.2em;">
                    <i class="icon-comments"></i>
                    <span data-dojo-type="idx.form.Link" onClick="loadMessages" id="app_messageCenter_loadMessagesLinkContainer">
                        <span> 消息<span id="app_messageCenter_newMessageCount">(0)</span></span>
                    </span>
                </div>
                <div style="padding-left: 20px;padding-bottom: 5px;font-size: 1.2em;font-weight: normal;" >
                    <i class="icon-info-sign"></i>
                    <span data-dojo-type="idx.form.Link"  onClick="loadNotifications" id="app_messageCenter_loadNotificationsLinkContainer">
                        <span> 通知<span id="app_messageCenter_newNotificationCount">(0)</span></span>
                    </span>
                </div>
                <div style="padding-left: 20px;font-size: 1.2em;font-weight: normal;display: none;" >
                    <i class="icon-tag"></i>
                    <span data-dojo-type="idx.form.Link"  onClick="loadTasks" id="app_messageCenter_loadTasksLinkContainer">
                        <span> 工作<span id="app_messageCenter_newTaskCount">(0)</span></span>
                    </span>
                </div>
            </div>
        </td>
        <td style="vertical-align:top;padding-left: 10px;">
            <div dojoType="dijit.layout.ContentPane" region="bottom" title="Bottom Region" splitter="true" style="min-height: 320px;" id="app_messageCenter_myMessagesContainer">
                <div dojoType="dijit.layout.BorderContainer" gutters="false" liveSplitters="true">
                    <div dojoType="dijit.layout.ContentPane" region="center" class="app_contentBorderLine">
                        <div id="app_messageCenter_messageListContainer"></div>
                    </div>
                    <div dojoType="dijit.layout.ContentPane" region="trailing" style="width: 350px;" splitter="true" class="app_contentBorderLine">
                        <div id="app_messageCenter_messagePreviewContainer"></div>
                    </div>
                </div>
            </div>
        </td>
    </tr>
</table>
<script type="text/javascript" src="vfbam/userclient/components/messageCenter/messageCenter.js"></script>