<tr class="idxPropertyRow" style="height: 32px;">
    <th class="idxPropertyRowLabel">
        <span class="idxPropertyRowLabel"><i class="icon-double-angle-right"></i> <span data-dojo-attach-point="dataFieldName"></span></span><span class="idxPropertyRowSep">:</span><span data-dojo-attach-point="requiredDataFieldPrompt" style="display:none;font-size:1.3em;color:#CE0000;font-weight:bold;
        ">*</span>
    </th>
    <td class="idxPropertyRowValue" data-dojo-attach-point="dataValueContainer">
        <div class="idxPropertyFormatter" style="font-weight: bold;">
            <div>
                <span data-dojo-attach-point="dataFieldValue"></span>
                <span data-dojo-attach-point="dataFieldValueEditorContainer" style="display:none;">
                    <span data-dojo-attach-point="dataFieldValueEditor"></span>
                </span>
                <span data-dojo-attach-point="errorMessageContainer" style="padding-left: 10px;display: none;"><img src="vfbam/userclient/css/image/error.png" width="16px" height="16px"/><span data-dojo-attach-point="errorMessageText" style="padding-left: 5px;font-weight: normal;color: #CE0000;" >XXXXX</span></span>
            </div>
        </div>
    </td>
    <td class="idxPropertyRowValue" data-dojo-attach-point="dataEditButtonContainer">
        <div>
            <i style="cursor: pointer" class="icon-edit" data-dojo-attach-event="onclick:editData" data-dojo-attach-point="dataEditButton"></i>
        </div>
    </td>
</tr>