<div style="background-color: #FFFFFF;border-top:6px solid #3391AD;">
    <table width="400px" border="0" style="padding: 10px;">
        <tr>
            <td style="width: 40px;vertical-align:top;">
                <img src="" width="64px" height="64px" class="app_photoBorder_thin" data-dojo-attach-point="participantPhoto"/>
            </td>
            <td align="left" vlign="top" style="padding-left:5px;vertical-align:top;">
                <div >
                    <span style="font-size: 1.1em;font-weight: bold;color:#444444;" data-dojo-attach-point="participantNameLabel"></span>
                    <span style="font-size: 0.9em; color:#333333;" data-dojo-attach-point="participantTitleLabel"></span>
                </div>
                <div style="font-size: 0.9em; color:#555555;" data-dojo-attach-point="participantDesc"></div>
                <div style="font-size: 0.9em; color:#333333;" data-dojo-attach-point="participantAddress"></div>
                <div style="font-size: 0.9em; color:#333333;">
                    <span><i class="icon-phone-sign"></i> <span style="font-size: 0.9em;color: #333333;" data-dojo-attach-point="participantPhoneLabel"></span></span>
                    <span style="padding-left: 15px;"><a data-dojo-attach-point="participantEmailLink" href=""><i class="icon-envelope-alt"></i> <span data-dojo-attach-point="participantEMailLabel"></span></a></span>
                </div>
                <div class="app_headerDivLine_thin"></div>
                <div style="padding-top: 5px;">
                    <span data-dojo-attach-event="onclick:sendMessage" style="cursor: pointer;"><i class="icon-edit"></i> 发送消息</span>
                    <span style="font-size: 0.9em;color: #AAAAAA;padding-right: 5px;">|</span>
                </div>
            </td>
        </tr>
    </table>
</div>
