<div style="width:400px;height:550px;">
    <div style="padding-left: 10px; padding-top: 10px;padding-bottom: 6px;"><span style="font-size: 1.3em;color: #888888;"><i class="icon-user"></i> 部门用户</span></div>
    <div class="app_headerDivLine_thin" style="border-bottom-color:#CCCCCC;"></div>
    <div>
        <div class="app_taskCenter_activityLauncher_header">
            <div style="padding: 5px;font-size: 0.9em;">
                <span style="font-weight: bold;padding-right: 10px;color: #AAAAAA;"><i class='fa fa-group'></i> 所属部门 :</span>
                <span style="font-size: 0.9em;padding-right: 5px;" data-dojo-attach-point="roleNameLabel">|</span>
            </div>
        </div>
        <div style="overflow: auto;height: 415px;padding: 5px;" data-dojo-attach-point="participantsListContainer"></div>
    </div>
</div>