/*
 * Select Menu
 */
.idxCheckBoxSelectMenu .dijitMenuItemRtl td.dijitMenuItemIconCell {
  margin: 0;
  padding: 4px 10px 0 0;
  width: 16px;
}
.dijitMenuPopup .idxCheckBoxSelectMenu .dijitMenuItemRtl .dijitMenuItemLabel,
.dijitMenuPopup .idxCheckBoxSelectMenu .oneuiMenuHeadingRtl .oneuiMenuHeadingLabel {
  padding: 4px 0px 4px 10px;
}
