.idxDateTextBoxWrap .dijitValidationContainer {
  height: auto;
}
/*
.idxDateTextBoxWrap .dijitDateTextBox .dijitInputField,
.idxDateTextBoxWrap .dijitDateTextBox .dijitInputField .dijitInputInner,
.idxDateTextBoxWrap .dijitDateTextBox .dijitInputField .dijitPlaceHolder {
	padding: 0;
	left: 0;
	right: 0;
}
*/
.dj_ie6 & .idxDateTextBoxWrap .dijitDateTextBox .dijitInputField .dijitPlaceHolder {
  padding-top: 3px;
}
.idxDateTextBoxWrap .dijitDateTextBoxHover {
  border-color: @hoverOutline;
}
