.oneuiForm {
  background-color: @selected;
  border: 1px solid @hover;
}
.oneuiFormBody {
  background-color: @fwBackground;
  border-top: 1px solid @hover;
  padding: 10px 7px;
}
.oneuiFormHeader {
  background-color: transparent;
  .image(@imageRoot, "accordion.png");
  min-height: 17px;
  padding: 5px 7px 2px;
}
.oneuiFormInlineMessage {
  background-color: @errorLight;
  border: @error;
  margin-top: 5px;
  padding: 5px 10px;
}
.oneuiFormContainer {
  padding-bottom: 15px;
  padding-top: 15px;
}
.oneuiFormFooter {
  background-color: @fwLightest;
  border-top: 1px solid @fwLighter;
  min-height: 14px;
  padding: 5px 7px;
}
