
.idxLinkDerived.dijitDisabled {
  color: @textDisabled;
}
.idxLinkDerived.dijitDisabled:hover {
  text-decoration: none;
  cursor: default;
}
.idxAppMarquee .idxLinkDerived.dijitDisabled {
  color: @textDisabled;
}
.idxAppMarquee .idxLinkDerived.dijitDisabled:hover {
  text-decoration: none;
  cursor: default;
}
