.idxNumberTextBoxWrapRtl .idxLabel {
  text-align: right;
}
/*
 * Incompelete
 */
/*.idxNumberTextBoxWrapIncompleteRequired .dijitNumberTextBoxRequired {
    border: 1px solid rgba(221, 115, 28, 0.75);
	background: #ffffec;
}
*/