.idxSelectWrapError .dijitSelectError {
  border: 1px solid @errorBright;
}
.idxSelectWrapError .dijitSelectError .dijitButtonContents {
  background: @errorLight;
}
.dijitSelectError .dijitButtonContents .dijitButtonText {
  display: block !important;
}
.idxSelectWrapLabel {
  vertical-align: top;
}
.idxSelectWrap .dijitValidationContainer {
  display: none;
}
.idxSelectWrapError .dijitValidationContainer {
  display: inline-block;
}
/*
 * Incompelete
 */
/*.idxSelectWrapIncomplete .dijitSelectIncomplete{
    border: 1px solid rgba(221, 115, 28, 0.75);
}

.idxSelectWrapIncomplete .dijitSelectIncomplete .dijitButtonContents {
	background: #ffffec;
}*/
