.idxLabel .idxTextBoxHoverHelp {
  background-image: url('images/widget/hoverHelpQuestionMarkIcon.png');
  width: 16px;
  height: 16px;
  margin: 0 0 1px 4px;
  cursor: pointer;
}
.dijitRtl & .idxLabel .idxTextBoxHoverHelp {
  margin: 0 4px 1px 0;
}
.idxTextBoxHoverHelp .helpIconAltText {
  display: none;
}
.dijit_a11y &.idxTextBoxHoverHelp .helpIconAltText {
  display: block;
  margin: 0 0 0 4px;
}
.dijitRtl.dijitA11y & .idxTextBoxHoverHelp .helpIconAltText {
  margin: 0 4px 0 0;
}
/*
 * Incompelete
 */
/*.idxTextBoxWrapIncompleteRequired .dijitTextBoxRequired {
    border: 1px solid rgba(221, 115, 28, 0.75);
	background: #ffffec;
}
*/