.idxTimeTextBoxWrap .dijitValidationContainer {
  height: auto;
}
/*
.idxTimeTextBoxWrap .dijitTimeTextBox .dijitInputField,
.idxTimeTextBoxWrap .dijitTimeTextBox .dijitInputField .dijitInputInner,
.idxTimeTextBoxWrap .dijitTimeTextBox .dijitInputField .dijitPlaceHolder {
	padding: 0;
	left: 0;
	right: 0;
}
*/
.dj_ie6 & .idxTimeTextBoxWrap .dijitTimeTextBox .dijitInputField .dijitPlaceHolder {
  padding-top: 3px;
}
.idxTimeTextBoxWrap .dijitTimeTextBoxHover {
  border-color: @hoverOutline;
}
.idxDateTimeTextBoxWrap .dijitTimeTextBox {
  width: 12em;
}
.idxTimeTextBoxWrap .idxHintOutside {
  width: auto;
}
