<table width="100%" border="0">
    <tr>
        <td style="padding-left: 5px;">
            <div dojoType="dijit.Tooltip"  position="after" data-dojo-attach-point="taskDescTxtPopup"></div>
            <span style="font-size: 1.3em; font-weight: bold;color: #444444;" data-dojo-attach-point="taskNameTxt"></span>
            <span style="font-size: 1.0em; font-weight: normal;color: #666666; font-style: italic">(<span data-dojo-attach-point="activityIdTxt"></span>)</span>
            <span style="font-size: 0.9em; font-weight: normal;color: #AAAAAA;">-</span>
            <span style="font-size: 1.0em; font-weight: bold;color: #666666;" data-dojo-attach-point="activityNameTxt"></span>
            <span style="font-size: 0.9em;color: #AAAAAA;padding-left: 5px;padding-right: 2px;">|</span>
            <span style="font-size: 0.9em;color: #444444;padding-left:3px;">
                <i class="icon-retweet"></i> <span data-dojo-type="idx.form.Link" data-dojo-attach-event="onClick:showActivityInstanceDetail">业务活动详情</span>
            </span>
            <span data-dojo-attach-point="childTaskOperationContainer" style="font-size: 0.9em;display: none;">
                <span style="font-size: 0.9em;color: #AAAAAA;padding-right: 5px;">|</span>
                <span data-dojo-attach-point="createChildTaskInfoContainer"  style="display: none; padding-right: 5px;">
                    <i class="icon-plus-sign"></i>
                    <span data-dojo-type="idx.form.Link" data-dojo-attach-event="onClick:launchChildTask">创建子任务</span>
                </span>
                <span data-dojo-attach-point="childTaskDetailInfoContainer" style="display: none;">
                     <span style="font-size: 0.9em;color: #AAAAAA;padding-right: 5px;">|</span>
                    <i class="icon-sitemap"></i>
                    <span data-dojo-type="idx.form.Link" data-dojo-attach-event="onClick:showChildTasksInfo">子任务详情</span>
                </span>
                <span data-dojo-attach-point="parentTaskDetailInfoContainer" style="display: none;font-size: 0.8em;color:#666666;">
                    <i class="icon-sitemap"></i> <span>子业务任务</span>
                </span>
            </span>
        </td>
        <td align="right" style="padding-right: 5px;">
            <span style="font-size: 0.9em;color: #777777;padding-right: 15px;"><i class="icon-time"></i> 截止时间: <span style="font-weight: bold;color: #444444;" data-dojo-attach-point="taskDueDateTxt"></span></span>
            <span style="font-size: 0.9em;color: #777777;padding-right: 5px;" data-dojo-attach-point="taskRoleContainer"><i class="icon-group"></i> 所属部门: <span style="font-weight: bold;color: #444444;" data-dojo-attach-point="taskRoleTxt"></span></span>
        </td>
    </tr>
    <tr>
        <td style="padding-left: 5px;">
            <span data-dojo-attach-point="taskAssignerTxtContainer">
                <span style="font-size: 0.9em;color: #CE0000;padding-right: 5px;"><i class="icon-male"></i> 委派人:
                    <span style="font-weight: bold;color: #00475B;">
                        <span data-dojo-type="vfbam.userclient.common.UI.widgets.TextDropdownButton" data-dojo-attach-point="taskAssignerNameLabel"></span>
                    </span>
                </span>
                <span style="font-size: 0.9em;color: #AAAAAA;padding-right: 5px;">|</span>
            </span>
            <span style="font-size: 0.9em;color: #777777;padding-right: 5px;">截止状态: <span style="font-weight: bold;color: #555555;" data-dojo-attach-point="taskStatusTxt"></span></span>
            <span style="font-size: 0.9em;color: #AAAAAA;padding-right: 5px;">|</span>
            <span style="font-size: 0.9em;color: #777777;padding-right: 5px;">业务状态: <span style="font-weight: bold;color: #555555;" data-dojo-attach-point="taskProgressTxt"></span></span>
            <span style="font-size: 0.9em;color: #444444;padding-right: 5px;" data-dojo-attach-point="operationLinkContainer">
                <span style="font-size: 0.9em;color: #AAAAAA;padding-right: 5px;">|</span>
                <span data-dojo-attach-point="operationLink"></span>
            </span>
        </td>
        <td align="right"></td>
    </tr>
    <tr>
        <td colspan="2" style="height: 5px;">
            <div></div>
        </td>
    </tr>
    <tr>
        <td><span data-dojo-attach-point="taskResponseButtonsContainer"></span>
            <span data-dojo-attach-point="finishChildTasksUIContainer" style="display: none;">
                <span dojoType="dijit.form.CheckBox" data-dojo-attach-event="onChange:resetResponseButtonsStatus" data-dojo-attach-point="switchResponseButtonsCheckbox"></span>
                <span style="font-size: 0.9em;color:#666666;">完成所有尚未结束的子任务</span>
            </span>
        </td>
        <td align="right" style="padding-right: 10px;">
            <span data-dojo-attach-point="handleTaskButtonContainer">
                <button dojoType="dijit.form.Button" data-dojo-attach-event="onClick:handleCurrentTask"><i class='icon-check'></i> 接受任务</button>
            </span>
             <span data-dojo-attach-point="saveDataButtonsContainer">
                <button dojoType="dijit.form.Button" data-dojo-attach-event="onClick:saveTaskData"><i class='icon-save'></i> 保存任务数据</button>
            </span>
            <span style="font-size: 0.9em;color: #AAAAAA;padding-right: 5px;">|</span>
            <span data-dojo-type="idx.form.Link" data-dojo-attach-event="onClick:_CLOSE_DYNAMIC_PAGE">关闭当前任务</span>
        </td>
    </tr>
    <tr>
        <td colspan="2" style="height: 3px;">
            <div></div>
        </td>
    </tr>
    <tr>
        <td colspan="2" >
            <div class="app_headerDivLine"></div>
        </td>
    </tr>
</table>