<div class="dijitHidden"><div id="${id}_toasterNode" data-dojo-attach-point="toasterNode" class="dijitHidden oneuiToaster" data-dojo-attach-event="onmouseenter:_onMouseOver,onmouseleave:_onMouseOut"
	><span data-dojo-attach-event="onclick:reset" class="close"
		><span class="closeText">x</span
	></span
	><ul data-dojo-attach-point="messageList"></ul
	><div class="reveal"
		><a href="#" role="link" data-dojo-attach-event="ondijitclick: _onViewAll">${_viewAll} (<span data-dojo-attach-point="overflowCountNode"></span>)...</a
	></div
></div></div>