<table width="500px;" border="0">
    <tr>
        <td style="vertical-align:top;">
            <div class="app_contentBorderLine" style="min-height: 550px;">
                <table width="100%" border="0">
                    <tr>
                        <td width="350" style="padding-top: 8px;">
                            <span style="font-size: 1.3em;padding-right: 10px;padding-left: 8px;color: #888888;"><i class="icon-group"></i> 团队待办任务</span>
                        </td>
                        <td align="right" style="padding-top: 8px;">
                            <span style="width: 20px;">&nbsp;</span>
                            <i class="icon-refresh" style="cursor: pointer;" data-dojo-attach-event="onclick:refreshQueuesTaskList"></i>
                            <span style="width: 20px;">&nbsp;</span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div class="app_headerDivLine"></div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div  data-dojo-attach-point="teamTaskQueueGridsContainerNode" style="min-width: 400px;padding-top:5px;padding-left:5px;"></div>
                        </td>
                    </tr>
                </table>
            </div>
        </td>
    </tr>
</table>