/** Licensed Materials - Property of IBM* (C) Copyright IBM Corp. 2010, 2013 All Rights Reserved* US Government Users Restricted Rights - Use, duplication or* disclosure restricted by GSA ADP Schedule Contract with IBM Corp.*/.oneui .idxFlipCardContainer {
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
}
.oneui {
    .idxFlipCardContainer {
        .idxFlipCardHeader {
            position: absolute;
            margin: 0;
            padding: 0;
            width: 100%;
            height: 45px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            z-index: 900;
            font-family: Helvetica Neue, Helvetica, sans-serif;
            font-size: 20px;
            font-style: normal;
            font-weight: bold;
            line-height: 44px;
            background-color: #2d2d2d;
            background-image: -webkit-gradient(linear, center bottom, center top, from(#0075a3), to(#6b6b6b), color-stop(0.05, #008abf), color-stop(0.06, #1a96c6), color-stop(0.1, #00090d), color-stop(0.12, #131313), color-stop(0.9, #444444), color-stop(0.95, #6b6b6b));
            background-image: -webkit-linear-gradient(bottom, #0075a3, #0075a3 1px, #008abf 1px, #008abf 3px, #1a96c6 3px, #1a96c6 4px, #00090d 4px, #00090d 5px, #131313 5px, #444444 47px, #6b6b6b 47px, #6b6b6b 48px);
            color: #ffffff;
            text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.75);
            .idxFlipCardHeaderTitle {
                margin: 0;
                border: none;
                padding: 0;
                color: inherit;
                background-color: transparent;
                font-family: inherit;
                font-size: inherit;
                font-style: inherit;
                font-weight: inherit;
                text-shadow: inherit;
                line-height: inherit;
                text-align: inherit;
                box-shadow: none;
                font-family: Helvetica Neue,Helvetica,sans-serif;
                left: 50px;
                z-index: 1;
                display: inline-block;
            }
            .idxFlipCardHeaderSpanTitle {
                display:none;
                z-index: 2;
                white-space: normal;
            }
            .dijitButton {
                margin:0;
                .dijitButtonNode {
                    min-width: 0;
                    padding: 0;
                }
            }
            .navToggleIcon {
                background-image: url("images/nav_toggle.png");
                background-repeat: no-repeat;
                height: 35px;
                width: 35px;
            }
        }
        .idxFlipCardReservedContent {
            display:none;
        }
        .centerPaneContainer {
            padding:0;
        }
    }
    .idxFlipCardContainer.css3AnimationsDisabled {
        -webkit-transition: none !important;
        -moz-transition: none !important;
        -o-transition: none !important;
        -ms-transition: none !important;
        transition: none !important;
        .centerGridContainer.centerGridFlipOut {
            display:none;
        }
        .centerGridContainer.centerGridFlipOutLeft {
            display:none;
        }
    }
}
