/*
 * Licensed Materials - Property of IBM
 * (C) Copyright IBM Corp. 2010, 2012 All Rights Reserved
 * US Government Users Restricted Rights - Use, duplication or
 * disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
 */

.oneui.dark .idxLoginFrameBox {

    border-color: #343434;	

	-webkit-box-shadow: 0px 2px 10px 0px #222;	
	-moz-box-shadow: 0px 2px 10px 0px #222;
	box-shadow: 0px 2px 10px 0px #222;

	background: #222;	

}

.oneui.dark .idxLoginFrameSubTitle,
.oneui.dark .idxLoginFrameBox .idxLoginFrameInactivityMessage {
	color: #ccc;	
}

/* IE6 only */
* html body .idxLoginFrameBoxInner
{
	background: #222;	
}
 .oneui.dark .idxLoginFrameCopyright
{
    color: #bbb;	
}

.oneui.dark .idxLoginFrameInput
{
    border-color: #9FABBB;
}