/* Dialog 
 * 
 * Styling Dialog includes two sections: Dialog and Tooltip & TooltipDialog
 * 
 * Dialog:
 * 1. Dialog (default styling): 
 * 		.dijitDialog - styles for dialog's bounding box
 *
 * 2. Dialog title 
 * 		.dijitDialogTitleBar - styles for the title container at the top of dialog
 * 		.dijitDialogTitle - the text container in dialog title
 * 
 * 3. Dialog content 
 * 		.dijitDialogPaneContent - main container for content area and action bar
 * 		.dijitDialogPaneContentArea - styles for content container
 * 
 * 4. Dialog action bar 
 * 		.dijitDialogPaneActionBar - styles for action buttons lie at the bottom of dialog pane content
 * 
 * 5. Dialog underlay 
 * 		.dijitDialogUnderlay - div under the dialog which used for separate dialog and page content
 * 
 * 
 * Tooltip & TooltipDialog:
 * 1. tooltip content container: 
 * 		.dijitTooltipContainer - tooltip content container
 *
 * 2. tooltip connector: 
 * 		.dijitTooltipConnector - tooltip anchor includes 4 direction(up, down, left, right)
 */
/* IE specific changes  - none of these really matter anymore*/
.dj_ie6 .dlBlue .dijitDialogCloseIcon {
  background-image: url("images/dialogCloseIcon8bit.png");
}
.dj_ie6 .dlBlue .dijitTooltipConnector {
  background-image: url("images/tooltip8bit.png");
}
.dj_ie7 .dlBlue .dijitTooltipAbove .dijitTooltipConnector,
.dj_ie6 .dlBlue .dijitTooltipAbove .dijitTooltipConnector {
  bottom: -1px;
}
.dlBlue {
  /* Tooltip and TooltipDialog */
}
.dlBlue .dijitDialog {
  border: 1px solid #a4a6ab;
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
  background-color: #ffffff;
  padding: 20px;
}
.dlBlue .dijitDialogPaneContent {
  background: #ffffff repeat-x top left;
  padding: 20px;
  position: relative;
}
.dlBlue .dijitDialogPaneContentArea {
  /* trick to get action bar (gray bar at bottom with OK/cancel buttons) to span from
	 * left to right but still indent dialog content
	
        margin: -10px -8px;
        padding: 10px 8px;*/
}
.dlBlue .dijitDialogPaneActionBar {
  /* gray bar at bottom of dialog with OK/Cancel buttons */
  background-color: #ffffff;
  padding: 5px 0 0 0;
  text-align: right;
  border-top: 1px solid #a4a6ab;
  margin: 20px -20px -20px;
}
.dlBlue .dijitTooltipDialog .dijitDialogPaneActionBar {
  -webkit-border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-bottomleft: 4px;
  margin: 10px -10px -8px;
}
.dlBlue .dijitDialogPaneActionBar .dijitButton {
  float: none;
}
.dlBlue .dijitDialogTitleBar {
  /* outer container for the titlebar of the dialog */
  border-bottom: 1px solid #a4a6ab;
  border-top: none;
  background-color: #ffffff;
  padding: 0;
}
.dlBlue .dijitDialogTitle {
  /* typography and styling of the dialog title */
  padding: 0 1px;
  font-size: 1.538em;
  font-weight: 300;
  line-height: 1.923em;
  color: #267bac;
}
.dlBlue .dijitDialogCloseIcon {
  /* the default close icon for the dialog */
  background: url("images/dialogCloseIcon.png");
  background-repeat: no-repeat;
  position: absolute;
  right: 15px;
  top: 26px;
  height: 16px;
  width: 21px;
}
.dlBlue .dijitDialogCloseIconHover {
  background-position: -21px;
}
.dlBlue .dijitDialogCloseIcon:active {
  background-position: -42px;
}
.dlBlue .dijitTooltip,
.dlBlue .dijitTooltipDialog {
  /* the outermost dom node, holding the connector and container */
  background: transparent;
  /* make the area on the sides of the arrow transparent */
}
.dlBlue .dijitTooltipBelow {
  /* leave room for arrow above content */
  padding-top: 13px;
  padding-left: 3px;
  padding-right: 3px;
}
.dlBlue .dijitTooltipAbove {
  /* leave room for arrow below content */
  padding-bottom: 13px;
  padding-left: 3px;
  padding-right: 3px;
}
.dlBlue .dijitTooltipContainer {
  /* the part with the text */
  background-color: #ffffff;
  background-position: bottom;
  border: 1px solid #b4b5b9;
  padding: 10px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  font-size: 1em;
  color: #393a3f;
}
.dlBlue .dijitTooltipConnector {
  /* the arrow piece */
  border: 0;
  z-index: 2;
  background-image: url("images/tooltip.png");
  background-repeat: no-repeat;
  width: 16px;
  height: 14px;
}
.dlBlue .dijitTooltipBelow .dijitTooltipConnector {
  /* the arrow piece for tooltips below an element */
  top: 0;
  left: 3px;
  background-position: -31px 0;
  width: 16px;
  height: 14px;
}
.dlBlue .dijitTooltipAbove .dijitTooltipConnector {
  /* the arrow piece for tooltips above an element */
  bottom: 0;
  left: 3px;
  background-position: -15px 0;
  width: 16px;
  height: 14px;
}
.dlBlue .dijitTooltipABRight .dijitTooltipConnector {
  /* above or below tooltip, but the arrow appears on the right,
		and the right edges of target and tooltip are aligned rather than the left.
		Override above rules for .dijitTooltipBelow, .dijitTooltipAbove */
  left: auto;
  right: 3px;
}
.dlBlue .dijitTooltipLeft {
  padding-right: 14px;
}
.dlBlue .dijitTooltipLeft .dijitTooltipConnector {
  /* the arrow piece for tooltips to the left of an element, bottom borders aligned */
  right: 0;
  background-position: 0 0;
  width: 16px;
  height: 14px;
}
.dlBlue .dijitTooltipRight {
  padding-left: 14px;
}
.dlBlue .dijitTooltipRight .dijitTooltipConnector {
  /* the arrow piece for tooltips to the right of an element, bottom borders aligned */
  left: 0;
  background-position: -48px 0;
  width: 16px;
  height: 14px;
}
.dlBlue .dijitDialogUnderlay {
  background: #ffffff;
}
