/* Dialog */

@import "variables";

.@{theme-name} .dijitDialogRtl .dijitDialogCloseIcon {
	right: auto;
	left: 15px;
}

.@{theme-name} .dijitDialogRtl .dijitDialogPaneActionBar {
	text-align: left;
}
