/* Editor 
 * 
 * Styling Editor means styling the Editor inside iframe container (dijitEditorIFrameContainer)
 * 
 * 1. Editor iframe container (default styling): 
 * 		.dijitEditorIFrameContainer - normal state styles: background-color, border, padding
 *
 * 2. hovered Editor iframe container (ie, mouse hover on editor)
 * 		.dijitEditorHover .dijitEditorIFrameContainer/dijitEditorIFrame - styles when mouse hover on the container
 * 
 * 3. focused Editor iframe container (ie, mouse focus on the editor pane)
 * 		.dijitEditorFocused .dijitEditorIFrameContainer/dijitEditorIFrame - styles when container focused
 * 
 * 3. disabled Editor iframe container 
 * 		.dijitEditorDisabled - editor's inner iframe container disable status styles: background, border
 */
.dlBlue .dijitEditorIFrameContainer {
  padding: 3px 3px 1px 10px;
}
.dlBlue .dijitEditorIFrame {
  background-color: #ffffff;
}
.dlBlue .dijitEditor {
  border: 1px solid #bcbcbe;
}
.dlBlue .dijitEditor .dijitEditorIFrameContainer {
  background-color: #ffffff;
  background-repeat: repeat-x;
}
.dlBlue .dijitEditorHover .dijitEditorIFrameContainer,
.dlBlue .dijitEditorHover .dijitEditorIFrameContainer .dijitEditorIFrame {
  background-color: #ffffff;
}
.dlBlue .dijitEditorFocused .dijitEditorIFrameContainer,
.dlBlue .dijitEditorFocused .dijitEditorIFrameContainer .dijitEditorIFrame {
  background-color: #ffffff;
}
.dlBlue .dijitEditorHover .dijitEditorIFrameContainer,
.dlBlue .dijitEditorFocused .dijitEditorIFrameContainer {
  background-image: -moz-linear-gradient(rgba(127, 127, 127, 0.2) 0%, rgba(127, 127, 127, 0) 2px);
  background-image: -webkit-linear-gradient(rgba(127, 127, 127, 0.2) 0%, rgba(127, 127, 127, 0) 2px);
  background-image: -o-linear-gradient(rgba(127, 127, 127, 0.2) 0%, rgba(127, 127, 127, 0) 2px);
  background-image: linear-gradient(rgba(127, 127, 127, 0.2) 0%, rgba(127, 127, 127, 0) 2px);
}
/* Disabled */
.dlBlue .dijitEditorDisabled {
  border: 1px solid #cdced2;
  color: #4c4d53;
}
.dlBlue .dijitDisabled .dijitEditorIFrame,
.dlBlue .dijitDisabled .dijitEditorIFrameContainer,
.dlBlue .dijitDisabled .dijitEditorIFrameContainer .dijitEditorIFrame {
  background-color: #cdced2;
  background-image: none;
}
.dlBlue .dijitToolbar {
  border-width: 0 0 1px 0;
}
