@import "variables";

.@{theme-name} .dijitMenuItemRtl .dijitMenuExpand {
	background-position: -80px -3px;
	margin-right: 0;
	margin-left: 3px;
}

.@{theme-name} .dijitMenuItemRtl .dijitMenuItemIcon {
	margin:0 4px 0 0;
}
