/* Time Picker 
 *
 * Styling the Time Picker consists of the following: 
 *
 * 1. minor time values
 * 		.dijitTimePickerTick - set text color, size, background color of minor values
 * 		.dijitTimePickerTickHover - set hover style of minor time values
 * 		dijitTimePickerTickSelected - set selected style of minor time values
 *
 * 2. major time values - 1:00, 2:00, times on the hour 
 * 		set text color, size, background color, left/right margins for "zoom" affect
 * 		.dijitTimePickerMarkerHover - to set hover style of major time values
 * 		.dijitTimePickerMarkerSelected - set selected style of major time values
 * 
 * 3. up and down arrow buttons
 * 		.dijitTimePicker .dijitButtonNode - background-color, border
 * 		.dijitTimePicker .dijitUpArrowHover, .dijitTimePicker .dijitDownArrowHover - set background-color for hover state
 *
 *	Other classes provide the fundamental structure of the TimePicker and should not be modified. 
 */
/* override Button.css */
.dlBlue {
  /* hover */
}
.dlBlue .dijitTimePicker .dijitButtonNode {
  padding: 0 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.dlBlue .dijitTimePicker {
  border: 1px #a4a6ab solid;
  border-top: none;
  border-bottom: none;
  background-color: #fff;
  /* TODO: useless?   Appears to be overridden by settings on individual elements */
}
.dlBlue .dijitTimePickerItem {
  /* dijitTimePickerItem refers to both Tick's (minor values like 2:15, 2:30, 2:45) and Marker's (major values like 2PM, 3PM) */
  border-top: solid 1px rgba(255, 255, 255, 0.3);
  border-bottom: solid 1px rgba(255, 255, 255, 0.3);
  margin-top: -1px;
}
.dlBlue .dijitTimePickerTick {
  /* minor value */
  color: #ffffff;
  background-color: #267bac;
  font-size: 0.818em;
}
.dlBlue .dijitTimePickerMarker {
  /* major value - 1:00, 2:00, times on the hour */
  background-color: #267bac;
  color: #ffffff;
  font-size: 1em;
  white-space: nowrap;
}
.dlBlue .dijitTimePickerTickHover,
.dlBlue .dijitTimePickerMarkerHover,
.dlBlue .dijitTimePickerMarkerSelected,
.dlBlue .dijitTimePickerTickSelected {
  background-color: #d9edf5;
  color: #2e77a1;
}
.dlBlue .dijitTimePickerMarkerSelected,
.dlBlue .dijitTimePickerTickSelected {
  font-size: 1em;
}
.dlBlue .dijitTimePickerTick .dijitTimePickerItemInner {
  padding: 1px;
  margin: 0;
}
.dlBlue .dijitTimePicker .dijitButtonNode {
  border-left: none;
  border-right: none;
  border-color: #a4a6ab;
  background-color: #efefef;
}
.dlBlue .dijitTimePicker .dijitArrowButtonInner {
  height: 100%;
  /* hack claro.button.css */
  background-image: url("form/images/arrows_white.png");
  background-repeat: no-repeat;
  background-position: -140px 45%;
}
.dlBlue .dijitTimePicker .dijitDownArrowButton .dijitArrowButtonInner {
  background-position: -35px 45%;
}
.dlBlue .dijitTimePicker .dijitUpArrowHover,
.dlBlue .dijitTimePicker .dijitDownArrowHover {
  background-color: #368aba;
}
.dlBlue .dijitTimePicker .dijitUpArrowHover .dijitArrowButtonInner {
  background-position: -175px 45%;
}
.dlBlue .dijitTimePicker .dijitDownArrowHover .dijitArrowButtonInner {
  background-position: -70px 45%;
}
