/** Licensed Materials - Property of IBM* (C) Copyright IBM Corp. 2010, 2012 All Rights Reserved* US Government Users Restricted Rights - Use, duplication or* disclosure restricted by GSA ADP Schedule Contract with IBM Corp.\*/
.dlBlue .gridxDnDAnchor {
  background-color: #333;
}
.dlBlue .gridxDndAvatar {
  background: none;
  border: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  z-index: 999;
}
.dlBlue .gridxDndAvatar .gridxDnDItemCount {
  position: relative;
  top: -7px;
  left: 4px;
  padding: 10px;
  background-color: black;
  background-color: #000000;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-style: Arial;
  font-weight: bold;
  color: #f3f3f3;
}
.dlBlue .gridxDnDIcon {
  top: -7px;
  left: -11px;
}
.dlBlue.dojoDndMove .gridxDnDIcon {
  background: transparent url('images/gridx_sprite.png') no-repeat -65px -17px;
}
.dlBlue.dojoDndCopy .gridxDnDIcon,
.dlBlue.dojoDndMove .dojoDndAvatarCanDrop .gridxDnDIcon,
.dlBlue.dojoDndCopy .dojoDndAvatarCanDrop .gridxDnDIcon {
  background: none;
}
