/** Licensed Materials - Property of IBM* (C) Copyright IBM Corp. 2010, 2012 All Rights Reserved* US Government Users Restricted Rights - Use, duplication or* disclosure restricted by GSA ADP Schedule Contract with IBM Corp.\*/
.dlBlue .gridxPager {
  background: transparent;
  padding: 0 7px;
  height: 32px;
  border: none;
}
.dlBlue .gridxPagerInner {
  height: 100%;
}
.dlBlue .gridxPagerNodeFocus {
  border: 1px dotted darkblue;
}
.dlBlue .gridxPager .gridxPagerStepper {
  text-align: center;
}
.dlBlue .gridxPagerSizeSwitchBtn:last-child {
  margin-right: 0;
}
.dlBlue .gridxPagerSizeSwitchSeparator {
  color: #666;
}
.dlBlue .gridxGotoPageDialog {
  width: 300px !important;
  width: 300px;
}
.dlBlue .gridx .gridxPagerSizeSwitchDD {
  text-align: right;
}
.dlBlue .gridx .gridxPagerStepperDD {
  text-align: center;
}
.dlBlue .gridx .gridxPagerLabel {
  font-family: Georgia;
  font-style: italic;
  color: #767676;
  margin: 0 5px;
}
.dlBlue .gridxPagerStepperWidget {
  width: auto;
}
.dlBlue .gridxLinkPager,
.gridxLinkSizer {
  padding: 8px 0;
}
.dlBlue .gridxPagerStepperBtn,
.dlBlue .gridxPagerSizeSwitchBtn {
  margin: 0 5px;
  font-family: arial;
  color: #00649d;
}
.dlBlue .gridxPagerStepperBtn.gridxPagerPrevPage {
  background-image: url('svg/back-left-previous.svg');
  background-size: 100%;
  background-position: 0 0;
}
.dlBlue .gridxPagerStepperBtn.gridxPagerNextPage {
  background-image: url('svg/next-right-forward.svg');
  background-size: 100%;
  background-position: 0 0;
}
.dlBlue .gridxPagerStepperBtn.gridxPagerPrevPage.gridxPagerStepperBtnDisable {
  background-image: url('svg/back-left-previous-disabled.svg');
  background-size: 100%;
  background-position: 0 0;
}
.dlBlue .gridxPagerStepperBtn.gridxPagerNextPage.gridxPagerStepperBtnDisable {
  background-image: url('svg/next-right-forward-disabled.svg');
  background-size: 100%;
  background-position: 0 0;
}
.dj_ie8 .dlBlue .gridxPagerStepperBtn.gridxPagerPrevPage {
  background-image: url('images/back-left-previous.png');
  background-size: 100%;
  background-position: 0 0;
}
.dj_ie8 .dlBlue .gridxPagerStepperBtn.gridxPagerNextPage {
  background-image: url('images/next-right-forward.png');
  background-size: 100%;
  background-position: 0 0;
}
.dj_ie8 .dlBlue .gridxPagerStepperBtn.gridxPagerPrevPage.gridxPagerStepperBtnDisable {
  background-image: url('images/back-left-previous-disabled.png');
  background-size: 100%;
  background-position: 0 0;
}
.dj_ie8 .dlBlue .gridxPagerStepperBtn.gridxPagerNextPage.gridxPagerStepperBtnDisable {
  background-image: url('images/next-right-forward-disabled.png');
  background-size: 100%;
  background-position: 0 0;
}
.dlBlue .gridxPagerStepperBtn:focus,
.dlBlue .gridxPagerSizeSwitchBtn:focus {
  outline: 1px dotted darkblue;
}
.dlBlue .gridxPagerStepperBtnHover,
.dlBlue .gridxPagerSizeSwitchBtnHover {
  text-decoration: underline;
  color: #05386b;
}
.dlBlue .gridxPagerStepperBtnActive,
.dlBlue .gridxPagerSizeSwitchBtnActive {
  font-weight: bold;
  color: #222;
}
/* Have to use idx.form.Select because OneUI theme can not fit dijit.form.Select.
 * But the validation part of idx.form.Select must be hidden.
 */
.dlBlue .gridxPagerSizeSwitchWidget .dijitValidationContainer {
  display: none;
}
