/** Licensed Materials - Property of IBM* (C) Copyright IBM Corp. 2010, 2012 All Rights Reserved* US Government Users Restricted Rights - Use, duplication or* disclosure restricted by GSA ADP Schedule Contract with IBM Corp.\*/
.dlBlue .gridx .gridxRowSelected .gridxCell {
  border-top-color: #bbb;
}
.dlBlue .gridx .gridxRowSelected:first-child .gridxCell {
  border-top-color: transparent;
}
.dlBlue .gridx .gridxRowSelected:last-child .gridxCell {
  border-bottom-color: #bbb;
}
.dlBlue .gridxRowSelected + .gridxRow .gridxCell {
  border-top-color: #bbb;
}
/*
 * Defect 12039
 * Set the RowTable background to gridxCell not the whole table
 * .oneui .gridx .gridxRowSelected .gridxRowTable {
 * 
 * */
.dlBlue .gridx .gridxRowSelected .gridxCell {
  background-color: #ddf2f9;
}
/* column select */
.dlBlue .gridx .gridxRow .gridxColumnSelected {
  background-color: #ddf2f9;
}
/* cell select */
.dlBlue .gridx .gridxRow .gridxCellSelected {
  background-color: #ddf2f9;
}
/* Indirect Select */
.dlBlue .gridxIndirectSelectionCheckBox {
  margin: 0;
}
.dlBlue .gridx .gridxHeader .gridxRowHeaderHeader .gridxHeaderCellFocus {
  border-color: transparent;
}
.dlBlue .gridx .dijitCheckBoxPartial {
  background-position: -33px;
}
