<div class="app_magazineView_item app_unselectable">
    <div style="height: 3px;"></div>
    <table width="100%" height="50px" border="0" class="app_headerDivLine">
        <tr>
            <td style="width:20px;" align="center" data-dojo-attach-point="taskStatusIcon"><i class="icon-exclamation icon-large" style="padding-right: 5px;color: #00475B"></i></td>
            <td>
                <div class="app_headerDivLine_thin">
                    <span class="app_magazineView_item_subject" data-dojo-attach-point="taskName"></span>
                    <span class="app_magazineView_item_abstract" data-dojo-attach-point="activityName"></span><span class="app_magazineView_item_abstract" style="font-style: italic;" data-dojo-attach-point="activityId"></span>
                </div>
                <div class="app_magazineView_item_abstract" style="padding-top: 5px;padding-bottom: 5px;">
                    <i class="icon-group"></i> <span style="font-weight: bold; padding-right: 10px;" data-dojo-attach-point="taskRole"></span>    <i class="icon-time"></i> <span style="font-weight: bold; padding-right: 10px;" data-dojo-attach-point="taskDueDate"></span>
                </div>
                <div style="font-size: 0.85em;" data-dojo-attach-point="taskpropertiesContainer">
                </div>
            </td>
            <td align="right" style="min-width: 40px;padding-right: 5px;">
                <span data-dojo-attach-point="operationLink"></span>
            </td>
        </tr>
    </table>
</div>