/** Licensed Materials - Property of IBM* (C) Copyright IBM Corp. 2010, 2012 All Rights Reserved* US Government Users Restricted Rights - Use, duplication or* disclosure restricted by GSA ADP Schedule Contract with IBM Corp.\*/  @import "../../dijit/variables";  .@{theme-name} .idxBreadcrumbController {
    height: 1em;
    overflow: hidden;
    border: none;
    padding-left: 8px;
    white-space: nowrap;
}
.@{theme-name}.dijit_a11y .idxBreadcrumbController,.dijit_a11y .@{theme-name} .idxBreadcrumbController {
    height: 22px;
}
.@{theme-name} {
    .idxBreadcrumb {
        position: relative;
        height: 1em;
        vertical-align: middle;
        display: inline;
        line-height: 1em;
        white-space: nowrap;
        .dijitButtonText {
            color: #00649d;
            text-decoration: none;
        }
        .dijitButtonNode {
            border: none;
            padding: 0px;
            padding: 0 5px;
        }
    }
    .idxBreadcrumbHover {
        .dijitButtonText {
            color: #05386b;
            text-decoration: underline;
        }
    }
    .idxBreadcrumbSeparator {
        color: transparent;
        font-size: 100%;
        position: relative;
        height: 1em;
        padding: 0 0.3em;
        vertical-align: bottom;
        white-space: nowrap;
        background: url(../../dijit/form/images/arrows_blue.png);
        background-position: -125px;
        .idxBreadcrumbSeparatorInner {
            /*display: none;*/
        }
    }
    .idxBreadcrumbController {
        .idxBreadcrumbRtl {
            padding-left: 0px;
            padding-right: 9px;
        }
    }
    .idxBreadcrumbChecked {
        .dijitButtonText {
            font-weight: bold;
            text-decoration: none;
            cursor:default;
            color: #222;
        }
    }
}
.@{theme-name}.dijit_a11y .idxBreadcrumbSeparator .idxBreadcrumbSeparatorInner,.dijit_a11y .@{theme-name} .idxBreadcrumbSeparator .idxBreadcrumbSeparatorInner {
    display: inline;
    vertical-align: middle;
}
.dijitRtl {
    .@{theme-name} {
        .idxBreadcrumbSeparator {
            background-position: -176px;
        }
    }
}
.dj_trident.dj_trident7.dijitRtl {
    .@{theme-name} {
        .idxBreadcrumbSeparator {
            background-position: 0px;
        }
    }
}
