/*
 * Licensed Materials - Property of IBM
 * (C) Copyright IBM Corp. 2010, 2013 All Rights Reserved
 * US Government Users Restricted Rights - Use, duplication or
 * disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
 */
/************ Grid Container ************/
.dragNode {
  z-index: 10000;
  cursor: move;
}
.dragHandle {
  cursor: move;
}
.dropIndicator {
  position: relative;
  height: 50px;
  border: 1px dashed #FFF;
}
.dropIndicator > div {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  opacity: 0.17;
  filter: alpha(opacity=17);
  -khtml-opacity: 0.17;
  -moz-opacity: 0.17;
}
.dndCover {
  background-image: url("images/pixel.gif");
  background-image: url(data:image/gif;
    base64,R0lGODlhAQABAID/AMDAwAAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw%3D%3D);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 1000px;
  z-index: 9999;
  cursor: move;
}
.dndCover2 {
  z-index: 10001;
}
.dragNode {
  z-index: 10000;
  cursor: move;
}
.orange .dndCover2 {
  z-index: 10001;
}
.dlBlue .centerGridContainer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background: white;
}
.dlBlue .centerGridContainer .fpGridContainerDivClass {
  overflow-y: auto;
  margin-bottom: 10px;
}
.dlBlue .centerGridContainer .fpGridContainerZone {
  vertical-align: top;
  background-color: #FDFDFD;
  display: table-cell;
}
.dlBlue .centerGridContainer .fpGridContainerZone .serviceWidgetTitleText h2 {
  position: relative;
}
.dlBlue .centerGridContainer .fpGridContainerGrip.gridContainerGrip {
  cursor: default;
  position: absolute;
  top: 0;
  width: 10px;
  padding: 0;
  margin: 0;
  background-image: url("images/pixel.gif");
  height: 100%;
}
.dlBlue .centerGridContainer .fpGridContainerGrip.gridContainerGripShow {
  cursor: e-resize;
  position: absolute;
  top: 0;
  width: 10px;
  padding: 0;
  margin: 0;
  background-image: url("images/gridcontainer_grip.gif");
}
.dlBlue .centerGridContainer .dropIndicator {
  border: 2px dashed #BFBFBF;
}
.dlBlue .centerGridContainer .dropIndicator > div {
  background-color: #FFF;
}
.dlBlue .centerGridContainer .dojoDndItemOver {
  background-color: #feb !important;
}
.dlBlue .centerGridContainer .dojoDndItemSelected {
  background: #ccf;
  color: #444;
}
.dlBlue .centerGridContainer .dojoDndItemBefore {
  border-top: 3px solid red;
}
.dlBlue .centerGridContainer .dojoDndItemAfter {
  border-bottom: 3px solid red;
}
.dlBlue .centerGridContainer .dojoDndItemAnchor {
  background: #ccf;
  color: black;
}
.dlBlue .centerGridContainer .dojoDndItemOver.dojoDndItemSelected {
  background: #ec8;
}
.dlBlue .centerGridContainer .dojoDndItemOver.dojoDndItemAnchor {
  background: #feb !important;
}
.dlBlue .centerGridContainer .dojoDndAvatarItem {
  background: #eee;
}
.dlBlue .centerGridContainer .dndDropIndicator {
  border: 1px dashed #FF6600;
  cursor: default;
}
.dlBlue .centerGridContainer .headerContainer {
  display: none;
  z-index: 900;
  border: medium none;
  overflow: hidden;
  min-height: 34px;
  /*Fix the height of header container as can not get the real height when startup*/
  padding: 0;
  line-height: 34px;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  -ms-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}
.dlBlue .centerGridContainer .dojoxFloatingDockDefault {
  position: absolute;
  bottom: 0px;
  left: 0px;
  overflow: hidden;
  margin: 0;
  margin-bottom: 3px;
  padding: 0px;
  z-index: 99;
  background: transparent;
}
.dlBlue .centerGridContainer .dojoxDockList {
  padding: 0px;
  margin: 0px;
}
.dlBlue .centerGridContainer .dojoxDockRestoreButton {
  background: url('images/folderClosed.png') no-repeat center center;
  width: 16px;
  height: 16px;
  overflow: hidden;
  float: left;
  margin-top: 2px;
}
.dlBlue .centerGridContainer .dojoxDockTitleNode {
  overflow: hidden;
}
.dlBlue .centerGridContainer .dojoxDock {
  display: block;
  border: 1px solid black;
  position: absolute;
  padding: 0;
  margin: 0;
  background: #fcfcfc;
}
.dlBlue .centerGridContainer .dojoxDockNode {
  border: 1px solid #adadad;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 3px;
  cursor: pointer;
  list-style: none;
  padding: 2px;
  margin: 1px 5px;
  height: 16px;
  width: auto;
  float: left;
  background: #fafafa url("images/titleBarBg.gif") repeat-x bottom left;
}
.dlBlue .centerGridContainer .dojoxFloatingPaneContent {
  overflow: auto;
  background-color: #fff;
}
.dlBlue .centerGridContainer .dojoxFloatingPaneCanvas {
  background-color: #fff;
}
.dlBlue .centerGridContainer .dockContainer {
  position: absolute;
  z-index: 900;
  height: 26px;
  /* make the height of dock container as can not get the real height when startup*/
  display: block;
  padding: 0;
  margin: 0;
  background: #fcfcfc;
  width: 100%;
  /* make the dock container full size of the parent container and with boder visible*/
  border: 1px dashed #00AFDD;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  -ms-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}
.dlBlue .centerGridContainer .dockContainer .dojoxDockList {
  opacity: 0;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  -ms-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}
.dlBlue .centerGridContainer .dockContainer .dockItem {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}
.dlBlue .centerGridContainer .dockContainerHovered {
  height: 26;
}
.dlBlue .centerGridContainer .dockContainerHovered .dojoxDockList {
  opacity: 1;
}
.dlBlue .centerGridContainer .dockContainerFixed {
  height: 26px;
}
.dlBlue .centerGridContainer .dockContainerFixed .dojoxDockList {
  opacity: 1;
}
.dlBlue .centerGridContainer .portletItem.layoutAbsolute {
  position: absolute;
  width: 300px;
}
.dlBlue .centerGridContainer .fpGridContainerTable.layoutFloating {
  display: block;
}
.dlBlue .centerGridContainer .fpGridContainerTr.layoutFloating {
  display: block;
}
.dlBlue .centerGridContainer .fpGridContainerZone.layoutFloating {
  width: 100% !important;
  display: block;
}
.dlBlue .centerGridContainer .fpGridContainerZone.layoutFloating .dropIndicator {
  width: 300px;
  float: left;
  position: relative;
}
.dlBlue .centerGridContainer .portletItem.layoutFloating {
  position: relative !important;
  width: 300px;
  float: left;
}
.dlBlue .centerGridContainer .stackAnimationNode {
  position: absolute;
  z-index: 910;
  opacity: 0.6;
  background-color: orange;
}
.dlBlue .centerGridContainer .stackAnimationNode.css3FakeAnimationsDisabled {
  -webkit-transition-property: none;
  -moz-transition-property: none;
  -o-transition-property: none;
  -ms-transition-property: none;
  transition-property: none;
}
.dlBlue .centerGridContainer .stackAnimationNode.css3FakeAnimations {
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
.dlBlue .centerGridContainer.css3Animations {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}
.dlBlue .centerGridContainer.css3Animations.centerGridFlipDisabled {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  transition: none;
}
.dlBlue .centerGridContainer.css3AnimationsForResize {
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
.dlBlue .centerGridContainer.css3AnimationsForResize .fpGridContainerZone {
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
.dlBlue .centerGridContainer.css3AnimationsForResize .portletItem {
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
.dlBlue .centerGridContainer.fpGridContainer {
  display: block;
  background: #FFF;
  margin: 0;
}
.dlBlue .centerGridContainer.fpGridContainer .fpGridContainerTable {
  width: 100%;
  display: table;
}
.dlBlue .centerGridContainer.fpGridContainer .fpGridContainerTable .fpGridContainerTr {
  display: table-row;
}
.dlBlue .centerGridContainer.gridHeaderVisible .headerContainer.headerContainerVisible {
  display: block;
}
.dlBlue .centerGridContainer.gridDockVisible .dockContainer.dockContainerVisible {
  display: block;
}
.dlBlue .centerGridContainer.gridContainerMaximum .gridColumnDisappear {
  display: none;
}
.dlBlue .centerGridContainer.gridContainerMaximum .gridColumnMaximum {
  width: 100% !important;
}
.dlBlue .dndCover .portletItem {
  z-index: 500;
  padding: 0;
  margin: 0;
  overflow: visible;
  position: relative;
  background-color: transparent;
  height: 280px;
}
.dlBlue .dndCover .portletItem.css3Animations {
  -webkit-perspective: 500px;
  -moz-perspective: 500px;
  -o-perspective: 500px;
  -ms-perspective: 500px;
  perspective: 500px;
}
.dlBlue .dndCover .portletItem.css3Animations .mainContent {
  -webkit-transform: rotateY(0);
  -moz-transform: rotateY(0);
  -ms-transform: rotateY(0);
  transform: rotateY(0);
}
.dlBlue .dndCover .portletItem.css3Animations .detailContent {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.dlBlue .dndCover .dojoxPortlet.portletItemContent {
  margin-bottom: 5px;
  width: 100%;
  height: 100%;
  position: absolute;
  border: 1px solid #ccc;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  -ms-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.dlBlue .dndCover .dojoxPortlet.portletItemContent.css3Animations {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 1s linear;
  -moz-transition: -moz-transform 1s linear;
  -ms-transition: -ms-transform 1s linear;
  transition: transform 1.0s linear;
}
.dlBlue .dndCover .portletItemFlip.css3Animations .mainContent {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.dlBlue .dndCover .portletItemFlip.css3Animations .detailContent {
  -webkit-transform: rotateY(360.1deg);
  -moz-transform: rotateY(360deg);
  -ms-transform: rotateY(360deg);
  transform: rotateY(360deg);
}
.dlBlue .centerGridContainer.css3AnimationsDisabled.centerGridFlipOut {
  display: none;
}
.dlBlue .centerGridContainer.css3AnimationsDisabled.centerGridFlipOutLeft {
  display: none;
}
.dlBlue .centerGridContainer.css3AnimationsDisabled.centerGridFlipIn {
  display: block;
}
.dj_ie10 .dlBlue .dndCover .portletItem.css3Animations {
  -ms-perspective: 0;
  perspective: 0;
}
.dlBlue .centerPaneContainer.css3AnimationsDisabled,
.dlBlue .centerPaneContainer.css3AnimationsDisabled  > *,
.dlBlue .centerGridContainer.css3AnimationsDisabled,
.dlBlue .centerGridContainer.css3AnimationsDisabled  > *,
.dlBlue .centerGridContainer.css3AnimationsDisabled .fpGridContainerZone,
.dlBlue .centerGridContainer.css3AnimationsDisabled .dockContainer,
.dlBlue .centerGridContainer.css3AnimationsDisabled .dockContainer  > *,
.dlBlue .centerGridContainer.css3AnimationsDisabled .portletItem {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
}
