@import "../../dijit/variables";
.@{theme-name}{
	.portletItem.dijitRtl {
		.itemActionBar {
			right: auto;
			left: 10px;
		}
		
		.fpResizeHandle {
		    left: 0px;
		    right: auto;
		    background-image: url('images/resize_rtl.png');
		}
		.fpResizeHandle.dojoxResizeNW {
		    cursor: ne-resize;
		}
		.fpResizeHandle.dojoxResizeNE {
		    cursor: nw-resize;
		}
	}
}