/*
 * Licensed Materials - Property of IBM
 * (C) Copyright IBM Corp. 2010, 2012 All Rights Reserved
 * US Government Users Restricted Rights - Use, duplication or
 * disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
 */
@import "../../dijit/variables";
.@{theme-name} {
	.idxHeaderPaneRtl {
		.idxHeaderPaneTitleActions, .idxTitlePaneActions {
			left: 0px;
			right: auto;
		}
		

		.idxHeaderPaneHeaderActive, .dijitTitlePaneTitleActive {
	    	.idxHeaderPaneTitleActions, .idxTitlePaneActions {
	    		.idxCloseIcon{
		    		background: url("./images/headerpane_close_active.png") no-repeat 0 0;
		    	}
		    	.idxRefreshIcon{
	        		background: url("./images/headerpane_refresh_active.png") no-repeat 0 0;
	        	}
	        	
	        	.idxHelpIcon{
	        		background: url("./images/headerpane_help_active.png") no-repeat 0 0;
	        	}
	        	
	        	.idxMaximizeIcon{
	        		background: url("./images/headerpane_maximize_active.png") no-repeat 0 0;
	        	}
	        	
	        	.idxRestoreIcon{
	        		background: url("./svg/headerpane_restore_active.svg") no-repeat 0 0;
	        	}
	    	}
    	}
    
	}
}