/** Licensed Materials - Property of IBM* (C) Copyright IBM Corp. 2010, 2012 All Rights Reserved* US Government Users Restricted Rights - Use, duplication or* disclosure restricted by GSA ADP Schedule Contract with IBM Corp.\*/  @import "../../dijit/variables";  .@{theme-name} .compact .dijitTabContainerTop-tabs .dijitTabContent {
    padding: 6px 14px 5px;
}
.@{theme-name} {
    .compact {
        .dijitTabContainerTop-tabs {
            .dijitTabHover {
                padding: 5px 14px 5px;
            }
        }
        .dijitTabContainer {
            .dijitTabContainerTop-container {
                border-left: 0 none;
                border-right: 0 none;
                border-bottom: 0 none;
            }
            .dijitTabContainerTop-tabs {
                padding-left: 30px;
            }
        }
        .dijitTabContainerBottom-tabs {
            .dijitTabContent {
                padding: 5px 14px 6px;
            }
            .dijitTabHover {
                padding: 5px 14px 5px;
            }
        }
        .dijitTabContainerLeft-tabs {
            .dijitTabContent {
                padding: 5px 14px 6px;
            }
        }
        .dijitTabContainerRight-tabs {
            .dijitTabContent {
                padding: 5px 13px 6px;
            }
        }
        .tabStripButton {
            height:30px;
            height:19px;
            padding: 6px 7px 2px;
        }
    }
}
.@{theme-name} .compact .dijitTabContainerTop-tabs .dijitTabChecked,.@{theme-name} .compact .dijitTabContainerTop-tabs .dijitTabCheckedHover,.@{theme-name} .compact .dijitTabContainerTop-tabs .dijitTabCheckedActive {
    padding: 5px 14px 6px;
}
.@{theme-name} .compact .dijitTabContainerBottom-tabs .dijitTabChecked,.@{theme-name} .compact .dijitTabContainerBottom-tabs .dijitTabCheckedHover,.@{theme-name} .compact .dijitTabContainerBottom-tabs .dijitTabCheckedActive {
    padding: 6px 14px 5px;
}
.@{theme-name} .compact .dijitTabContainerLeft-tabs .dijitTabHover,.@{theme-name} .compact .dijitTabContainerLeft-tabs .dijitTabChecked {
    padding: 5px 14px 6px 13px;
}
.@{theme-name} .compact .dijitTabContainerRight-tabs .dijitTabHover,.@{theme-name} .compact .dijitTabContainerRight-tabs .dijitTabChecked {
    padding: 5px 13px 6px;
}
