<div style="background-color: #FFFFFF;">
    <div style="width: 375px;padding: 10px;">
        <div style="font-size: 0.8em;color: #888888;height: 15px; padding-top: 0px;">请输入专辑名称关键字:</div>
        <div class="app_headerDivLine"></div>
        <div style="padding-top: 5px;">
            <input dojoType="dijit.form.TextBox" style="width: 250px;" data-dojo-attach-point="collectionNameFilterInput"><button dojoType="dijit.form.Button" data-dojo-attach-event="onClick:doFilterCollectionName"><i class="icon-filter"></i> 确定</button>
        </div>
    </div>
</div>