<div data-dojo-attach-point="containerNode">
    <div style="height: 80px;">
        <div style="font-size: 0.9em;color: #666666;height: 15px; padding-top: 0px;"><span data-dojo-attach-point="addItemPrompt"><i class="icon-camera"></i> 请选择需要更新的素材预览文件</span><span style="display: none;" data-dojo-attach-point="addSuccessPrompt"><i class="icon-ok"></i> 添加素材文件成功</span></div>
        <div class="app_headerDivLine"></div>
        <div style="height:5px;"></div>
        <div data-dojo-attach-point="knowItemUploaderContainer">
            <form method="post" data-dojo-attach-point="form" enctype="multipart/form-data">
                <input data-dojo-attach-point="fileUploaderNode"/>
            </form>
        </div>
    </div>
</div>