<div data-dojo-attach-point="containerNode">
    <div>
        <span style="font-size: 1.1em;color: #444444;font-weight: bold;"><i class="icon-rocket"></i> <span data-dojo-attach-point="activityType" ></span> : </span>
        <span data-dojo-attach-point="activityTypeDesc" style="font-size: 0.9em;color: #888888;font-weight: bold;"></span>
    </div>
    <div style="border-width:0px; border-bottom-width: 1px; border-bottom-color: #BBBBBB; border-style:solid;padding-top:2px;padding-bottom:5px;"></div>
    <div style="height: 10px;"></div>
    <table width="100%" border="0">
        <tr>
            <td width="100" style="display: inline;">
                <span style="font-size: 0.9em;color: #888888;font-weight: bold;"><i class="icon-reorder"></i> 业务活动启动数据：</span>
            </td>
            <td width=150" align="right"></td>
        </tr>
    </table>
    <div data-dojo-attach-point="startDataEditorContainer"></div>
    <div style="height: 5px;"></div>
    <div style="border-width:0px; border-bottom-width: 1px; border-bottom-color: #DDDDDD; border-style:solid;padding-top:2px;padding-bottom:5px;"></div>
    <div style="height: 10px;"></div>
    <div style="text-align: right;">
        <span data-dojo-attach-point="launchDecisionPointButtonsContainer"></span>
        <span style="font-size: 0.9em;color: #AAAAAA;padding-right: 5px;">|</span>
        <span data-dojo-attach-point="cancelLaunchActivityButtonContainer"></span>
    </div>
</div>