<tr>
    <td data-dojo-attach-point="activityTypeDefinition_1" style="width: 250px;padding:10px;" class="app_unselectable app_magazineView_item">
        <div data-dojo-attach-point="activityTypeContainer_1" style="display: none;">
            <div style="cursor: pointer;" data-dojo-attach-point="activityTypeInfo_1">
                <div style="font-size: 1.1em;font-weight: bold;">
                    <span class="icon-stack">
                        <i class="icon-circle icon-stack-base"></i>
                        <i class="icon-rocket icon-light"></i>
                    </span> <span data-dojo-attach-point="activityType_1"></span></div>
                <div style="border-width:0px; border-bottom-width: 1px; border-bottom-color: #F0F0F0; border-style:solid;padding-top:2px;"></div>
                <div style="font-size: 0.8em;padding-top:2px;" data-dojo-attach-point="activityTypeDesc_1"></div>
            </div>
        </div>
    </td>
    <td data-dojo-attach-point="activityTypeDefinition_2" style="width: 250px;padding:10px;" class="app_unselectable app_magazineView_item">
        <div data-dojo-attach-point="activityTypeContainer_2" style="display: none;">
            <div style="cursor: pointer;" data-dojo-attach-point="activityTypeInfo_2">
                <div style="font-size: 1.1em;font-weight: bold;">
                    <span class="icon-stack">
                        <i class="icon-circle icon-stack-base"></i>
                        <i class="icon-rocket icon-light"></i>
                    </span>  <span data-dojo-attach-point="activityType_2"></span></div>
                <div style="border-width:0px; border-bottom-width: 1px; border-bottom-color: #F0F0F0; border-style:solid;padding-top:2px;"></div>
                <div style="font-size: 0.8em;padding-top:2px;" data-dojo-attach-point="activityTypeDesc_2"></div>
            </div>
        </div>
    </td>
    <td data-dojo-attach-point="activityTypeDefinition_3" style="width: 250px;padding:10px;" class="app_unselectable app_magazineView_item">
        <div data-dojo-attach-point="activityTypeContainer_3" style="display: none;">
            <div style="cursor: pointer;" data-dojo-attach-point="activityTypeInfo_3">
                <div style="font-size: 1.1em;font-weight: bold;">
                    <span class="icon-stack">
                        <i class="icon-circle icon-stack-base"></i>
                        <i class="icon-rocket icon-light"></i>
                    </span>  <span data-dojo-attach-point="activityType_3"></span></div>
                <div style="border-width:0px; border-bottom-width: 1px; border-bottom-color: #F0F0F0; border-style:solid;padding-top:2px;"></div>
                <div style="font-size: 0.8em;padding-top:2px;" data-dojo-attach-point="activityTypeDesc_3"></div>
            </div>
        </div>
    </td>
</tr>