<div style="width: 80%">
    <div style="width: 800px;height: 380px;">
        <div class="app_taskCenter_activityLauncher_header">
            <div style="padding: 10px; display: none;">
                <span style="font-weight: bold;padding-right: 10px;"><i class="icon-filter"></i> 活动过滤:</span>
                <input dojoType="dijit.form.CheckBox">业务活动</input>
                <span style="font-size: 0.9em;color: #AAAAAA;padding-right: 5px;">|</span>
                <input dojoType="dijit.form.CheckBox">行政活动</input>
            </div>

            <div class="app_taskCenter_activityLauncher_search">
                <table style="width: 100%;  border-spacing: 0px; display: none;">
                    <tr>
                        <td style="width: 100%; white-space: nowrap">
                            <input data-dojo-type="dijit.form.TextBox" />
                            <input data-dojo-type="dijit.form.Button" data-dojo-props="iconClass: 'idxSearchButton', label: 'Search', showLabel: false" />
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div style="overflow:auto; height: 280px;">
            <table style="width: 100%;  border-spacing: 0px;" border="0" data-dojo-attach-point="activityTypeDefinitionsContainer">
            </table>
        </div>
    </div>
</div>