/*
 * Licensed Materials - Property of IBM
 * (C) Copyright IBM Corp. 2010, 2012 All Rights Reserved
 * US Government Users Restricted Rights - Use, duplication or
 * disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
 */

/* Quick Filter */
.oneui .gridxRtl .gridxQuickFilterClear {
	right: auto;
	left: 10px;
}
/* oneui specific a11y fix - move to filter_rtl.css in the future*/

/* Filter Bar */
.oneui .gridxRtl .gridxFilterBar .dijitButton {
	left: auto;
	right: 0;
}

.oneui .gridxRtl .gridxFilterBarCloseBtn {
	margin-right: 0;
	margin-left: 10px;
}
.oneui .gridxRtl .gridxFilterBarStatusText {
	margin-right: auto;
	margin-left: 10px;
}

.oneui .gridxRtl .gridxQuickFilterIcon,
.oneui .gridxRtl .gridxFilterBar .dijitButton .gridxFilterBarBtnIcon {
	background-position: 0px -32px;
}
.oneui .gridxRtl .dijitButtonHover .gridxQuickFilterIcon,
.oneui .gridxRtl .dijitButtonActive .gridxQuickFilterIcon,
.oneui .gridxRtl .dijitComboButtonHover .gridxQuickFilterIcon,
.oneui .gridxRtl .dijitComboButtonActive .gridxQuickFilterIcon {
	background-position: -16px -32px;
}

.oneui .dijitRtl .gridxFilterPaneForm .gridxFilterPaneColumnSelect,
.oneui .dijitRtl .gridxFilterPaneForm .gridxFilterPaneConditionSelect {
	margin-right: auto;
	margin-left: 20px;
}

/*.oneui .dijitRtl .gridxFilterPaneFieldWrapper {
	margin-right: auto;
	margin-left: 14px;
}*/
.oneui .dijitRtl .gridxFilterPaneForm .gridxFilterPaneRemoveBtn {
	margin-right: 5px;
	margin-left: 15px;
}
.oneui .dijitRtl .gridxFilterPaneForm .gridxFilterPaneColumnSelect .dijitValidationContainer,
.oneui .dijitRtl .gridxFilterPaneForm .gridxFilterPaneConditionSelect .dijitValidationContainer {
	margin: 0 5px 0 0;
}
.dj_rtl .oneui .gridxFilterDialogOneLine form > label {
	margin-right: auto;
	margin-left: 10px;
}
