// Content Area Background, Header Titles. Use with Primary Header
@color_inputFocus: #17AF4B;
@color_widgetBorderHover: #8CC63F;

// Primary Header Accent (Tool Chest), Widget Border Focus, Button Focus/Selection. Use with #fff
@color_widgetSelectedOrFocus: #17AF4B;
@color_widgetHover: #8CC63F;
@color_secondaryButtonHover: #2bafe3;

// Navigation Selection, Button Primary, Checkbox/Radio Fill, Info Message Border, Flyout Background. Use with #FFF
@color_widgetPrimaryFill: #008A52;

// Selection, Flyout Hover Background
@color_selectionHover: #8CC63F;
@color_textAccent: #00597B;