// Content Area Background, Header Titles. Use with Primary Header
@color_inputFocus: #DD731C;
@color_widgetBorderHover: #F19027;

// Primary Header Accent (Tool Chest), Widget Border Focus, Button Focus/Selection. Use with #fff
@color_widgetSelectedOrFocus: #DD731C;
@color_widgetHover: #F19027;
@color_secondaryButtonHover: #2bafe3;

// Navigation Selection, Button Primary, Checkbox/Radio Fill, Info Message Border, Flyout Background. Use with #FFF
@color_widgetPrimaryFill: #B8461B;

// Selection, Flyout Hover Background
@color_selectionHover: #F19027;
@color_textAccent: #00597B;