<div class="${baseClass}">
	<div class="${baseClass}TitleBar" data-dojo-attach-point="titleBarNode">
		<div role="presentation" class="${baseClass}VisitedIcon" data-dojo-attach-point="visitedIconNode">
			<div role="presentation" class="${baseClass}VisitedSymbol" data-dojo-attach-point="visitedSymbolNode">&#x2714;</div>
		</div>
		<div class="${baseClass}TitleBarText" data-dojo-attach-point="titleNode" id="${id}_titleNode"></div>
	</div>
	<div class="${baseClass}Content" data-dojo-attach-point="contentNode">
		<h2 class="${baseClass}Title" data-dojo-attach-point="contentTitleNode"></h2>
		<div class="${baseClass}SubstepList" data-dojo-attach-point="substepListNode">
			<div class="${baseClass}SubstepBorder" role="presentation" data-dojo-attach-point="substepBorder"></div>
		</div>
		<div class="${baseClass}Container" data-dojo-attach-point="containerNode"></div>
	</div>
</div>

 