/*
 * Licensed Materials - Property of IBM
 * (C) Copyright IBM Corp. 2010, 2012 All Rights Reserved
 * US Government Users Restricted Rights - Use, duplication or
 * disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
 */

.oneui.dark .idxBreadcrumb .idxBreadcrumbItem {
	color: #eee;	
}

.oneui.dark .idxBreadcrumb .idxBreadcrumbItem.idxBreadcrumbItemClickable {
	color: #078dc1;	
}

.oneui.dark .idxBreadcrumb .idxBreadcrumbItem.idxBreadcrumbItemClickable {
	color: #3eb3e0;
	}
