/*
 * Licensed Materials - Property of IBM
 * (C) Copyright IBM Corp. 2010, 2012 All Rights Reserved
 * US Government Users Restricted Rights - Use, duplication or
 * disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
 */
/* Messaging UI fix for rtl */
.oneui.dark .idxModalDialogRtl .messageSummary img,.oneui.dark .idxConfirmDialogRtl .messageSummary img {
	background-image:url(images/msgIcons_24bit_rtl.png);
}

.dj_ie6 .oneui.dark .idxModalDialogRtl .messageSummary img,.dj_ie6 .oneui.dark .idxConfirmDialogRtl .messageSummary img {
	background-image:url(images/msgIcons_8bit_rtl.png);
}

.oneui.dark.idx_i18n_il .idxModalDialogRtl .messageSummary img,.oneui.dark.idx_i18n_il .idxConfirmDialogRtl .messageSummary img {
	background-image:url(images/msgIcons_24bit_rtl_il.png);
}

.dj_ie6 .idx_i18n_il .idxModalDialogRtl .messageSummary img,.dj_ie6 .idx_i18n_il .idxConfirmDialogRtl .messageSummary img {
	background-image:url(images/msgIcons_8bit_rtl_il.png);
}