/*
 * Licensed Materials - Property of IBM
 * (C) Copyright IBM Corp. 2010, 2012 All Rights Reserved
 * US Government Users Restricted Rights - Use, duplication or
 * disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
 */
/*
 * Licensed Materials - Property of IBM
 * (C) Copyright IBM Corp. 2010, 2012 All Rights Reserved
 * US Government Users Restricted Rights - Use, duplication or 
 * disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
 */
.oneui.dark .idxTypeAhead {
	border-color:#555;
}

.oneui.dark .idxTypeAhead .typeAheadTable tr.typeAheadTableRow {
	background-color:#222;
}

.oneui.dark .idxTypeAhead .typeAheadTable tr.typeAheadTableRowOdd {
	background-color:#222;
}

.oneui.dark .idxTypeAhead .typeAheadTable tr.typeAheadTableRowSelected td.typeAheadTableCell {
	background-color:#1673a6;
}