/*common multi channel style*/

.oneui .idxPlatformDesktop {
	color: #222222;
    font-family: Helvetica,Arial,Tahoma,Verdana,sans-serif;
    font-size: 75%;
}

.oneui .idxPlatform_mobile.idxComposite{
	margin: 10px 5px;
}
.oneui .idxPlatform_mobile.idxComposite .idxLabel{
	padding: 2px 10px 0 0;
	font: 15px "Helvetica";
}
.oneui .idxPlatform_mobile .idxCompositeField {
	position: relative;
	-webkit-touch-callout:none;
	-webkit-user-select: none;
}
.oneui .idxPlatform_mobile.idxComposite .idxValidationInner {
	display: none;
	direction: ltr !important;
	height: auto !important;
	text-align: left !important;
	text-indent: -1em !important;
	background-color: transparent !important;
}
.oneui .idxPlatform_mobile.idxComposite .idxValidationContainer{
	position:absolute;
	top: 31px;
	left:0;
	right:0;
	background: #fff3f3;
	border: 2px solid rgb(205, 49, 42);
	border: 2px solid rgba(205, 49, 42, 0.75);
	padding: 0 5px;
	-moz-border-radius: 1px;
	border-radius: 1px;
	font-weight: bold;
	
	opacity: 0;
	-webkit-transition: opacity .25s ease-in;
    -moz-transition: opacity .25s ease-in;
    -o-transition: opacity .25s ease-in;
    -ms-transition: opacity .25s ease-in;
    transition: opacity .25s ease-in;
	
}


.oneui .idxPlatform_mobile.idxComposite .idxValidationContainer .idxValidationIcon{
	height: 15px;
	width: 15px;
	margin: 6px 5px 6px 0;
	background-image: url("../../oneui/idx/widget/images/msgIcons_24bit.png");
	background-position: -2px -2px;
}
.oneui .idxPlatform_mobile.idxComposite .idxCompositeHelpContainer{
	display: none;
	background: #f0faff;
	border: 1px solid rgb(0, 128, 184);
	border: 1px solid rgba(0, 128, 184, 0.75);
	padding: 0 5px;
	position:absolute;
	top: 31px;
	left: 0;
	right: 0;
	/*fadeIn and fadeOut*/
	opacity: 0;
	-webkit-transition: opacity .25s ease-in;
    -moz-transition: opacity .25s ease-in;
    -o-transition: opacity .25s ease-in;
    -ms-transition: opacity .25s ease-in;
    transition: opacity .25s ease-in;
	
	z-index: 99;
	
}
/**connectors**/
.oneui .idxPlatform_mobile.idxComposite .idxCompositeHelpContainer:after, 
.oneui .idxPlatform_mobile.idxComposite .idxCompositeHelpContainer:before,
.oneui .idxPlatform_mobile.idxComposite .idxValidationContainer:before,
.oneui .idxPlatform_mobile.idxComposite .idxValidationContainer:after
 {
	bottom: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	z-index: 99;
	left: 0%;
}
.oneui .idxPlatform_mobile.idxComposite .idxCompositeHelpContainer:after {
	/*border-color: rgba(136, 183, 213, 0);*/
	border-bottom-color: #f0faff;
	border-width: 6px;
	margin-left: 12px;
}
.oneui .idxPlatform_mobile.idxComposite .idxCompositeHelpContainer:before {
	/*border-color: rgba(194, 225, 245, 0);*/
	border-bottom-color: rgb(0, 128, 184);
	border-width: 7px;
	margin-left: 11px;
}
.oneui .idxPlatform_mobile.idxComposite .idxValidationContainer:after{
	border-bottom-color: #fff3f3;
	border-width: 6px;
	margin-left: 11px;
}
.oneui .idxPlatform_mobile.idxComposite .idxValidationContainer:before{
	border-bottom-color: rgb(205, 49, 42);
	border-width: 8px;
	margin-left: 9px;
}
/*connector end*/


.oneui .idxPlatform_mobile.idxComposite .idxHelpIcon{
	background-image: url("../../oneui/idx/widget/images/msgIcons_24bit.png");
	background-position: -73px -1px;
	width: 16px;
	height: 16px;
	margin: 6px 5px 6px 0;
}
.oneui .idxPlatform_mobile.idxComposite .idxCompositeHelpContainer span{
	vertical-align: middle;
}

.oneui .idxPlatform_mobile.idxComposite .idxHelpIconAltText {
	display: none;
}
