<table width="100%" border="0">
    <tr>
        <td><span style="font-size: 1.0em; font-weight: bold;color: #444444;"><i class="icon-book"></i> 知识中心</span></td>
        <td align="right"><i class="icon-cog"></i> <span data-dojo-type="idx.form.Link" onClick="renderKnowledgeConfigDialog">知识中心设置</span></td>
    </tr>
    <tr>
        <td colspan="2" >
            <div class="app_headerDivLine"></div>
        </td>
    </tr>
</table>

        <div>
            <div id="app_knowledgeBase_cateGoryEditorContainer"></div>



        </div>






<script type="text/javascript" src="vfbam/userclient/components/knowledgeBase/knowledgeBase.js"></script>