<div>
    <div data-dojo-attach-point="containerNode">   
	    <table width="100%">
	    	<tr>
	    		<td style="width:140px;" valign="top">
	    			<div style="height:10px;"> </div>
		    		<div>
                        <img src="" width="128px" height="128px" class="app_photoBorder" data-dojo-attach-point="participantFacePhoto"/>
		    		</div> 
	    		</td>
	    		<td>
	    			<div style="font-size: 0.9em;font-weight:bold;color:#888888;padding-left:10px;"><span style="padding-right:10px;"><i class='icon-male'></i> 当前用户 :</span><span style="font-size: 1.0em;" data-dojo-attach-point="currentUserInfoField"></span></div>
	    			<div style="height:10px;"> </div>
	    			<table width="100%">
						<tr>
                            <td align="right" style="font-size: 0.9em;font-weight:bold;color:#666666;padding-right:10px;width:130px;"><i class='icon-key'></i> 当前登录密码 :</td>
                            <td align="left"><input dojoType="dijit.form.ValidationTextBox" type="password" required="true" missingMessage="请输入当前登录密码" style="width:100%;" data-dojo-attach-point="currentPasswordField"></input></td>
                        </tr>
                        
                        <tr>
                            <td align="right" style="font-size: 0.9em;font-weight:bold;color:#666666;padding-right:10px;width:130px;"><i class="icon-key"></i> 新登录密码 :</td>
                            <td align="left"><input dojoType="dijit.form.ValidationTextBox" type="password" required="true" missingMessage="请输入新登录密码" style="width:100%;" data-dojo-attach-point="newPasswordField"></input></td>
                        </tr>                        
                        <tr>
                            <td align="right" style="font-size: 0.9em;font-weight:bold;color:#666666;padding-right:10px;width:130px;"><i class="icon-key"></i> 重复输入新密码 :</td>
                            <td align="left"><input dojoType="dijit.form.ValidationTextBox" type="password" required="true" missingMessage="请输入新登录确认密码" style="width:100%;" data-dojo-attach-point="confirmNewPasswordField"></input></td>
                        </tr>                        
                           
	    			</table>	    		
	    		</td>	    		
	    	</tr>	    	
	    </table>   
    </div>
</div>