<div>
    <div data-dojo-attach-point="containerNode">
        <div>
            <span style="font-size: 1.0em;padding-right: 10px;padding-left: 8px;color: #888888;">
                <i class="icon-reorder"></i> 系统功能编码列表
            </span>
        </div>
        <div class="app_headerDivLine" style="padding-top: 12px;"></div>
        <div data-dojo-attach-point="featuresSelectorContainer" style="height: 200px;overflow: auto;padding-left: 8px;padding-top: 10px;font-size: 1.2em;color: #666666;">
        </div>
    </div>
</div>