<table width="100%" border="0" style="padding-top: 5px;" data-dojo-attach-point="historyListContainer">
    <!--
    <tr>
        <td style="width: 20px;vertical-align:bottom; padding-right: 5px; color:#CFCFCF;" align="right"><i class="icon-long-arrow-down icon-3x"></i></td>
        <td style="vertical-align:top;">
            <div style="font-size: 1.1em; color:#777777;font-weight: bold;">2013-1-12 12:40</div>
            <img src="images/77889784_.jpg" width="20px" height="20px" class="app_photoBorder_thin" align="absmiddle" /> <span style="font-size: 0.9em;font-weight: bold;color:#00475B;">客户A : <span style="font-size: 1.1em;color: #333333;font-weight: bold;">启动活动</span></span>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <div class="app_headerDivLine_thin"></div>
        </td>
    </tr>

    <tr>
        <td style="width: 20px;vertical-align:bottom; padding-right: 5px; color:#CFCFCF;" align="right"><i class="icon-long-arrow-down icon-3x"></i></td>
        <td style="vertical-align:top;">
            <div style="font-size: 1.1em; color:#777777;font-weight: bold;">2013-2-25 13:20</div>
            <img src="images/121726403_.jpg" width="20px" height="20px" class="app_photoBorder_thin" align="absmiddle" /> <span style="font-size: 0.9em;font-weight: bold;color:#00475B;">同事A : <span style="font-size: 1.1em;color: #333333;font-weight: bold;">添加文档</span></span>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <div class="app_headerDivLine_thin"></div>
        </td>
    </tr>

    <tr>
        <td style="width: 20px;vertical-align:bottom; padding-right: 5px; color:#CFCFCF;" align="right"><i class="icon-long-arrow-down icon-3x"></i></td>
        <td style="vertical-align:top;">
            <div style="font-size: 1.1em; color:#777777;font-weight: bold;">2013-3-11 09:40</div>
            <img src="images/118946479_.jpg" width="20px" height="20px" class="app_photoBorder_thin" align="absmiddle" /> <span style="font-size: 0.9em;font-weight: bold;color:#00475B;">领导A : <span style="font-size: 1.1em;color: #333333;font-weight: bold;">处理步骤A</span></span>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <div class="app_headerDivLine_thin"></div>
        </td>
    </tr>

    <tr>
        <td style="width: 20px;vertical-align:bottom; padding-right: 5px; color:#CFCFCF;" align="right"><i class="icon-long-arrow-down icon-3x"></i></td>
        <td style="vertical-align:top;">
            <div style="font-size: 1.1em; color:#777777;font-weight: bold;">2013-5-12 22:40</div>
            <img src="images/86530525_.jpg" width="20px" height="20px" class="app_photoBorder_thin" align="absmiddle" /> <span style="font-size: 0.9em;font-weight: bold;color:#00475B;">客户B : <span style="font-size: 1.1em;color: #333333;font-weight: bold;">处理步骤B</span></span>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <div class="app_headerDivLine_thin"></div>
        </td>
    </tr>
    -->
</table>