<div>
    <div data-dojo-attach-point="containerNode">   
	    <table width="100%">
	    	<tr>
	    		<td style="width:140px;" valign="top">
	    			<div style="height:10px;"> </div>
		    		<div>
                        <img src="" width="128px" height="128px" class="app_photoBorder" data-dojo-attach-point="participantFacePhoto"/>
		    		</div>    		
		    		<div style="text-align:center;">	
		    			<button dojoType="dijit.form.Button" data-dojo-props="label:' 更新LOGO'" data-dojo-attach-point="updateUsetFacePhotoButton" data-dojo-attach-event="onClick:updateUserFacePhoto"></button>
		    		</div>
		    	</td>
	    		<td>
	    			<table width="100%">
	    				<tr style="padding-bottom:20px;">
	    					<td align="right" style="font-size: 0.9em;font-weight:bold;color:#666666;padding-right:10px;width:110px;"><i class='icon-male'></i> 企业名称 :</td>
	    					<td align="left"><input dojoType="dijit.form.ValidationTextBox" required="true" missingMessage="请输入用户名称" style="width:300px;" data-dojo-attach-point="displayNameField"></input></td>
	    				</tr>
                        <tr>
                            <td align="right" style="font-size: 0.9em;font-weight:bold;color:#666666;padding-right:10px;width:100px;"><i class='icon-user'></i> 企业编码 :</td>
                            <td align="left"><input dojoType="dijit.form.TextBox" style="width:300px;" data-dojo-attach-point="userIdField" readonly></input></td>
                        </tr>
						<tr>
                            <td align="right" style="font-size: 0.9em;font-weight:bold;color:#666666;padding-right:10px;width:100px;"><i class='icon-ticket'></i> 企业行业 :</td>
                            <td align="left"><input dojoType="dijit.form.TextBox" style="width:300px;" data-dojo-attach-point="titleField"></input></td>
                        </tr>
                        
                        <tr>
                            <td align="right" style="font-size: 0.9em;font-weight:bold;color:#666666;padding-right:10px;width:100px;"><i class="icon-envelope-alt"></i> 联系人电子邮件 :</td>
                            <td align="left"><input dojoType="dijit.form.ValidationTextBox" regExp="(\w+([-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*)" invalidMessage="请输入电子邮件格式的地址" style="width:300px;" data-dojo-attach-point="emailAddressField"></input></td>
                        </tr>                        
                        <tr>
                            <td align="right" style="font-size: 0.9em;font-weight:bold;color:#666666;padding-right:10px;width:100px;"><i class="icon-mobile-phone"></i> 联系人移动电话 :</td>
                            <td align="left"><input dojoType="dijit.form.ValidationTextBox" regExp="^0?\d{11}$" invalidMessage="请输入格式正确的移动电话号码" style="width:300px;" data-dojo-attach-point="mobilePhoneField"></input></td>
                        </tr>                        
                        <tr>
                            <td align="right" style="font-size: 0.9em;font-weight:bold;color:#666666;padding-right:10px;width:100px;"><i class="icon-phone"></i> 联系人固定电话 :</td>
                            <td align="left"><input dojoType="dijit.form.ValidationTextBox" regExp="(^([0\+]\d{2,3}-)?(\d{3,4}-)?\d{7,12}(-\d{1,10})?)" invalidMessage="请输入格式正确的固定电话号码" style="width:300px;" data-dojo-attach-point="fixedPhoneField"></input></td>
                        </tr>                        
                        <tr>
                            <td align="right" style="font-size: 0.9em;font-weight:bold;color:#666666;padding-right:10px;width:100px;"><i class="icon-building"></i> 企业地址 :</td>
                            <td align="left"><input dojoType="dijit.form.TextBox" style="width:300px;" data-dojo-attach-point="addressField"></input></td>
                        </tr>                        
                        <tr>
                            <td align="right" style="font-size: 0.9em;font-weight:bold;color:#666666;padding-right:10px;width:100px;"><i class="icon-barcode"></i> 企业邮政编码 :</td>
                            <td align="left"><input dojoType="dijit.form.ValidationTextBox" regExp="([1-9]\d{5}(?!\d))" invalidMessage="请输入格式正确的邮政编码" style="width:300px;" data-dojo-attach-point="postalCodeField"></input></td>
                        </tr>                        
                        <tr>
                            <td valign="top" align="right" style="font-size: 0.9em;font-weight:bold;color:#666666;padding-right:10px;width:100px;"><i class="icon-comment"></i> 企业信息描述 :</td>
                            <td align="left"><input dojoType="dijit.form.Textarea" style="font-size: 1.0em;width:302px; min-height:80px;color:#444444" data-dojo-attach-point="descriptionField"></td>
                        </tr>                        
	    			</table>	    		
	    		</td>	    		
	    	</tr>	    	
	    </table>   
    </div>
</div>