<table width="100%" border="0" style="padding-top: 5px;">
    <tr>
        <td style="width: 40px;vertical-align:top;">
            <img src="" width="40px" height="40px" class="app_photoBorder_thin" data-dojo-attach-point="commentCreatorPhoto"/>
        </td>
        <td align="left" style="padding-left:5px;">
            <div style="font-size: 0.9em;font-weight: bold;color:#00475B;">
                <span data-dojo-type="vfbam.userclient.common.UI.widgets.TextDropdownButton" data-dojo-attach-point="commentCreatorName">
                </span>: <span style="color: #333333;font-weight: normal;" data-dojo-attach-point="commentContentTxt"></span>
            </div>
            <div style="font-size: 0.8em; color:#777777;">创建时间: <span data-dojo-attach-point="commentCreateDate"></span></div>
        </td>
    </tr>
    <tr>
        <td colspan="3">
            <div class="app_headerDivLine_thin"></div>
        </td>
    </tr>
</table>