<div>
    <div style="padding-top: 10px;padding-left: 5px;">
        <span style="font-weight: bold;color: #666666;">
            <i class="icon-tag" style="padding-right: 5px;"></i><span data-dojo-attach-point="stepNameTxt"></span>
        </span>
        <span style="font-weight: bold;color: #555555;padding-right: 20px;font-size: 0.9em;" data-dojo-attach-point="stepDueStatusTxt"></span>
        <span data-dojo-attach-point="stepAssigneeTxtContainer">
             <span style="font-size: 0.9em;color: #777777;padding-right: 5px;"><i class="icon-male"></i> 处理人:
                 <span style="font-weight: bold;color: #00475B;" data-dojo-attach-point="assigneeLabelContainer">
                     <span data-dojo-type="vfbam.userclient.common.UI.widgets.TextDropdownButton" data-dojo-attach-point="stepAssignerNameLabel"></span>
                 </span>
                 <span style="font-weight: bold;color: #555555;display: none;" data-dojo-attach-point="noneAssigneeLabelContainer">无</span>
             </span>
             <span style="font-size: 0.9em;color: #AAAAAA;padding-right: 5px;">|</span>
         </span>

        <span data-dojo-attach-point="stepOwnerTxtContainer">
            <span style="font-size: 0.9em;color: #CE0000;padding-right: 5px;"><i class="icon-male"></i> 委派人:
                <span style="font-weight: bold;color: #00475B;">
                    <span data-dojo-type="vfbam.userclient.common.UI.widgets.TextDropdownButton" data-dojo-attach-point="stepOwnerNameLabel"></span>
                </span>
            </span>
            <span style="font-size: 0.9em;color: #AAAAAA;padding-right: 5px;">|</span>
        </span>

        <span data-dojo-attach-point="stepRoleTxtContainer">
            <span style="font-size: 0.9em;color: #777777;padding-right: 5px;"><i class="icon-group"></i>
               <span data-dojo-attach-point="stepRoleRoleTxt" style="font-weight: bold;color: #555555;"></span>
            </span>
            <span style="font-size: 0.9em;color: #AAAAAA;padding-right: 5px;">|</span>
        </span>
        <span style="font-size: 0.9em;color: #777777;padding-right: 5px;"><i class="icon-time"></i> <span style="font-weight: bold;color: #555555;" data-dojo-attach-point="startDateTxt"></span></span>
        <span style="font-size: 0.9em;color: #AAAAAA;padding-right: 5px;">-</span>
        <span style="font-size: 0.9em;color: #777777;padding-right: 5px;"><i class="icon-time"></i> <span style="font-weight: bold;color: #555555;" data-dojo-attach-point="dueDateTxt"></span></span>
    </div>
    <div style="height: 5px;"> </div>
    <div class="app_headerDivLine"></div>
</div>