<div>
    <div style="padding-top: 5px;"> </div>
    <div style="padding-left: 10px;padding-right: 10px;"><span style="cursor: pointer" data-dojo-attach-event="onclick:queryICreatedActivities"><i class="icon-retweet"></i> 我启动的业务活动</span></div>
    <div class="app_headerDivLine"></div>
    <div style="padding-left: 10px;padding-top: 5px;padding-right: 10px;"><span style="cursor: pointer" data-dojo-attach-event="onclick:queryIWorkedTasks"><i class="icon-indent-right"></i> 我参与的业务任务</span></div>
    <div class="app_headerDivLine"></div>
</div>