<div data-dojo-attach-point="containerNode">
    <div>
        <div>
            <div dojoType="dijit.Tooltip"  position="after" data-dojo-attach-point="activityStepDescTxtPopup"></div>
            <span style="font-size: 1.2em; font-weight: bold;color: #444444;">
                <i class='icon-tag'></i> <span data-dojo-attach-point="activityStepNameTxt"></span>
                <span style="font-size: 0.9em; font-weight: normal;color: #AAAAAA;padding-left: 6px;padding-right: 6px;">-</span>
                <span style="font-size: 0.7em;" data-dojo-attach-point="activityTypeTxt"></span>
                <span style="font-size: 0.7em;color: #444444;padding-left:3px;"><i class="icon-retweet"></i> <span data-dojo-type="idx.form.Link" data-dojo-attach-event="onClick:showActivityInstanceDetail">业务活动详情</span></span>
            </span>
        </div>
        <div style="height: 5px;"> </div>
        <div style="padding-left: 5px;">
            <span data-dojo-attach-point="stepAssigneeTxtContainer">
                 <span style="font-size: 0.9em;color: #777777;padding-right: 5px;"><i class="icon-male"></i> 处理人:
                     <span style="font-weight: bold;color: #00475B;" data-dojo-attach-point="assigneeLabelContainer">
                         <span data-dojo-type="vfbam.userclient.common.UI.widgets.TextDropdownButton" data-dojo-attach-point="stepAssignerNameLabel"></span>
                     </span>
                     <span style="font-weight: bold;color: #555555;display: none;" data-dojo-attach-point="noneAssigneeLabelContainer">无</span>
                 </span>
                 <span style="font-size: 0.9em;color: #AAAAAA;padding-right: 5px;">|</span>
            </span>
            <span data-dojo-attach-point="stepOwnerTxtContainer">
                <span style="font-size: 0.9em;color: #CE0000;padding-right: 5px;"><i class="icon-male"></i> 委派人:
                    <span style="font-weight: bold;color: #00475B;">
                        <span data-dojo-type="vfbam.userclient.common.UI.widgets.TextDropdownButton" data-dojo-attach-point="stepOwnerNameLabel"></span>
                    </span>
                </span>
                <span style="font-size: 0.9em;color: #AAAAAA;padding-right: 5px;">|</span>
            </span>
            <span data-dojo-attach-point="stepRoleTxtContainer">
                <span style="font-size: 0.9em;color: #777777;padding-right: 5px;"><i class="icon-group"></i>
                   <span data-dojo-attach-point="stepRoleRoleTxt" style="font-weight: bold;color: #555555;"></span>
                </span>
                <span style="font-size: 0.9em;color: #AAAAAA;padding-right: 5px;">|</span>
            </span>
            <span style="font-size: 0.9em;color: #777777;padding-right: 5px;"><i class="icon-time"></i> <span style="font-weight: bold;color: #555555;" data-dojo-attach-point="startDateTxt"></span></span>
            <span style="font-size: 0.9em;color: #AAAAAA;padding-right: 5px;">-</span>
            <span style="font-size: 0.9em;color: #777777;padding-right: 5px;"><i class="icon-time"></i> <span style="font-weight: bold;color: #555555;" data-dojo-attach-point="finishDateTxt"></span></span>
            <span data-dojo-attach-point="timeCostPropertiesContainer" style="display: none;">
                <span style="font-size: 0.9em;color: #777777;padding-right: 5px;"> <i class="icon-resize-horizontal"></i> 耗时: <span style="font-weight: bold;color: #555555;" data-dojo-attach-point="activityStepDurationTxt"></span></span>
            </span>
        </div>
        <div style="height: 5px;"> </div>
        <div class="app_headerDivLine"></div>
        <div style="padding-left: 10px;padding-right: 10px;height: 400px;overflow: auto;">
            <div data-dojo-attach-point="activityStepDataFieldsContainer"></div>
        </div>
    </div>
</div>