<div>
    <div data-dojo-attach-point="containerNode" style="width: 520px;">
        <div>
            <span style="font-size: 1.0em; font-weight: bold;color: #444444;"><i class="icon-sitemap"></i> 知识分类列表</span>
            <!-- this prompt is for CategoryItemSelectorWidget
            <div style="font-size: 0.8em;color: #888888;" >请双击或使用右键菜单选择需要的分类：</div>
            -->
        </div>
        <div class="app_headerDivLine"></div>
        <div>
            <div style="width:520px;height:430px;overflow: auto; background-color: #f8f8f8;">
                <div style="height: 10px;">&nbsp;</div>
                <div data-dojo-attach-point="categoryTreeContainer"></div>
            </div>
        </div>
    </div>
</div>