<div>
    <div data-dojo-attach-point="containerNode">
        <div style="background-color: #ffffff;padding: 5px;font-size: 0.9em;color: #777777;">
            <table width="100%">
                <tr>
                    <td align="left" style="font-weight:bold;color:#666666;padding-right:10px;width:90px;"> 知识导航名称 :</td>
                    <td align="left"><input dojoType="dijit.form.TextBox" style="width:360px;" data-dojo-attach-point="globalSearchNameField" ></input></td>
                </tr>
                <tr>
                    <td align="left" style="font-weight:bold;color:#666666;padding-right:10px;width:90px;"> 知识导航描述  :</td>
                    <td align="left"><input dojoType="dijit.form.TextBox" style="width:360px;" data-dojo-attach-point="globalSearchDescField"></input></td>
                </tr>
            </table>
        </div>
        <div class="app_headerDivLine"></div>
        <div style="height:8px;"> </div>
        <div data-dojo-attach-point="categorySelectorContainer"></div>
    </div>
</div>