<div class="app_magazineView_item app_unselectable" style="cursor: pointer;">
    <div style="min-width: 200px;padding-left: 10px;padding-right: 10px;padding-top: 10px;">
        <i class="icon-bookmark-empty" style="color: #BBBBBB;padding-right: 5px;"></i>
        <span style="font-weight: bold;font-size: 1.0em;" data-dojo-attach-point="optionName"></span> - <span style="font-size: 0.8em;color: #888888;" data-dojo-attach-point="optionDesc"></span>
    </div>
    <div style="border-bottom: 1px dotted #BBBBBB; padding-top: 10px;"></div>
</div>