<span>
    <span data-dojo-attach-point="navigationItemContainer">
    </span>
    <span data-dojo-attach-point="externalResourceItemContainer">
        <!--
        <span style="color:#CCCCCC;font-size:0.8em;padding-left: 5px;padding-right: 5px;">|</span>
        <span style="font-size: 1.2em;padding-right: 5px;color: #457faa;font-weight: bold;"> 外部资源 <i class='icon-external-link'></i></span>
         -->
    </span>
    <span style="display: none;">
        <div><br/><br/><br/><br/><br/><br/><br/></div>
    </span>
</span>