<div>
    <div>
        <div style="height: 10px;"></div>
        <table width="100%">
            <tr>
                <td style="text-align: left;">
                    <i class="icon-bookmark-empty" style="color: #BBBBBB;"></i>
                    <span style="font-weight: bold;font-size: 0.9em;color: #444444;" data-dojo-attach-point="searchName"></span>：<span style="font-size: 0.8em;color: #888888;" data-dojo-attach-point="searchDesc"></span>
                </td>
                <td style="text-align: right;">
                    <i class="icon-bolt icon-border icon-large" style="cursor: pointer;" data-dojo-attach-point="searchButton"></i>
                    <span style="color:#666666;font-size:0.8em;padding-left: 5px;padding-right: 5px;">|</span>
                    <i class="icon-info icon-border icon-large" style="cursor: pointer;" data-dojo-attach-point="infoButton"></i>
                    <span style="color:#666666;font-size:0.8em;padding-left: 5px;padding-right: 5px;">|</span>
                    <i class="icon-trash icon-border icon-large" style="cursor: pointer;" data-dojo-attach-point="deleteButton"></i>
                </td>
            </tr>
        </table>
    </div>
    <div style="border-bottom: 1px dotted #BBBBBB; padding-top: 10px;"></div>
</div>