<div data-dojo-attach-point="containerNode">
    <div>
        <div style="height: 10px;"></div>
        <table width="100%">
            <tr>
                <td style="text-align: left;">
                    <i class="icon-bookmark-empty" style="color: #BBBBBB;"></i>
                    <span style="font-weight: bold;font-size: 0.9em;color: #444444;" data-dojo-attach-point="searchName"></span>：<span style="font-size: 0.8em;color: #888888;" data-dojo-attach-point="searchDesc"></span>
                </td>
            </tr>
        </table>
    </div>
    <div style="border-bottom: 1px dotted #BBBBBB; padding-top: 10px;"></div>
    <div style="height: 280px;vertical-align: top;overflow: auto;" data-dojo-attach-point="selectedTagContainer"></div>
</div>