<div class='dateTimeRangeContainer'>
	<table>
		<tr>
			<td>
				<input data-dojo-type="dijit.Calendar"
						data-dojo-attach-point='startDate'/>
				<label>${startLabel}</label>
				<br/>
				<input data-dojo-type='idx/form/TimeTextBox'
						style='width: 170px'
						data-dojo-attach-point='startTime'/>
			</td>
			<td>
				<input data-dojo-type="dijit.Calendar"
						data-dojo-attach-point='endDate'/>
				<label>${endLabel}</label>
				<br/>
				<input data-dojo-type='idx/form/TimeTextBox'
						data-dojo-attach-point='endTime'
						style='width: 170px'/>
			</td>
		</tr>
	</table>
</div>