/*
 * Licensed Materials - Property of IBM
 * (C) Copyright IBM Corp. 2010, 2012 All Rights Reserved
 * US Government Users Restricted Rights - Use, duplication or
 * disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
 */
.dijitTreeNode .dojoDndItemOver .dijitTreeContent {
	background-color:#222;
}

.idxCheckBoxTree .dijitTreeNode .dojoDndItemBefore .dijitTreeContent {
	border-top-color:#555;
}

.idxCheckBoxTree .dijitTreeNode .dojoDndItemAfter .dijitTreeContent {
	border-bottom-color:#555;
}