/*
 * Licensed Materials - Property of IBM
 * (C) Copyright IBM Corp. 2010, 2012 All Rights Reserved
 * US Government Users Restricted Rights - Use, duplication or
 * disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
 */
/* dojox.mobile.Badge */

.mblBadge {
	font-weight: bold;
	font-size: 14px;
	min-width: 18px;
	min-height: 18px;
	}