<div>
    <div dojoType="idx.layout.TitlePane" data-dojo-attach-point="overDueTaskContainer" style="width: 100%;" title="">
        <div data-dojo-attach-point="overDueTaskItemsContainer">
        </div>
    </div>
    <div dojoType="idx.layout.TitlePane" data-dojo-attach-point="todayTaskContainer" style="width: 100%;" title="">
        <div data-dojo-attach-point="todayTaskItemsContainer">
        </div>
    </div>
    <div dojoType="idx.layout.TitlePane" data-dojo-attach-point="thisWeekTaskContainer" style="width: 100%;" title="">
        <div data-dojo-attach-point="thisWeekTaskItemsContainer">
        </div>
    </div>
    <div dojoType="idx.layout.TitlePane" data-dojo-attach-point="noDueTaskContainer" style="width: 100%;" title="">
        <div data-dojo-attach-point="noDueTaskItemsContainer">
        </div>
    </div>
</div>