/*
 * Licensed Materials - Property of IBM
 * (C) Copyright IBM Corp. 2010, 2012 All Rights Reserved
 * US Government Users Restricted Rights - Use, duplication or
 * disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
 */

/************ Compact Tabs ************/
/* Compact Top Tabs*/
.oneui .compact .dijitTabContainerTop-tabs .dijitTabContent {
	padding: 6px 14px 5px;
}
.oneui .compact .dijitTabContainerTop-tabs .dijitTabHover {
	padding: 5px 14px 5px;
}
.oneui .compact .dijitTabContainerTop-tabs .dijitTabChecked,
.oneui .compact .dijitTabContainerTop-tabs .dijitTabCheckedHover,
.oneui .compact .dijitTabContainerTop-tabs .dijitTabCheckedActive {
	padding: 5px 14px 6px;
}
.oneui .compact .dijitTabContainer .dijitTabContainerTop-container {
	border-left: 0 none;
	border-right: 0 none;
	border-bottom: 0 none;
}
.oneui .compact .dijitTabContainer .dijitTabContainerTop-tabs {
	padding-left: 30px;
}

/** end Compact top tab **/
/*************** Compact bottom tab ***************/
.oneui .compact .dijitTabContainerBottom-tabs .dijitTabContent {
	padding: 5px 14px 6px;
}
.oneui .compact .dijitTabContainerBottom-tabs .dijitTabHover {
	padding: 5px 14px 5px;
}
.oneui .compact .dijitTabContainerBottom-tabs .dijitTabChecked,
.oneui .compact .dijitTabContainerBottom-tabs .dijitTabCheckedHover,
.oneui .compact .dijitTabContainerBottom-tabs .dijitTabCheckedActive {
	padding: 6px 14px 5px;
}
/** end Compact bottom tab **/
/*************** Compact left tab ***************/
.oneui .compact .dijitTabContainerLeft-tabs .dijitTabContent {
	padding: 5px 14px 6px;
}
.oneui .compact .dijitTabContainerLeft-tabs .dijitTabHover,
.oneui .compact .dijitTabContainerLeft-tabs .dijitTabChecked {
	padding: 5px 14px 6px 13px;
}
/*************** Compact right tab ***************/
.oneui .compact .dijitTabContainerRight-tabs .dijitTabContent {
	padding: 5px 13px 6px;
}
.oneui .compact .dijitTabContainerRight-tabs .dijitTabHover,
.oneui .compact .dijitTabContainerRight-tabs .dijitTabChecked {
	padding: 5px 13px 6px;
}
/** end right tab **/
.oneui .compact .tabStripButton {
	height:30px;
}
.oneui .compact .tabStripButton {
	height:19px;
	padding: 6px 7px 2px;
}