<div data-dojo-attach-point="addFolderDialog" style="background-color: #FFFFFF;">
    <div style="width: 375px;padding: 10px;">
        <div style="font-size: 0.8em;color: #888888;height: 15px; padding-top: 0px;">请输入新标签值:</div>
        <div class="app_headerDivLine"></div>
        <div style="padding-top: 5px;">
            <input dojoType="dijit.form.TextBox" style="width: 250px;" data-dojo-attach-point="tagValueInput"><button dojoType="dijit.form.Button" data-dojo-attach-point="addTagButton" data-dojo-attach-event="onClick:doAddNewTag"><i class="icon-bookmark-empty"></i> 确定</button>
        </div>
    </div>
</div>