<div data-dojo-type="idx.widget.MenuDialog" style="background-color: #FFFFFF;border-top:6px solid #3391AD;">
    <div data-dojo-attach-point="containerNode" style="width: 250px;padding: 10px;">
        <div>
            <div style="font-size: 0.8em;color: #888888;height: 15px; padding-top: 0px;">请选择需要添加的文件:</div>
            <div class="app_headerDivLine"></div>
            <div style="height:10px;"></div>
            <form method="post" data-dojo-attach-point="form" enctype="multipart/form-data">
                <input data-dojo-attach-point="fileUploaderNode"/>
            </form>
        </div>
    </div>
</div>