<div data-dojo-attach-point="addFolderDialog" style="background-color: #FFFFFF;">
    <div style="width: 375px;padding: 10px;">
        <div style="font-size: 0.8em;color: #888888;height: 15px; padding-top: 0px;">请输入新建文件夹名称:</div>
        <div class="app_headerDivLine"></div>
        <div style="padding-top: 5px;">
            <input dojoType="dijit.form.TextBox" style="width: 250px;" data-dojo-attach-point="folderNameInput"><button dojoType="dijit.form.Button" data-dojo-attach-point="addFolderButton" data-dojo-attach-event="onClick:doAddNewFolder"><i class="icon-folder-open"></i> 确定</button>
        </div>
    </div>
</div>