<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<!--
  Licensed Materials - Property of IBM
  (C) Copyright IBM Corp. 2010, 2012 All Rights Reserved
  US Government Users Restricted Rights - Use, duplication or 
  disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
-->
<html>
<head>
<title>Test nls/BorderContainer</title>
<script type="text/javascript" src="../../tests/dojoVersion.js"></script>
<script type="text/javascript" src="../../tests/test_nls.js"></script>
<script type="text/javascript">
var dojoConfig = currentDojoVersion.dojoConfig;
dojoConfig.parseOnLoad = true;
dojoScriptImport("../../../../@dojopath@/dojo/dojo.js", "postDojo");
dojoCSSImport("../../../../@dojopath@/dojo/resources/dojo.css", "idxStyles");
dojoCSSImport("../../../../@dojopath@/dijit/themes/dijit.css", "idxStyles");
dojoCSSImport("../../../../@dojopath@/dijit/themes/dijit_rtl.css", "idxStyles");
</script>
<style type="text/css" id="idxStyles">
@import "../../themes/oneui/oneui.css";
@import "../../tests/test_nls.css";
</style>
<script type="text/javascript" id="postDojo">
require(["dijit/layout/ContentPane", "idx/layout/BorderContainer"]);
</script>
</head>
<body class="oneui">
<h1 class="testTitle">layout/nls/BorderContainer</h1>
<table class="testInstruction"><tbody>
	<tr><th>Resource</th><th>Verification</th></tr>
	<tr><td>toggleTitleExpand</td><td>
		Place the mouse pointer on the down triangle icon to show a tooltip.<br/><br/>
		Verify that the "Expand Section" tooltip is translated.
	</td></tr>
	<tr><td>toggleTitleCollapse</td><td>
		Place the mouse pointer on the up triangle icon to show a tooltip.<br/><br/>
		Verify that the "Collapse Section" tooltip is translated.
	</td></tr>
	<tr><td>toggleTitleRestore</td><td>
		Click on the up triangle icon to collapse the top pane and place the mouse pointer on the single down triangle icon to show a tooltip.<br/><br/>
		Verify that the "Restore Section" tooltip is translated.
	</td></tr>
</tbody></table>
<hr/>
<div style="padding: 10px;">
	<div data-dojo-type="idx.layout.BorderContainer" style="height: 100px;">
		<div data-dojo-type="dijit.layout.ContentPane" data-dojo-props="region: 'top', splitter: true, toggleable: true, bidiToggle: true" style="height: 40px;"></div>
		<div data-dojo-type="dijit.layout.ContentPane" data-dojo-props="region: 'center'"></div>
	</div>		
</div>
</body>
</html>
