<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<!--
  Licensed Materials - Property of IBM
  (C) Copyright IBM Corp. 2010, 2012 All Rights Reserved
  US Government Users Restricted Rights - Use, duplication or 
  disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
-->
<html>
<head>
<title>Test nls/base</title>
<script type="text/javascript" src="../../tests/dojoVersion.js"></script>
<script type="text/javascript" src="../../tests/test_nls.js"></script>
<script type="text/javascript">
var dojoConfig = currentDojoVersion.dojoConfig;
dojoConfig.parseOnLoad = true;
dojoScriptImport("../../../../@dojopath@/dojo/dojo.js", "postDojo");
dojoCSSImport("../../../../@dojopath@/dojo/resources/dojo.css", "idxStyles");
dojoCSSImport("../../../../@dojopath@/dijit/themes/dijit.css", "idxStyles");
dojoCSSImport("../../../../@dojopath@/dijit/themes/dijit_rtl.css", "idxStyles");
</script>
<style type="text/css" id="idxStyles">
@import "../../themes/oneui/oneui.css";
@import "../../tests/test_nls.css";

.oneui .idxHeaderPaneA11y {
    position: relative;
    left: auto;
    top: auto;
    width: auto;
    height: auto;
}
.oneui .idxHeaderPaneTitleBar {
    display: none;
}
</style>
<script type="text/javascript" id="postDojo">
require(["idx/layout/HeaderPane"]);
</script>
</head>
<body class="oneui">
<h1 class="testTitle">layout/nls/base</h1>
<table class="testInstruction"><tbody>
	<tr><th>Resource</th><th>Verification</th></tr>
	<tr><td>contentTitleTemplate</td><td>
		Verify that the header title is translated, except the pane name, "pane".
	</td></tr>
</tbody></table>
<hr/>
<div style="padding: 10px;">
	<div data-dojo-type="idx.layout.HeaderPane" title="pane" style="height: 100px;"></div>
</div>
</body>
</html>
