@import "../../dijit/variables";
.@{theme-name} {
    .idxBreadcrumb {
        .idxBreadcrumbItem {
            color: black;
            text-decoration: none;
            margin-right: 7px;
        }
        .idxBreadcrumbItem.idxBreadcrumbItemClickable {
            color: #00649d;
        }
        .idxBreadcrumbItem.idxBreadcrumbItemClickable:hover {
            text-decoration: underline;
            color: #05386b;
        }
    }
}
