/** Licensed Materials - Property of IBM* (C) Copyright IBM Corp. 2010, 2012 All Rights Reserved* US Government Users Restricted Rights - Use, duplication or* disclosure restricted by GSA ADP Schedule Contract with IBM Corp.\*/  @import "../../dijit/variables";  

.dijitRtl {
    .@{theme-name} {
        .idxPreviewContent {
        	.idxPreviewTitle, & > p {
            	padding: 0 110px 0 0;
            }
        }
        .idxOneuiHoverCardWithoutPreviewImg .idxPreviewContent {
        	.idxPreviewTitle, & > p {
            	padding: 0;
            }
        }
        .idxOneuiHoverCard .idxPersonCardContainer > div {
        	padding: 0 120px 0 0;
        	margin-left: 0;
        	margin-right: 0;
        }
        .idxOneuiHoverCardMoreActions {
            float: left;
            padding: 5px 10px;
        }
        .idxOneuiHoverCardLeft {
            .idxOneuiHoverCardCloseIcon {
                right: auto;
                left: 12px;
            }
        }
        .idxOneuiHoverCardBelow {
            .idxOneuiHoverCardCloseIcon {
                right: auto;
                left: 9px;
            }
        }
        .idxOneuiHoverCardAbove {
            .idxOneuiHoverCardCloseIcon {
                right: auto;
                left: 9px;
            }
        }
        .idxOneuiHoverCardABRight {
            .idxOneuiHoverCardConnector {
                right: 20px;
            }
        }
        .idxOneuiHoverCardActionIcons {
            float: right;
            .idxOneuiHoverCardFooterButton{
            	margin: 0 0 0 10px;
            }
        }
    }
}
.@{theme-name} {
    .idxOneuiHoverCardMenuRtl {
        float: left;
    }
}
