/** Licensed Materials - Property of IBM* (C) Copyright IBM Corp. 2010, 2012 All Rights Reserved* US Government Users Restricted Rights - Use, duplication or* disclosure restricted by GSA ADP Schedule Contract with IBM Corp.\*/  @import "../../dijit/variables";  

.dijitRtl .@{theme-name} .idxOneuiHoverHelpTooltipAbove,
.dijitRtl .@{theme-name} .idxOneuiHoverHelpTooltipBelow {
    margin-left: 10px;
}
.dijitRtl {
    .@{theme-name} {
        .idxOneuiHoverHelpTooltipABRight {
            .idxOneuiHoverHelpTooltipConnector {
                right: 9px;
            }
        }
        .idxOneuiHoverHelpTooltipContainer  {
            padding-left: 30px;
            padding-right: 10px;
        }
        .idxOneuiHoverHelpTooltipLearnLink {
            span {
                padding-right: 0;
                padding-top: 1px;
            }
        }
        .idxOneuiHoverHelpTooltipRight {
            .idxOneuiHoverHelpTooltipCloseIcon {
                right: auto;
                left: 14px;
            }
        }
        .idxOneuiHoverHelpTooltipLeft {
            .idxOneuiHoverHelpTooltipCloseIcon {
                right: auto;
                left: 12px;
            }
        }
        .idxOneuiHoverHelpTooltipAbove {
            .idxOneuiHoverHelpTooltipCloseIcon {
                right: auto;
                left: 12px;
            }
        }
        .idxOneuiHoverHelpTooltipBelow {
            .idxOneuiHoverHelpTooltipCloseIcon {
                right: auto;
                left: 12px;
            }
        }
    }
}
