@import "../../dijit/variables";
.@{theme-name} {
    .dijitMenuRtl.oneuiMessageMenu {
        .messageMenuTimestamp {
            float: left;
            padding-left: 0;
            padding-right: 1.5em;
        }
    }
}
