/** Licensed Materials - Property of IBM* (C) Copyright IBM Corp. 2010, 2012 All Rights Reserved* US Government Users Restricted Rights - Use, duplication or* disclosure restricted by GSA ADP Schedule Contract with IBM Corp.\*/  @import "../../dijit/variables";  
.@{theme-name}.idx_i18n_il {
    .idxSingleMessageRtl {
        .idxMessageIcon {
            
        }
    }
}

.@{theme-name} {
    .idxSingleMessageRtl {
        .idxMessageIcon {
            margin: 10px 15px;
        }

        .idxMessageCloseIcon{
            margin: 0 0 0 20px;
        }

        .idxMessageRightAligned {
            position: absolute;
            left: 0;
            right: auto;
        }

        .idxMessageRefresh {
            text-align: left;
        }

        .idxMessageContent, .idxMessageFakeContent{
            padding: 16px 20px 16px 0;
        }

        .idxMessageTitle{
            display: inline-block;
        }
    }

    .idxSingleMessageRtl{
        .idxMessageTimestamp,
        .idxMessageAction,
        .idxMessageContent,
        .idxMessageIcon,
        .idxMessageIconWraper,
        .idxMessageSeparator,
        .idxMessageFakeContent{
            float: right;
        }
    }
}
