/* Select
 * 
 * Styling Select mainly includes:
 * 
 * 1. Containers
 * 		.dijitSelect - for border, background-color
 * 		.dijitButtonContents - for border
 *
 * 2. Arrow
 * 		.dijitArrowButton - for border, padding and background-color|image
 * 		.dijitArrowButtonInner - for border, background-color|image, display and width|height
 * 
 * 3. Menu
 * 		.dijitSelectMenu .* - for border, padding
 * 
 * 4. Various states
 * 		.dijitSelectHover|.dijitSelectFocused|.dijitSelectDisabled .* - for border, padding and background-color|image 
 */

@import "../variables";

/* normal status */

.@{theme-name} {
    .dijitSelect .dijitButtonNode {
      border: 0;
    }
    .dijitSelect .dijitArrowButtonContainer {
        border: 1px solid@arrowbutton-inner-border-color;

    }
    .dijitSelect .dijitArrowButton {
        padding: 0;
        background-color: @arrowbutton-background-color;

    }
    .dijitSelect .dijitArrowButton .dijitArrowButtonInner {
        height: 16px;
    }
    /* hover status */
    .dijitSelectHover {
        background-color: @textbox-hovered-background-color;
        background-repeat: repeat-x;
    }
    .dijitSelectHover .dijitArrowButton {
        background-color: @arrowbutton-hovered-background-color;

    }
    /*  Not used in this theme  
.dijitSelectHover .dijitArrowButton .dijitArrowButtonInner {
	background-position:-70px 53%;
} */
    /* focused status */
    .dijitSelectFocused .dijitArrowButton {
        background-color: @arrowbutton-pressed-background-color;		

    }
    .dijitSelectFocused .dijitArrowButton {
        border: none;
        padding: 1px;
    }
    /* Background change only for this theme
.dijitSelectFocused .dijitArrowButton .dijitArrowButtonInner {
	background-position:-70px 53%;
}*/
    /* disable status */
    .dijitSelectDisabled {
        border-color: @disabled-border-color;
        background-color: @disabled-background-color;
        background-image: none;
        color: @disabled-text-color;
    }
    
    .dijitSelectDisabled .dijitButtonNode {
        background-color: @disabled-background-color;
    }
    .dijitSelectDisabled .dijitArrowButton .dijitArrowButtonInner {
        background-position: @arrow-disabled-down;
    }
    /* Dropdown menu style for select */
    .dijitSelectMenu td.dijitMenuItemIconCell,
    .dijitSelectMenu td.dijitMenuArrowCell {
        /* so that arrow and icon cells from MenuItem are not displayed */
        display: none;
    }
    .dijitSelectMenu td.dijitMenuItemLabel {
        /* line up menu text with text in select box (in LTR and RTL modes) */
        padding: @textbox-padding;

    }
    .dijitSelectMenu .dijitMenuSeparatorTop {
        border-bottom: 1px solid @focused-border-color;

    }
}