.dlBlue {
  /* hover status */
  /* focused status */
  /*.dijitSelectFocused .dijitArrowButton {
        border: none;
        padding: 1px;
    }*/
  /* disable status */
  /* Dropdown menu style for select */
}
.dlBlue .dijitSelect {
  border: 1px solid #a4a6ab;
  border-collapse: separate;
}
.dlBlue .dijitSelect .dijitButtonContents {
  border: 0 solid #a4a6ab;
  border-right-width: 1px;
  background: white;
  padding: 7px 10px;
}
.dlBlue .dijitSelect .dijitButtonText {
  padding: 0;
  text-align: left;
}
.dlBlue .dijitSelect .dijitArrowButton {
  padding: 0;
  border: 0;
  border-color: #a4a6ab;
}
.dlBlue .dijitSelect .dijitButtonNode {
  border: 0;
}
.dlBlue .dijitSelect .dijitArrowButtonContainer {
  border: 1px solid transparent;
}
.dlBlue .dijitSelect .dijitArrowButton {
  padding: 0;
  background-color: transparent;
}
.dlBlue .dijitSelect .dijitArrowButton .dijitArrowButtonInner {
  height: 16px;
}
.dlBlue .dijitSelectHover {
  background-color: #ffffff;
  background-repeat: repeat-x;
  border-color: #48c0ef;
}
.dlBlue .dijitSelectHover .dijitArrowButton {
  background-color: transparent;
}
.dlBlue .dijitSelectFocused .dijitArrowButton {
  background-color: transparent;
}
.dlBlue .dijitSelectDisabled {
  border-color: #cdced2;
  background-color: #cdced2;
  background-image: none;
  color: #4c4d53;
}
.dlBlue .dijitSelectDisabled .dijitButtonNode {
  background-color: #cdced2;
}
.dlBlue .dijitSelectDisabled .dijitArrowButton .dijitArrowButtonInner {
  background-image: url("../form/images/arrows_white.png");
  background-position: -151px 53%;
}
.dlBlue .dijitSelectMenu td.dijitMenuItemIconCell,
.dlBlue .dijitSelectMenu td.dijitMenuArrowCell {
  /* so that arrow and icon cells from MenuItem are not displayed */
  display: none;
}
.dlBlue .dijitSelectMenu td.dijitMenuItemLabel {
  /* line up menu text with text in select box (in LTR and RTL modes) */
  padding: 6px 10px;
}
.dlBlue .dijitSelectMenu .dijitMenuSeparatorTop {
  border-bottom: 1px solid #008abf;
}
.dj_webkit .dlBlue .dijitSelect {
  display: inline-block;
}
.dj_webkit .dlBlue table.dijitSelect {
  display: inline-table;
}
.dlBlue .dijitSelect .dijitButtonContents,
.dlBlue .dijitSelect .dijitArrowButton {
  -webkit-transition-property: background-color, border;
  -moz-transition-property: background-color, border;
  transition-property: background-color, border;
  -webkit-transition-duration: 0.35s;
  -moz-transition-duration: 0.35s;
  transition-duration: 0.35s;
}
