<span style="cursor: pointer;" data-dojo-attach-point="itemContainer">
    <span data-dojo-attach-point="previewPictureContainer">
        <div style="height: 100px;"> </div>
        <span data-dojo-attach-point="knowledgeDescContainer" style="display: none;">
            <table style="background-color: #FFFFFF;filter:alpha(opacity=80);-moz-opacity:0.80;opacity:0.80; " width="100%">
                <tr>
                    <td style="text-align: right; font-size: 0.9em;color: #333333;padding-top: 10px;"><i class="icon-comment"></i> 描述：</td>
                    <td style="text-align: left; font-size: 0.9em;font-weight:bold;color: #333333;padding-top: 10px;" data-dojo-attach-point="descTxt">DSCN0174.JPEG</td>
                </tr>
                <tr>
                    <td style="text-align: right; font-size: 0.9em;color: #333333;padding-top: 5px;"><i class="icon-info-sign"></i> 类型：</td>
                    <td style="text-align: left; font-size: 0.9em;font-weight:bold;color: #333333;padding-top: 5px;" data-dojo-attach-point="fileTypeTxt">JPEG</td>
                </tr>
                <tr>
                    <td style="text-align: right; font-size: 0.9em;color: #333333;padding-top: 5px;"><i class="icon-sort-by-order"></i> 序号：</td>
                    <td style="text-align: left; font-size: 0.9em;font-weight:bold;color: #333333;padding-top: 5px;" data-dojo-attach-point="sequenceTxt">8500</td>
                </tr>
                <tr>
                    <td style="text-align: right; font-size: 0.9em;color: #333333;padding-top: 5px;padding-bottom: 10px;"><i class="icon-time"></i> 上传时间：</td>
                    <td style="text-align: left; font-size: 0.9em;font-weight:bold;color: #333333;padding-top: 5px;padding-bottom: 10px;" data-dojo-attach-point="uploadTimeTxt"></td>
                </tr>
            </table>
        </span>
    </span>
</span>