<div>
    <div class="app_magazineView_item app_unselectable"  style="cursor: pointer;" data-dojo-attach-point="userInfoItemRootContainer">
        <div style="height: 3px;"></div>
        <table width="100%" height="50px" border="0" class="app_headerDivLine">
            <tr>
                <td style="width:45px;" align="center">
                    <span><img src="" width="40px" height="40px" class="app_photoBorder" data-dojo-attach-point="collectionMainPicture"/></span>
                </td>
                <td style="padding-left:5px;">
                    <div>
                        <span style="font-size: 0.9em;color: #666666;font-weight: bold;" data-dojo-attach-point="collectionName">专辑名称</span>
                    </div>
                    <div style="padding-top: 5px;">
                        <span style="font-size: 0.9em;color: #888888;">
                            <i class="icon-camera"></i> 包含 <span style="font-size: 1.0em;color: #444444;" data-dojo-attach-point="knowledgeItemNumber">24</span> 个素材
                        </span>
                        <span style="padding-left:10px;font-size: 0.9em;color: #888888;">
                            <i class=" icon-user"></i> 由 <span style="font-size: 1.0em;color: #444444;" data-dojo-attach-point="publisherName">用户名称</span> 于 <span data-dojo-attach-point="publishDate">2014-5-5</span> 发布
                        </span>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>