<div>
    <table style="width: 100%">
        <tr>
            <td>
                <span style="font-size: 1.0em;font-weight:bold;color: #444444;padding-left: 10px;"><i class="icon-pushpin"></i> 主要分类标签：</span>
            </td>
            <td align="right">
            </td>
        </tr>
    </table>
    <div class="app_headerDivLine" style="border-width:0px; border-bottom-width: 2px; border-bottom-color: #DDDDDD; border-style:solid;"> </div>
    <div style="height: 8px;"> </div>
    <span  style="overflow: auto;max-width:50px;max-height: 50px;" data-dojo-attach-point="itemCategoriesContainer">
    </span>
</div>