<div style="padding-left: 20px;padding-top: 10px;padding-bottom: 20px;">
    <table width="100%">
        <tr>
            <td>
                <div style="font-size: 1.5em;font-weight: bold;padding-left: 10px;color: #888888;vertical-align: bottom;">
                    <i class="icon-archive"></i> <span style="color: #00649d;text-decoration: none;cursor: pointer;" data-dojo-attach-event="onclick:doOpenCollectionDetailView" data-dojo-attach-point="collectionName"></span>
                    <span style="font-size: 0.6em;font-weight: normal;">包含素材数量：<span style="font-weight: bold;" data-dojo-attach-point="materialNumber"></span></span>
                    <span style="font-size: 0.6em;font-weight: normal;">由 <span data-dojo-attach-point="publisherName"></span> 于 <span data-dojo-attach-point="publishDate"></span> 发布</span>
                </div>
            </td>
            <td style="text-align: right;padding-right: 10px;vertical-align: bottom;">
                <i  style="color: #CE0000;" class="icon-heart"></i> <span style="color: #00649d;text-decoration: none;cursor: pointer;" data-dojo-attach-event="onclick:collectKnowledgeCollection">收藏专辑</span>
                <span style="color:#666666;font-size:0.8em;padding-left: 5px;padding-right: 5px;">|</span>
                <i class="icon-volume-up"></i> <span style="color: #00649d;text-decoration: none;cursor: pointer;">订阅更新通知</span>
            </td>
        </tr>
    </table>

    <div class="app_headerDivLine"></div>
    <div style="height: 10px;"> </div>
    <table border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td width="300" align="right" valign="top">
                <span style="width: 300px;">
                    <span data-dojo-attach-point="mainDisplayItemContainer"></span>
                </span>
            </td>
            <td align="left" valign="top">
                <span style="height:300px;">
                    <div style="height:150px;padding-left: 3px;" data-dojo-attach-point="secondaryItemFirstLineContainer">
                    </div>
                    <div style="height:150px;padding-left: 3px;padding-top: 1px;" data-dojo-attach-point="secondaryItemSecondLineContainer">
                    </div>
                </span>
            </td>
        </tr>
    </table>
</div>