<div>
    <table style="width: 100%">
        <tr>
            <td>
                <div style="padding-left: 10px;padding-top: 7px;padding-bottom: 2px;font-size: 0.9em;color: #888888;"><i class="icon-pushpin"></i> 分类标签:</div>
            </td>
            <td align="right">
                <div style="padding-right: 10px;padding-top: 7px;padding-bottom: 2px;font-size: 0.9em;"><i class="icon-edit"></i> <span data-dojo-type="idx.form.Link" data-dojo-attach-event="onClick:renderItemTagSelectorDialog">编辑标签分类</span></div>
            </td>
        </tr>
    </table>
    <div class="app_headerDivLine" style=" border-width:0px; border-bottom-width: 1px; border-bottom-color: #DDDDDD; border-style:solid;"> </div>
    <div data-dojo-attach-point="attachedTagDisplayContainer" style="width:400px;height: 200px;overflow: auto;padding: 10px;"></div>
</div>