<div class="app_magazineView_item app_unselectable" style="cursor: pointer;" data-dojo-attach-event="onclick:showKnowledgeContent">
    <div>
        <div style="height: 5px;"></div>
        <table width="100%">
            <tr>
                <td style="text-align: left;">
                    <i data-dojo-attach-point="NAVIGATION_ICON" class="icon-globe" style="color: #BBBBBB;display: none;"></i>
                    <i data-dojo-attach-point="RECOMMENDED_ICON" class="icon-thumbs-up" style="color: #BBBBBB;display: none;"></i>
                    <i data-dojo-attach-point="POP_ICON" class="icon-star" style="color: #BBBBBB;display: none;"></i>
                    <i data-dojo-attach-point="LATEST_ICON" class="icon-time" style="color: #BBBBBB;display: none;"></i>
                    <i data-dojo-attach-point="ALL_ICON" class="icon-th" style="color: #BBBBBB;display: none;"></i>
                    <i data-dojo-attach-point="FAVORITE_ICON" class="icon-heart" style="color: #BBBBBB;display: none;"></i>
                    <i data-dojo-attach-point="SAVEDSEARCH_ICON" class="icon-bookmark-empty" style="color: #BBBBBB;display: none;"></i>
                    <i data-dojo-attach-point="PEOPLE_ICON" class="icon-user" style="color: #BBBBBB;display: none;"></i>
                    <i data-dojo-attach-point="COLLECTION_ICON" class="icon-archive" style="color: #BBBBBB;display: none;"></i>
                    <i data-dojo-attach-point="MATERIAL_ICON" class="icon-camera" style="color: #BBBBBB;display: none;"></i>
                    <i data-dojo-attach-point="KEYWORDSEARCH_ICON" class="icon-key" style="color: #BBBBBB;display: none;"></i>
                    <i data-dojo-attach-point="TAGSEARCH_ICON" class="icon-pushpin" style="color: #BBBBBB;display: none;"></i>
                    <span style="font-weight: bold;font-size: 0.9em;" data-dojo-attach-point="queryDisplayTitle"></span>
                </td>
                <td style="text-align: right;">
                    <i class="icon-eraser icon-border icon-large" style="cursor: pointer;" data-dojo-attach-point="deleteButton" data-dojo-attach-event="onclick:deleteCurrentItem"></i>
                </td>
            </tr>
        </table>
    </div>
    <div style="border-bottom: 1px dotted #BBBBBB; padding-top: 5px;"></div>
</div>