<div>
    <div style="padding-left: 10px;padding-top: 10px;">
        <table>
            <tr>
                <td>
                    <div style="width: 100%">
                        <span style="font-size: 0.9em;color: #888888;padding-left: 5px;"><i class="icon-eye-open"></i> 素材预览：</span><span style="font-size: 0.9em;color: #444444;padding-left: 5px;"><i class="icon-resize-full icon-border"></i> <span style="color: #05386b;cursor: pointer;" data-dojo-attach-event="onclick:showFullScreenPreview"> 全屏预览</span></span>
                        <div style=" text-align:right;display:inline-block;float: right;">
                            <span><i style="color:#26A251;" class="icon-pushpin"></i> <span style="color: #05386b;"><span data-dojo-attach-point="knowledgeTagSwitcherContainer"></span></span></span>
                            <span style="color:#CCCCCC;font-size:0.8em;padding-left: 5px;padding-right: 5px;">|</span>
                            <span><i style="color:#000000;" class="icon-download-alt"></i> <span data-dojo-type="idx.form.Link" data-dojo-attach-event="onClick:downloadKnowledgeFile">下载</span></span>
                            <span style="color:#CCCCCC;font-size:0.8em;padding-left: 5px;padding-right: 5px;">|</span>
                            <span><i style="color:#CE0000;" class="icon-heart"></i> <span data-dojo-type="idx.form.Link" data-dojo-attach-event="onClick:collectKnowledgeItem">收藏</span></span>
                            <span style="color:#CCCCCC;font-size:0.8em;padding-left: 5px;padding-right: 5px;">|</span>
                            <span  style="padding-right: 10px;"><i style="color:#00475B;" class="icon-archive"></i> <span style="color: #05386b;"><span data-dojo-attach-point="knowledgeProjectsSwitcherContainer"></span></span></span>
                        </div>
                    </div>
                </td>
                <td>
                    <span style="font-size: 0.9em;color: #888888;padding-left: 15px;"><i class="icon-list"></i> 素材属性：</span>
                </td>
            </tr>
            <tr>
                <td  style="vertical-align: top;">
                    <div style="padding-left: 5px;padding-top: 5px;" data-dojo-attach-point="generalKnowledgeViewerContainer"></div>
                </td>
                <td style="padding-left: 10px;vertical-align: top;">
                    <div style=" border-width:0px;border-top-width:0px; border-top-width: 2px; border-top-color: #DDDDDD; border-style:solid;min-width: 200px;">
                        <div data-dojo-attach-point="knowledgeItemMetaInfoContainer"></div>
                    </div>
                    <div>
                        <div style="height: 30px;"> </div>
                        <div data-dojo-attach-point="itemRecommendedKnowledgeWidgetContainer"></div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>