<div data-dojo-attach-point="containerNode">
    <table width="100%">
        <tr>
            <td style="vertical-align: top;">
                <div><span style="font-size: 0.8em;color: #888888;" >拼音缩写选择标签：</span><select data-dojo-attach-point="categoryTagFilterContainer"></select></div>
            </td>
            <td style="vertical-align: middle;text-align: right;">
                <i class="icon-th-list"></i> <span data-dojo-type="idx.form.Link"  data-dojo-attach-event="onClick:showCategorySelector">分类树选择标签</span>
                <span style="color:#666666;font-size:0.8em;padding-left: 5px;padding-right: 5px;">|</span>
                <i class="icon-eraser"></i> <span data-dojo-type="idx.form.Link" data-dojo-attach-event="onClick:clearSelectedCategories">清除已选标签</span>
            </td>
        </tr>
    </table>
    <div class="app_headerDivLine"></div>
    <div style="height: 280px;vertical-align: top;overflow: auto;" data-dojo-attach-point="selectedTagContainer">
    </div>
</div>