<div style="width: 400px;">
    <div style=" text-align:right;padding-top: 5px;padding-bottom: 1px;">
        <span style="padding-right: 10px;"><i class="icon-plus-sign"></i> <span data-dojo-type="idx.form.Link" data-dojo-attach-event="onClick:addToNewCollection">加入新专辑</span></span>
    </div>
    <div class="app_headerDivLine"></div>
    <div style="width: 400px;height: 200px;overflow: auto;">
        <div data-dojo-attach-point="knowledgeItemBelongedCollectionInfoContainer"></div>
    </div>
</div>