<span style="cursor: pointer;" data-dojo-attach-event="onclick:doSingleTagSearch">
    <span style="padding-top: 5px;padding-right: 5px;display: inline-block;height:20px;background-color: #F8F8F8;border-top: 4px solid #DEDEDE;">
        <div style="display: inline-block;"></div>
        <i class="icon-pushpin" style="color: #BBBBBB;"></i> <span data-dojo-attach-point="tagDisplayName"> </span><span style="min-width: 5px;"> </span><span style="cursor: pointer;" data-dojo-attach-point="removeButton"><i class="icon-remove"></i></span>
    </span>
    <span style="min-width: 5px;"> </span>
</span>