<div data-dojo-attach-point="containerNode">
    <table style="width: 100%">
        <tr>
            <td>
                <div style="padding-left: 10px;padding-top: 7px;padding-bottom: 2px;font-size: 0.9em;color: #888888;"><i class="icon-archive"></i> 相似专辑:</div>
            </td>
            <td align="right"></td>
        </tr>
    </table>
    <div class="app_headerDivLine" style=" border-width:0px; border-bottom-width: 1px; border-bottom-color: #DDDDDD; border-style:solid;"> </div>
    <div style="width: 400px;height: 200px;overflow: auto;">
        <div data-dojo-attach-point="knowledgeItemRelatedCollectionInfoContainer"></div>
    </div>
</div>