<span style="display: inline-block;padding-right:3px;padding-bottom: 3px;background-color: #FFFFFF;" data-dojo-attach-point="receiverContainer">
    <span style="border-top: 2px solid #3391AD;">
        <img data-dojo-attach-point="messageReceiverPic" height="16px" width="16px" align="absmiddle"/>
        <span data-dojo-attach-point="messageReceiverName" style="font-weight: bold;font-size: 0.9em;color: #333333;padding-left: 2px;"></span>
        <span style="padding-right: 3px;cursor: pointer;"><i class='icon-remove' data-dojo-attach-point="removeReceiverBtn"></i></span>
    </span>
</span>