//
// Licensed Materials - Property of IBM
// (C) Copyright IBM Corp. 2010, 2013 All Rights Reserved
// US Government Users Restricted Rights - Use, duplication or
// disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
//

/* Dijit widget common icons */

/*commonIcons.css is located in dijit/icons

commonIconsRtl.css is TBD. This needs to be reviewed to determine in Rtl is reqd. 

The 16 x 16px icons in these sprites are action and object type images which can be used in the following widgets: accordionContainer, menu, tab, titlepane, tree, and all button widgets and error validation contexts. */

.dijitIconSave,
.dijitIconPrint,
.dijitIconCut,
.dijitIconCopy,
.dijitIconClear,
.dijitIconDelete,
.dijitIconUndo,
.dijitIconEdit,
.dijitIconNewTask,
.dijitIconEditTask,
.dijitIconEditProperty,
.dijitIconTask,
.dijitIconFilter,
.dijitIconConfigure,
.dijitIconSearch,
.dijitIconApplication,
.dijitIconBookmark,
.dijitIconChart,
.dijitIconConnector,
.dijitIconDatabase,
.dijitIconDocuments,
.dijitIconMail,
.dijitLeaf,
.dijitIconFile,
.dijitIconFunction,
.dijitIconKey,
.dijitIconPackage,
.dijitIconSample,
.dijitIconTable,
.dijitIconUsers,
.dijitFolderClosed,
.dijitIconFolderClosed,
.dijitFolderOpened,
.dijitIconFolderOpen,
.dijitIconError {
	background-image: url('images/icons/images/commonIconsObjActEnabled.png'); /* Contains both object and action icons in a sprite image for the enabled state.  */
	width: 16px;
	height: 16px;
}

.dijitDisabled .dijitIconSave,
.dijitDisabled .dijitIconPrint,
.dijitDisabled .dijitIconCut,
.dijitDisabled .dijitIconCopy,
.dijitDisabled .dijitIconClear,
.dijitDisabled .dijitIconDelete,
.dijitDisabled .dijitIconUndo,
.dijitDisabled .dijitIconEdit,
.dijitDisabled .dijitIconNewTask,
.dijitDisabled .dijitIconEditTask,
.dijitDisabled .dijitIconEditProperty,
.dijitDisabled .dijitIconTask,
.dijitDisabled .dijitIconFilter,
.dijitDisabled .dijitIconConfigure,
.dijitDisabled .dijitIconSearch,
.dijitDisabled .dijitIconApplication,
.dijitDisabled .dijitIconBookmark,
.dijitDisabled .dijitIconChart,
.dijitDisabled .dijitIconConnector,
.dijitDisabled .dijitIconDatabase,
.dijitDisabled .dijitIconDocuments,
.dijitDisabled .dijitIconMail,
.dijitDisabled .dijitLeaf,
.dijitDisabled .dijitIconFile,
.dijitDisabled .dijitIconFunction,
.dijitDisabled .dijitIconKey,
.dijitDisabled .dijitIconPackage,
.dijitDisabled .dijitIconSample,
.dijitDisabled .dijitIconTable,
.dijitDisabled .dijitIconUsers,
.dijitDisabled .dijitFolderClosed,
.dijitDisabled .dijitIconFolderClosed,
.dijitDisabled .dijitFolderOpened,
.dijitDisabled .dijitIconFolderOpen,
.dijitDisabled .dijitIconError {
	background-image: url('images/icons/images/commonIconsObjActDisabled.png'); /* Contains both object and action icons as a sprite image for the disabled state. These would be used by buttons and menus.   */
}

/*Action icons*/
.dijitIconSave { background-position: 0px; }
.dijitIconPrint { background-position: -16px; }
.dijitIconCut { background-position: -32px; }
.dijitIconCopy { background-position: -48px; }
.dijitIconClear { background-position: -64px; }
.dijitIconDelete { background-position: -80px; }
.dijitIconUndo { background-position: -96px; }
.dijitIconEdit { background-position: -112px; }
.dijitIconNewTask { background-position: -128px; }
.dijitIconEditTask { background-position: -144px; }
.dijitIconEditProperty { background-position: -166px; }
.dijitIconTask { background-position: -176px; }
.dijitIconfilter { background-position: -192px; }
.dijitIconConfigure { background-position: -208px; }
.dijitIconSearch { background-position: -224px; }
.dijitIconError { background-position: -496px; } 

/*Object icons*/
.dijitIconApplication { background-position: -240px; }
.dijitIconBookmark { background-position: -256px; }
.dijitIconChart { background-position: -272px; }
.dijitIconConnector { background-position: -288px; }
.dijitIconDatabase { background-position: -304px; }
.dijitIconDocuments { background-position: -320px; }
.dijitIconMail { background-position: -336px; }
.dijitIconFile, 
.dijitLeaf { background-position: -352px; }
.dijitIconFunction { background-position: -368px; }
.dijitIconKey { background-position: -384px; }
.dijitIconPackage{ background-position: -400px; }
.dijitIconSample { background-position: -416px; }
.dijitIconTable { background-position: -432px; }
.dijitIconUsers { background-position: -448px; }

/*Loading animation*/
.dijitIconLoading {
	background: url('images/dijit/loadingAnimation.gif') no-repeat;
    width: 20px;
    height: 20px;
	}

// Tree folder icons
.dijitIconFolderClosed, 
.dijitFolderClosed { 
    background-position: -464px; 
}

.dijitIconFolderOpen, 
.dijitFolderOpened { 
    background-position: -480px; 
}