<input type="button"
	aria-label='${nls.defineFilter}'
	data-dojo-type="dijit/form/Button"
	data-dojo-props="
		iconClass: 'gridxFilterBarBtnIcon',
		showLabel: false,
		label: '${nls.defineFilter}'
"/><div class="gridxFilterBarStatus"
	><span class="gridxFilterBarStatusText"></span
	><a href="javascript:void(0);" action="clear" title="${nls.filterBarClearButton}">${nls.filterBarClearButton}</a
></div
><span class="gridxFilterBarCloseBtn" tabindex="-1" title="${nls.closeFilterBarBtn}"
	><span class="gridxFilterBarCloseBtnText">x</span
></span>

