<div class="gridxFilterPaneForm"
	><span data-dojo-type="idx/form/Select"
		id="${id}_ColumnSelect"
		aria-labelledby="${id}_ColumnLabel"
		class="gridxFilterPaneColumnSelect"
		data-dojo-props="fieldWidth: '200px'"
		data-dojo-attach-point='sltColumn'
		data-dojo-attach-event='onChange: _onColumnChange'
	></span
	><span data-dojo-type="idx/form/Select"
		id="${id}_ConditionSelect"
		aria-labelledby="${id}_ConditionLabel"
		class="gridxFilterPaneConditionSelect"
		data-dojo-props="fieldWidth: '200px'"
		data-dojo-attach-point='sltCondition'
		data-dojo-attach-event='onChange: _onConditionChange'
	></span

	><div class="gridxFilterPaneFieldWrapper gridxFilterPaneTextWrapper"
		><input type="text"
			data-dojo-type="idx/form/TextBox"
			style=""
			aria-labelledby="${id}_ValueLabel"
			data-dojo-attach-point='tbSingle'
			data-dojo-props="
			intermediateChanges: true
	"/></div

	><div class="gridxFilterPaneFieldWrapper gridxFilterPaneComboWrapper"
		><input type="text" data-dojo-type="idx/form/ComboBox" style="" aria-labelledby="${id}_ValueLabel"
			data-dojo-attach-point='comboText'
			data-dojo-props="
			intermediateChanges: true,
			autoComplete: false,
			queryExpr: '*${module.nls.startsWithExpr}'
	"/></div

	><div class="gridxFilterPaneFieldWrapper gridxFilterPaneNumberWrapper"
		><input type="text" data-dojo-type="idx/form/NumberTextBox" style="" aria-labelledby="${id}_ValueLabel"
			data-dojo-attach-point='tbNumber'
			data-dojo-props="
			intermediateChanges: true
	"/></div

	><div class="gridxFilterPaneFieldWrapper gridxFilterPaneDateWrapper"
		><span data-dojo-type="idx/form/DateTextBox" aria-labelledby="${id}_ValueLabel" style=""
			data-dojo-attach-point='dtbSingle'
			data-dojo-props="
			fieldWidth: '200px',
			intermediateChanges: true
		"></span
	></div

	><div class="gridxFilterPaneFieldWrapper gridxFilterPaneDateRangeWrapper"
		><span data-dojo-type="idx/form/DateTextBox"
			class="gridxFilterPaneRangeStart"
			aria-label="${module.nls.beginDateRangeLabel}"
			data-dojo-attach-point='dtbStart'
			data-dojo-props="
			placeHolder: 'Start',
			fieldWidth: '90px',
			intermediateChanges: true
		"></span
		><span data-dojo-type="idx/form/DateTextBox"
			class="gridxFilterPaneRangeEnd"
			aria-label="${module.nls.endDateRangeLabel}"
			data-dojo-attach-point='dtbEnd'
			data-dojo-props="
			placeHolder: 'End',
			fieldWidth: '90px',
			intermediateChanges: true
		"></span
	></div

	><div class="gridxFilterPaneFieldWrapper gridxFilterPaneTimeWrapper"
		><span data-dojo-type="idx/form/TimeTextBox"
			aria-labelledby="${id}_ValueLabel"
			data-dojo-attach-point='ttbSingle'
			data-dojo-props="
			fieldWidth: '200px',
			intermediateChanges: true
		"></span
	></div

	><div class="gridxFilterPaneFieldWrapper gridxFilterPaneTimeRangeWrapper"
		><span data-dojo-type="idx/form/TimeTextBox"
			class="gridxFilterPaneRangeStart"
			aria-label="${module.nls.beginTimeRangeLabel}"
			data-dojo-attach-point='ttbStart'
			data-dojo-props="
			placeHolder: 'Start',
			fieldWidth: '90px',
			intermediateChanges: true
		"></span
		><span data-dojo-type="idx/form/TimeTextBox" style=""
			class="gridxFilterPaneRangeEnd"
			aria-label="${module.nls.endTimeRangeLabel}"
			data-dojo-attach-point='ttbEnd'
			data-dojo-props="
			placeHolder: 'End',
			fieldWidth: '90px',
			intermediateChanges: true
		"></span
	></div

	><div class="gridxFilterPaneFieldWrapper gridxFilterPaneRadioWrapper"
		><div class="gridxFilterPaneTrueRadio" style="display: inline-block;"
			><span data-dojo-type="dijit/form/RadioButton" aria-label="${module.nls.radioTrueLabel}"
				data-dojo-attach-point='rbTrue'
				checked="true"
			></span
			><span>${module.nls.trueLabel}</span
		></div
		><div class="gridxFilterPaneFalseRadio" style="display: inline-block;"
			><span data-dojo-type="dijit/form/RadioButton" aria-label="${module.nls.radioFalseLabel}"
				data-dojo-attach-point='rbFalse'
			></span><span>${module.nls.falseLabel}</span
		></div
	></div

	><div class="gridxFilterPaneFieldWrapper gridxFilterPaneSelectWrapper"
		><span data-dojo-type="idx/form/Select" aria-labelledby="${id}_ValueLabel"
			data-dojo-props="fieldWidth: '180px'"
			data-dojo-attach-point='sltSingle'
			style=""></span
	></div

	><input type="button"
		class="gridxFilterPaneRemoveBtn"
		data-dojo-type="dijit/form/Button"
		data-dojo-attach-point='_removeBtn'
		data-dojo-attach-event='onClick: close'
		data-dojo-props="
		showLabel: false,
		iconClass: 'gridxFilterPaneRemoveBtnIcon',
		label: '${module.nls.removeRuleButton}'
	"/><input type="button"
		class="gridxFilterPaneAddBtn"
		data-dojo-type="dijit/form/Button"
		data-dojo-attach-point='_addBtn'
		data-dojo-attach-event='onClick: _insertRule'
		data-dojo-props="
		showLabel: false,
		iconClass: 'gridxFilterPaneAddBtnIcon',
		label: '${module.nls.addRuleButton}'
"/></div>
