.jui-autocomplete-input{
	display: table;
	padding: 10px;
	background: #008abf;
}
.jui-autocomplete-input>div{
	display: table-cell;
	width: 100%;
}
.jui-autocomplete-input input{
	border: 1px solid #fff;
	width: 100%;
	margin: 0;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: #008adf;
}
.jui-autocomplete-input button{
	border: 1px solid #fff;
	background: #008abf;
	color: #fff;
	margin: 0 0 0 10px;
}
.jui-autocomplete-input button.ui-state-hover{
	background: #82D1F5;
	cursor:pointer;
}
.jui-autocomplete-input .ui-button-text-only .ui-button-text{
	padding: 0 10px;
	white-space:nowrap;
}
.jui-autocomplete.jui-menu{
	padding: 0 10px;
	border-top: 1px solid #fff;
	background-color: #008abf;
}
.jui-autocomplete.jui-menu .ui-menu-item{
	padding: 4px 0;
	border-bottom: 1px solid #fff;
}
.jui-autocomplete.jui-menu .ui-menu-item:last-child{
	border-bottom: 0;
	padding 4px 0 5px;
}
.jui-autocomplete.jui-menu .ui-menu-item a{
	color: #fff;
	padding: 0; 
}
.jui-autocomplete.jui-menu .ui-menu-item a.ui-state-focus{
	background: #82D1F5;
	border: 0;
	margin: 0;
	cursor:pointer;
}
.jui-autocomplete-input{
	color: #008adf;
}
.jui-autocomplete-input.ui-autocomplete-input {
	border: 1px solid #008abf;
	background: #ffffff;
	color: #008abf;
}