<tr>
    <td style="width: 20px;vertical-align:bottom; padding-right: 5px; color:#CFCFCF;" align="right"><i class="icon-long-arrow-down icon-3x"></i></td>
    <td style="vertical-align:top;">
        <div style="font-size: 1.1em; color:#777777;font-weight: bold;" data-dojo-attach-point="actionDateLabel"></div>
        <img src="" width="20px" height="20px" class="app_photoBorder_thin" align="absmiddle" data-dojo-attach-point="actionPerformerPhoto"/> <span style="font-size: 0.9em;font-weight: bold;color:#00475B;"><span data-dojo-type="vfbam.userclient.common.UI.widgets.TextDropdownButton" data-dojo-attach-point="actionPerformerName"></span> : <span style="font-size: 1.1em;color: #333333;font-weight: bold;" data-dojo-attach-point="actionTagLabel"></span></span>
    </td>
</tr>