<div>
    <div class="app_headerDivLine_thin" style="border-color:#AAAAAA;border-style:dotted;"></div>
    <span style="padding-left: 15px;color: #333333;display: inline-block">
        <div style="font-size: 0.8em;color: #555555;">
            <div style="padding-top: 5px;">
                <i class='icon-group'></i> 组权限
                <i class='icon-plus-sign-alt' style="color: #333333;padding-left: 215px;"></i>
                <span data-dojo-type="vfbam.userclient.common.UI.widgets.TextDropdownButton" data-dojo-attach-point="selectGroupPermissionLink" style="padding-right: 5px;cursor: pointer;color:#00649D;" label="添加组权限定义">
                </span>
            </div>
               <div data-dojo-attach-point="groupsPermissionListContainer" style="padding-left: 10px;"></div>
        </div>
        <div style="font-size: 0.8em;color: #555555;padding-top: 5px;">
            <div style="padding-top: 5px;"><i class='icon-user'></i> 用户权限</div>
            <div style="padding-left: 10px;">
                <div data-dojo-attach-point="creatorUserPermissionContainer"></div>
                <div data-dojo-attach-point="otherUserPermissionContainer"></div>
            </div>
        </div>
    </span>
</div>