<span style="cursor: pointer;" data-dojo-attach-point="itemContainer">
    <span data-dojo-attach-point="previewPictureContainer">
        <div style="height: 50px;">
            <div style="height: 20px;"> </div>
            <span style="padding-left: 20px;visibility: hidden;" data-dojo-attach-point="currentViewKnowledgeIndicator">
                <i style="font-size: 2em;color: #CE0000;" class="icon-star"></i> <span style="font-size: 1.1em;color: #666666;font-weight: bold;">当前显示素材</span>
            </span>
        </div>
        <span data-dojo-attach-point="knowledgeDescContainer" style="display: none;">
            <table style="background-color: #333333;filter:alpha(opacity=80);-moz-opacity:0.80;opacity:0.80;" width="100%">
                <tr>
                    <td style="text-align: right; font-size: 0.9em;color: #EEEEEE;padding-top: 10px;"><i class="icon-comment"></i> ：</td>
                    <td style="text-align: left; font-size: 0.9em;font-weight:bold;color: #EEEEEE;padding-top: 10px;width: 150px;" data-dojo-attach-point="descTxt"></td>
                </tr>
                <tr>
                    <td style="text-align: right; font-size: 0.9em;color: #EEEEEE;padding-top: 5px;"><i class="icon-info-sign"></i> ：</td>
                    <td style="text-align: left; font-size: 0.9em;font-weight:bold;color: #EEEEEE;padding-top: 5px;" data-dojo-attach-point="fileTypeTxt"></td>
                </tr>
                <tr>
                    <td style="text-align: right; font-size: 0.9em;color: #EEEEEE;padding-top: 5px;"><i class="icon-sort-by-order"></i> ：</td>
                    <td style="text-align: left; font-size: 0.9em;font-weight:bold;color: #EEEEEE;padding-top: 5px;" data-dojo-attach-point="sequenceTxt"></td>
                </tr>
                <tr>
                    <td style="text-align: right; font-size: 0.9em;color: #EEEEEE;padding-top: 5px;padding-bottom: 10px;"><i class="icon-time"></i> ：</td>
                    <td style="text-align: left; font-size: 0.9em;font-weight:bold;color: #EEEEEE;padding-top: 5px;padding-bottom: 10px;" data-dojo-attach-point="uploadTimeTxt"></td>
                </tr>
            </table>
        </span>
    </span>
</span>