<div data-dojo-attach-point="containerNode">
    <div data-dojo-attach-point="previewContainer">
        <table width="100%" border="0">
            <tr>
                <td style="text-align:left; width: 40px;" >
                    <span><img src="" width="32px" height="32px" class="app_photoBorder" data-dojo-attach-point="documentPreviewPicture"/></span>
                </td>
                <td style="text-align:left;">
                    <span style="color: #333333; font-size: 1.0em;padding-left: 5px;font-weight: bold;" data-dojo-attach-point="documentNameText"></span>
                </td>
            </tr>
        </table>
        <table style="width: 100%">
            <tr>
                <td>
                    <span style="font-size: 1.0em;font-weight:bold;color: #444444;padding-left: 10px;"><i class="icon-link"></i> 相似知识文档：</span>
                </td>
                <td align="right">
                    <span><i style="color:#26A251;" class="icon-pushpin"></i> <span style="color: #05386b;"><span data-dojo-attach-point="knowledgeTagSwitcherContainer"></span></span></span>
                    <span style="color:#CCCCCC;font-size:0.8em;padding-left: 5px;padding-right: 5px;">|</span>
                    <span style="font-size: 1.2em;">
                        <span data-dojo-type="idx.form.Link" data-dojo-attach-point="previousPageButton" data-dojo-attach-event="onClick:showPreviousItems"> <i class="icon-chevron-sign-left"></i>
                        <span style="font-style: italic; font-size: 0.7em; padding-left: 1px;color: #888888;"> 前一页</span>
                        </span>
                        <span style="width: 10px;">&nbsp;</span>
                        <span data-dojo-type="idx.form.Link" data-dojo-attach-point="nextPageButton" data-dojo-attach-event="onClick:showNextItems"> <i style="padding-left: 5px;padding-right: 5px;" class="icon-chevron-sign-right"></i>
                        <span style="font-style: italic; font-size: 0.7em; padding-left: 1px;color: #888888;"> 后一页</span>
                        </span>
                    </span>
                    <span data-dojo-attach-point="pagingElementContainer" style="padding-right: 20px;">
                        <span style="width: 10px;">&nbsp;</span>
                        <span style="font-style: italic; font-size: 0.9em; padding-left: 5px;">
                            <span ><span data-dojo-attach-point="currentRecommendsPageNumber">0</span>/<span data-dojo-attach-point="totalPageNumber">0</span></span> 总计: <span data-dojo-attach-point="totalItemNumber">0</span>
                        </span>
                    </span>
                </td>
            </tr>
        </table>
        <div class="app_headerDivLine" style="border-width:0px; border-bottom-width: 2px; border-bottom-color: #DDDDDD; border-style:solid;"> </div>
        <div style="background-color: #eeeeee;padding: 5px;font-size: 0.9em;color: #777777;overflow: auto;" data-dojo-attach-point="recommendedKnowledgeFileDisplayZone">
            <div>
                <div style="height: 8px;"> </div>
                <span  style="overflow: auto;max-width:50px;max-height: 50px;" data-dojo-attach-point="recommendedKnowledgeIconContainer">
                    <span><i class="icon-spinner icon-spin"></i><span style="color: #888888; font-size: 0.8em;"> 查找相似知识文档......</span></span>
                </span>
                <span data-dojo-attach-point="recommendsResultContainer" style="display: none;overflow: auto;min-height: 500px;"></span>
                <span data-dojo-attach-point="noResultContainer" style="display: none;color: #888888;"><i class="icon-remove"></i><span style="color: #888888; font-size: 0.8em;"> 无相似知识文档</span></span>
            </div>
        </div>
    </div>
</div>