<div style="padding: 5px;">
    <div>
        <table width="100%">
            <tr>
                <td style="text-align: left;">
                    <i class="icon-group" style="color: #888888;font-size: 0.8em;padding-right: 3px;"></i>
                    <span style="font-size: 0.8em;color: #666666;" data-dojo-attach-point="groupName"></span>
                </td>
                <td style="text-align: right;">
                    <i class="icon-plus-sign-alt icon-border" style="cursor: pointer;font-size: 0.7em;" data-dojo-attach-event="onclick:addPermissionGroup"></i>
                </td>
            </tr>
        </table>
    </div>
    <div class="app_headerDivLine_thin" style="border-color:#CCCCCC;"></div>
</div>