<div style="height:530px;overflow: auto; ">
    <div style="height: 10px;">&nbsp</div>
    <div style="background-color: #ffffff;padding: 5px;font-size: 0.9em;color: #777777;">
        <div style="font-size: 0.8em;color: #888888;height: 15px;padding-left: 5px;padding-bottom: 5px;padding-left: 10px;">
            <i class="icon-info"></i> 更新分类中文名称后需重新打开知识分类管理窗口,知识分类列表中的分类名称才会刷新.
        </div>
        <table width="100%">
            <tr style="padding-bottom:20px;">
                <td align="right" style="font-weight:bold;color:#666666;padding-right:10px;width:80px;"> 分类 ID :</td>
                <td align="left"><input dojoType="dijit.form.TextBox"  style="width:500px;" data-dojo-attach-point="categoryIdField" readonly></input></td>
            </tr>
            <tr>
                <td align="right" style="font-weight:bold;color:#666666;padding-right:10px;width:80px;"> 分类中文名称 :</td>
                <td align="left"><input dojoType="dijit.form.TextBox" style="width:500px;" data-dojo-attach-point="categoryName_cnField" ></input></td>
            </tr>
            <tr>
                <td align="right" style="font-weight:bold;color:#666666;padding-right:10px;width:80px;"> 分类英文名称 :</td>
                <td align="left"><input dojoType="dijit.form.TextBox" style="width:500px;" data-dojo-attach-point="category_enField"></input></td>
            </tr>
            <tr>
                <td valign="top" align="right" style="font-weight:bold;color:#666666;padding-right:10px;width:80px;"> 分类描述 :</td>
                <td align="left"><input dojoType="dijit.form.Textarea" style="font-size: 1.0em;width:502px; min-height:80px;color:#444444" data-dojo-attach-point="categoryDescriptionField"></td>
            </tr>
        </table>
    </div>

    <div style="height: 20px;">&nbsp</div>
    <div>
        <span style="font-size: 1.0em; font-weight: bold;color: #444444;padding-left: 8px;"><i class="icon-list"></i> 分类业务属性</span>
        <span>
        <span style="padding-left: 340px;">
            <i class="icon-plus-sign-alt"></i> <span data-dojo-type="vfbam.userclient.common.UI.widgets.TextDropdownButton" data-dojo-attach-point="addNewPropertyLink" style="padding-right: 5px;color:#00649D;" label="添加业务属性"></span>
        </span>
         <span style="padding-left:5px;">
            <i class="icon-minus-sign-alt"></i> <span data-dojo-type="vfbam.userclient.common.UI.widgets.TextDropdownButton" data-dojo-attach-point="removePropertyLink" style="color:#00649D;" label="删除业务属性"></span>
        </span>
        </span>
    </div>
    <div class="app_headerDivLine"></div>
    <div style="height: 10px;">&nbsp</div>
    <div style="height: 250px;overflow: auto;">
        <div data-dojo-attach-point="propertiesGridContainer"></div>
    </div>
</div>