/*
 * Licensed Materials - Property of IBM
 * (C) Copyright IBM Corp. 2010, 2012 All Rights Reserved
 * US Government Users Restricted Rights - Use, duplication or
 * disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
 */
/* NumberSpinner - namespace "dijitSpinner"
 * 
 * Styling NumberSpinner mainly includes:
 * 
 * 1. Arrows
 * 		Outer containers: .dijitSpinnerButtonContainer|.dijitSpinnerButtonInner  - for border, padding and position
 * 		Arrows: .dijitArrowButton|.dijitUpArrowButton.|dijitDownArrowButton
 * 		Inner container: .dijitArrowButtonInner - for border, padding, width|height and background image
 * 
 * 2. Hover state
 * 		.dijitUpArrowButtonHover|.dijitDownArrowButtonHover .*  - for background color|image
 * 
 * 3. Active state
 * 		.dijitUpArrowButtonActive|.dijitDownArrowButtonActive .*  - for border, padding, margin and background color|image
 * 
 * 4. Focused state
 * 		.dijitSpinnerFocused .* - for background color|image
 * 
 * 5. Disabled state
 * 		.dijitSpinnerDisabled .* - for background color|image
 */
/* button */
.oneui.dark .dijitSpinner .dijitArrowButton {
	background-color:#343434;
	background-image:-moz-linear-gradient(top,#343434,#222);
	background-image:-webkit-gradient(linear,0% 0%,0% 100%,from(#343434),to(#222));
}

/* up & down button icons */
.oneui.dark .dijitSpinner .dijitArrowButtonInner {
/*border: solid 1px #ffffff;
  border-bottom-width: 0;*/
/* 2 top borders = 1 top+bottom border in ComboBox */
	background-image:url(images/buttonArrows.png);
	background-repeat:no-repeat;
/* for up arrow */
	background-position:-98px center;
}

.oneui.dark .dijitSpinner .dijitDownArrowButton .dijitArrowButtonInner {
	background-position:-149px center;
}
/** hover & focused status **/
.oneui.dark .dijitSpinnerHover .dijitSpinnerButtonContainer,.oneui.dark .dijitSpinnerHover .dijitDownArrowButton,.oneui.dark .dijitSpinnerActive .dijitSpinnerButtonContainer,.oneui.dark .dijitSpinnerActive .dijitDownArrowButton,.oneui.dark .dijitSpinnerFocused .dijitSpinnerButtonContainer,.oneui.dark .dijitSpinnerFocused .dijitDownArrowButton {
	border-color:#343434!important;
}

.oneui.dark .dijitSpinnerHover {
	border-color:#343434;
}

.oneui.dark .dijitSpinnerInputContainerHover {
	border-color:#66d0e9;
}

.oneui.dark .dijitDisabled .dijitSpinnerInputContainerHover,.oneui.dark .dijitReadOnly .dijitSpinnerInputContainerHover {
	border-color:#555;
}

.oneui.dark .dijitSpinnerFocused .dijitArrowButton {
	background-color:#343434;
}

.oneui.dark .dijitSpinner .dijitUpArrowButtonHover,.oneui.dark .dijitSpinner .dijitDownArrowButtonHover {
	background-color:#222;
	background-image:-moz-linear-gradient(top,#343434,#555);
	background-image:-webkit-gradient(linear,0% 0%,0% 100%,from(#343434),to(#555));
}

.oneui.dark .dijitSpinner .dijitUpArrowButtonHover .dijitArrowButtonInner {
	background-position:2px center;
}

.oneui.dark .dijitSpinner .dijitDownArrowButtonHover .dijitArrowButtonInner {
	background-position:-49px center;
}

.oneui.dark .dijitSpinnerFocused {
	background-color:#222;
	background-image:none;
}

.oneui.dark .dijitSpinnerFocused .dijitInputContainer {
	border-color: #343434;
}

/* mouse down status */


.oneui.dark .dijitSpinner .dijitDownArrowButtonActive,.oneui.dark .dijitSpinner .dijitUpArrowButtonActive {
	background-color:#222;
	background-image:-moz-linear-gradient(top,#222,#343434);
	background-image:-webkit-gradient(linear,0% 0%,0% 100%,from(#222),to(#343434));
}

.oneui.dark .dijitSpinner .dijitUpArrowButtonActive .dijitArrowButtonInner {
	background-position:2px center;
}

.oneui.dark .dijitSpinner .dijitDownArrowButtonActive .dijitArrowButtonInner {
	background-position:-49px center;
}

/* disabled */
.oneui.dark .dijitSpinnerDisabled .dijitArrowButtonInner {
	background:#222;
}

.oneui.dark .dijitSpinnerDisabled .dijitUpArrowButton .dijitArrowButtonInner {
	background-position:-98px center;
}

.oneui.dark .dijitSpinnerDisabled .dijitDownArrowButton .dijitArrowButtonInner {
	background-position:-149px center;
}

.oneui.dark .dijitSpinnerError .dijitSpinnerButtonContainer,.oneui.dark .dijitSpinnerError .dijitDownArrowButton {
	border-color:#555;
}