<table width="100%" border="0">
    <tr>
    <td class="app_contentDivLine_right" data-dojo-attach-point="documentManagerMainContainer" style="padding-right: 5px;width: 100%;vertical-align:top;">

        <table width="100%" border="0">
            <tr>
                <td><span style="font-size: 0.9em; font-weight: bold;color: #444444;"><i class="icon-reorder"></i> 文档列表</span></td>
                <td align="right">
                    <i class="icon-search"></i>
                    <div data-dojo-type="idx.form.DropDownSelect" label=" 搜索文档" style="color:#00649D;">
                        <div data-dojo-type="idx.widget.MenuDialog" data-dojo-attach-point="documentsSearchMenuDialog">
                            <div data-dojo-attach-point="documentsSearchDialog"></div>
                        </div>
                    </div>
                    <span style="color:#666666;font-size:0.8em;padding-left: 20px;padding-right: 20px;">|</span>
                    <i class="icon-folder-open"></i>
                    <span data-dojo-type="vfbam.userclient.common.UI.widgets.TextDropdownButton" data-dojo-attach-point="addFolderLink" style="padding-right: 5px;color:#00649D;" label="添加文件夹">
                    </span>
                    <i class="icon-file"></i>
                    <span data-dojo-type="vfbam.userclient.common.UI.widgets.TextDropdownButton" data-dojo-attach-point="addDocumentLink" style="padding-right: 5px;color:#00649D;" label="添加文档">
                    </span>
                </td>
            </tr>
            <tr>
                <td colspan="2" >
                    <div class="app_headerDivLine"></div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div data-dojo-attach-point="documentsListContainer" style="overflow: auto;"></div>

                    <!--
                    <div style="padding-top: 15px;">
                        <i class="icon-terminal"></i><span data-dojo-type="idx.form.Link"  style="padding-right: 5px;"> 根目录</span>
                        <i class="icon-chevron-right" style="font-size: 0.8em;color: #666666;"></i>
                        <span data-dojo-type="idx.form.Link"  style="padding-right: 5px;"> 子目录1</span>
                        <i class="icon-chevron-right" style="font-size: 0.8em;color: #666666;"></i>
                        <span data-dojo-type="idx.form.Link"  style="padding-right: 5px;"> 子目录2</span>
                        <i class="icon-chevron-right" style="font-size: 0.8em;color: #666666;"></i>
                        <span data-dojo-type="idx.form.Link"  style="padding-right: 5px;"> 子目录3</span>
                    </div>
                    <div class="app_headerDivLine"></div>

                    <div class="app_magazineView_item app_magazineView_item_odd">
                        <table width="100%" height="35px" border="0" class="app_headerDivLine">
                            <tr>
                                <td>
                                    <img src="vfbam/userclient/css/image/fileType/doc.png" width="16px" height="16px" style="vertical-align:middle;"/>
                                    <span style="font-weight: bold;padding-right: 5px;">filenet ConfigGuide.doc</span>
                                    <span style="font-size: 0.9em;font-style: italic;padding-right: 5px;"><i class="icon-time"></i> 2013-3-12 12:45</span>
                                    <span style="font-size: 0.9em;color: #ce0000;padding-right: 5px;"><i class="icon-code-fork"></i> v0.0</span>
                                </td>
                                <td align="right">
                                    <i class="icon-eye-open icon-border" style="cursor: pointer;"></i>
                                    <span style="padding-right: 5px;"></span>
                                    <i class="icon-download-alt icon-border" style="cursor: pointer;"></i>
                                    <span style="padding-left: 5px;padding-right: 5px; font-size: 0.8em;">|</span>
                                    <i class="icon-lock icon-border" style="cursor: pointer;padding-left:3px; padding-right: 3px;"></i>
                                    <span style="padding-right: 5px;"></span>
                                    <i class="icon-edit icon-border" style="cursor: pointer;"></i>
                                    <span style="padding-right: 5px;"></span>
                                    <i class="icon-trash icon-border" style="cursor: pointer;"></i>
                                </td>
                            </tr>
                        </table>
                    </div>


                    <div class="app_magazineView_item app_magazineView_item_even">
                        <table width="100%" height="35px" border="0" class="app_headerDivLine">
                            <tr>
                                <td>
                                    <img src="vfbam/userclient/css/image/fileType/pdf.png" width="16px" height="16px" style="vertical-align:middle;"/>
                                    <span style="font-weight: bold;padding-right: 5px;">Viewfunction 用户管理架构设计概要.pdf</span>
                                    <span style="font-size: 0.9em;font-style: italic;padding-right: 5px;"><i class="icon-time"></i> 2013-3-12 12:45</span>
                                    <span style="font-size: 0.9em;color: #ce0000;padding-right: 5px;"><i class="icon-code-fork"></i> v0.0</span>
                                </td>
                                <td align="right">
                                    <i class="icon-eye-open icon-border" style="cursor: pointer;"></i>
                                    <span style="padding-right: 5px;"></span>
                                    <i class="icon-download-alt icon-border" style="cursor: pointer;"></i>
                                    <span style="padding-left: 5px;padding-right: 5px; font-size: 0.8em;">|</span>
                                    <i class="icon-lock icon-border" style="cursor: pointer;padding-left:3px; padding-right: 3px;"></i>
                                    <span style="padding-right: 5px;"></span>
                                    <i class="icon-edit icon-border" style="cursor: pointer;"></i>
                                    <span style="padding-right: 5px;"></span>
                                    <i class="icon-trash icon-border" style="cursor: pointer;"></i>
                                </td>
                            </tr>
                        </table>
                    </div>


                    <div class="app_magazineView_item app_magazineView_item_odd">
                        <table width="100%" height="35px" border="0" class="app_headerDivLine">
                            <tr>
                                <td>
                                    <img src="vfbam/userclient/css/image/fileType/ini.png" width="16px" height="16px" style="vertical-align:middle;"/>
                                    <span style="font-weight: bold;padding-right: 5px;">VF Windows平台性能调优配置.ini</span>
                                    <span style="font-size: 0.9em;font-style: italic;padding-right: 5px;"><i class="icon-time"></i> 2013-3-12 12:45</span>
                                    <span style="font-size: 0.9em;color: #ce0000;padding-right: 5px;"><i class="icon-code-fork"></i> v0.0</span>
                                </td>
                                <td align="right">
                                    <i class="icon-eye-open icon-border" style="cursor: pointer;"></i>
                                    <span style="padding-right: 5px;"></span>
                                    <i class="icon-download-alt icon-border" style="cursor: pointer;"></i>
                                    <span style="padding-left: 5px;padding-right: 5px; font-size: 0.8em;">|</span>
                                    <i class="icon-lock icon-border" style="cursor: pointer;padding-left:3px; padding-right: 3px;"></i>
                                    <span style="padding-right: 5px;"></span>
                                    <i class="icon-edit icon-border" style="cursor: pointer;"></i>
                                    <span style="padding-right: 5px;"></span>
                                    <i class="icon-trash icon-border" style="cursor: pointer;"></i>
                                </td>
                            </tr>
                        </table>
                    </div>


                    <div class="app_magazineView_item app_magazineView_item_even">
                        <table width="100%" height="35px" border="0" class="app_headerDivLine">
                            <tr>
                                <td>
                                    <img src="vfbam/userclient/css/image/fileType/txt.png" width="16px" height="16px" style="vertical-align:middle;"/>
                                    <span style="font-weight: bold;padding-right: 5px;">filenet CE许可证.txt</span>
                                    <span style="font-size: 0.9em;font-style: italic;padding-right: 5px;"><i class="icon-time"></i> 2013-3-12 12:45</span>
                                    <span style="font-size: 0.9em;color: #ce0000;padding-right: 5px;"><i class="icon-code-fork"></i> v0.0</span>
                                </td>
                                <td align="right">
                                    <i class="icon-eye-open icon-border" style="cursor: pointer;"></i>
                                    <span style="padding-right: 5px;"></span>
                                    <i class="icon-download-alt icon-border" style="cursor: pointer;"></i>
                                    <span style="padding-left: 5px;padding-right: 5px; font-size: 0.8em;">|</span>
                                    <i class="icon-lock icon-border" style="cursor: pointer;padding-left:3px; padding-right: 3px;"></i>
                                    <span style="padding-right: 5px;"></span>
                                    <i class="icon-edit icon-border" style="cursor: pointer;"></i>
                                    <span style="padding-right: 5px;"></span>
                                    <i class="icon-trash icon-border" style="cursor: pointer;"></i>
                                </td>
                            </tr>
                        </table>
                    </div>


                    <div class="app_magazineView_item app_magazineView_item_odd">
                        <table width="100%" height="35px" border="0" class="app_headerDivLine">
                            <tr>
                                <td>
                                    <img src="vfbam/userclient/css/image/fileType/ppt.png" width="16px" height="16px" style="vertical-align:middle;"/>
                                    <span style="font-weight: bold;padding-right: 5px;">viewfunction 结构设计演示稿.ppt</span>
                                    <span style="font-size: 0.9em;font-style: italic;padding-right: 5px;"><i class="icon-time"></i> 2013-3-12 12:45</span>
                                    <span style="font-size: 0.9em;color: #ce0000;padding-right: 5px;"><i class="icon-code-fork"></i> v0.0</span>
                                </td>
                                <td align="right">
                                    <i class="icon-eye-open icon-border" style="cursor: pointer;"></i>
                                    <span style="padding-right: 5px;"></span>
                                    <i class="icon-download-alt icon-border" style="cursor: pointer;"></i>
                                    <span style="padding-left: 5px;padding-right: 5px; font-size: 0.8em;">|</span>
                                    <i class="icon-lock icon-border" style="cursor: pointer;padding-left:3px; padding-right: 3px;"></i>
                                    <span style="padding-right: 5px;"></span>
                                    <i class="icon-edit icon-border" style="cursor: pointer;"></i>
                                    <span style="padding-right: 5px;"></span>
                                    <i class="icon-trash icon-border" style="cursor: pointer;"></i>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="app_magazineView_item app_magazineView_item_even">
                        <table width="100%" height="35px" border="0" class="app_headerDivLine">
                            <tr>
                                <td>
                                    <img src="vfbam/userclient/css/image/fileType/folder16.png" width="16px" height="16px" style="vertical-align:middle;"/>
                                    <span style="font-weight: bold;padding-right: 5px;">folderA</span><span style="font-size: 0.9em;font-style: italic;">(12)</span>
                                    <span style="font-size: 0.9em;font-style: italic;padding-right: 5px;"><i class="icon-time"></i> 2013-3-12 12:45</span>
                                    <span style="font-size: 0.9em;color: #ce0000;padding-right: 5px;"><i class="icon-code-fork"></i> v0.0</span>
                                </td>
                                <td align="right">
                                    <i class="icon-file icon-border" style="cursor: pointer;padding-left:3px; padding-right: 3px;"></i>
                                    <span style="padding-left: 5px;padding-right: 5px; font-size: 0.8em;">|</span>
                                    <i class="icon-trash icon-border" style="cursor: pointer;"></i>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="app_magazineView_item app_magazineView_item_odd  app_magazineView_item_selected">
                        <table width="100%" height="35px" border="0" class="app_headerDivLine">
                            <tr>
                                <td>
                                    <img src="vfbam/userclient/css/image/fileType/jpg.png" width="16px" height="16px" style="vertical-align:middle;"/>
                                    <span style="font-weight: bold;padding-right: 5px;">222122my3ue60tnlly68ee.jpg</span>
                                    <span style="font-size: 0.9em;font-style: italic;padding-right: 5px;"><i class="icon-time"></i> 2013-3-12 12:45</span>
                                    <span style="font-size: 0.9em;color: #ce0000;padding-right: 5px;"><i class="icon-code-fork"></i> v0.0</span>
                                </td>
                                <td align="right">
                                    <i class="icon-eye-open icon-border" style="cursor: pointer;"></i>
                                    <span style="padding-right: 5px;"></span>
                                    <i class="icon-download-alt icon-border" style="cursor: pointer;"></i>
                                    <span style="padding-left: 5px;padding-right: 5px; font-size: 0.8em;">|</span>
                                    <i class="icon-lock icon-border" style="cursor: pointer;padding-left:3px; padding-right: 3px;"></i>
                                    <span style="padding-right: 5px;"></span>
                                    <i class="icon-edit icon-border" style="cursor: pointer;"></i>
                                    <span style="padding-right: 5px;"></span>
                                    <i class="icon-trash icon-border" style="cursor: pointer;"></i>
                                </td>
                            </tr>
                        </table>
                    </div>
                    -->

                </td>
            </tr>
        </table>
    </td>
    <td style="min-width: 250px;padding-left: 5px;vertical-align:top;">
        <div data-dojo-attach-point="documentsPreviewContainer"></div>
        <!--

        <table width="100%" border="0">
            <tr>
                <td style="text-align:center;" >
                    <span><img src="images/222122my3ue60tnlly68ee.jpg" width="128px" height="128px" class="app_photoBorder"/></span>
                </td>
            </tr>
        </table>
        <div style="background-color: #eeeeee;padding: 5px;font-size: 0.9em;color: #777777;">
            <div style="padding-bottom: 3px;"><i class="icon-file-alt"></i> 名称:<span style="color: #333333; font-size: 1.0em;padding-left: 5px;">222122my3ue60tnlly68ee.jpg</span></div>
            <div style="padding-bottom: 3px;"><i class="icon-hdd"></i> 文件大小:<span style="color: #333333; font-size: 1.0em;padding-left: 5px;">525 KB</span></div>
            <div style="padding-bottom: 3px;"><i class="icon-code-fork"></i> 当前版本:<span style="color: #333333; font-size: 1.0em;padding-left: 5px;">v 0.0</span></div>

            <div style="padding-bottom: 3px;"><i class="icon-signout"></i> 创建人:<span style="color: #333333; font-size: 1.0em;padding-left: 5px;">王颖初</span></div>
            <div style="padding-bottom: 3px;"><i class="icon-time"></i> 最后更新时间:<span  style="color: #333333; font-size: 1.0em;padding-left: 5px;">2013-7-19 12：45</span></div>
            <div><i class="icon-signin"></i> 最后更新人:<span  style="color: #333333; font-size: 1.0em;padding-left: 5px;">王建伟</span></div>
        </div>
        -->
    </td>
    </tr>
</table>