<div>
    <div style="padding-top: 15px;" data-dojo-attach-point="folderListContainer">
        <i class="icon-terminal"></i><span data-dojo-type="idx.form.Link"  style="padding-right: 5px;" data-dojo-attach-event="onClick:renderRootFolder"> 根目录</span>
        <span data-dojo-attach-point="folderListBbreadcrumb"></span>
        <!--
        <i class="icon-terminal"></i><span data-dojo-type="idx.form.Link"  style="padding-right: 5px;"> 根目录</span>
        <i class="icon-chevron-right" style="font-size: 0.8em;color: #666666;"></i>
        <span data-dojo-type="idx.form.Link"  style="padding-right: 5px;"> 子目录1</span>
        <i class="icon-chevron-right" style="font-size: 0.8em;color: #666666;"></i>
        <span data-dojo-type="idx.form.Link"  style="padding-right: 5px;"> 子目录2</span>
        <i class="icon-chevron-right" style="font-size: 0.8em;color: #666666;"></i>
        <span data-dojo-type="idx.form.Link"  style="padding-right: 5px;"> 子目录3</span>
        -->
    </div>
    <div class="app_headerDivLine"></div>
    <div data-dojo-attach-point="documentsListContainer" style="overflow: auto;">
    </div>
    <!--
    <div class="app_magazineView_item app_magazineView_item_odd">
        <table width="100%" height="35px" border="0" class="app_headerDivLine">
            <tr>
                <td>
                    <img src="vfbam/userclient/css/image/fileType/doc.png" width="16px" height="16px" style="vertical-align:middle;"/>
                    <span style="font-weight: bold;padding-right: 5px;">filenet ConfigGuide.doc</span>
                    <span style="font-size: 0.9em;font-style: italic;padding-right: 5px;"><i class="icon-time"></i> 2013-3-12 12:45</span>
                    <span style="font-size: 0.9em;color: #ce0000;padding-right: 5px;"><i class="icon-code-fork"></i> v0.0</span>
                </td>
                <td align="right">
                    <i class="icon-eye-open icon-border" style="cursor: pointer;"></i>
                    <span style="padding-right: 5px;"></span>
                    <i class="icon-download-alt icon-border" style="cursor: pointer;"></i>
                    <span style="padding-left: 5px;padding-right: 5px; font-size: 0.8em;">|</span>
                    <i class="icon-lock icon-border" style="cursor: pointer;padding-left:3px; padding-right: 3px;"></i>
                    <span style="padding-right: 5px;"></span>
                    <i class="icon-edit icon-border" style="cursor: pointer;"></i>
                    <span style="padding-right: 5px;"></span>
                    <i class="icon-trash icon-border" style="cursor: pointer;"></i>
                </td>
            </tr>
        </table>
    </div>

    <div class="app_magazineView_item app_magazineView_item_odd  app_magazineView_item_selected">
        <table width="100%" height="35px" border="0" class="app_headerDivLine">
            <tr>
                <td>
                    <img src="vfbam/userclient/css/image/fileType/jpg.png" width="16px" height="16px" style="vertical-align:middle;"/>
                    <span style="font-weight: bold;padding-right: 5px;">222122my3ue60tnlly68ee.jpg</span>
                    <span style="font-size: 0.9em;font-style: italic;padding-right: 5px;"><i class="icon-time"></i> 2013-3-12 12:45</span>
                    <span style="font-size: 0.9em;color: #ce0000;padding-right: 5px;"><i class="icon-code-fork"></i> v0.0</span>
                </td>
                <td align="right">
                    <i class="icon-eye-open icon-border" style="cursor: pointer;"></i>
                    <span style="padding-right: 5px;"></span>
                    <i class="icon-download-alt icon-border" style="cursor: pointer;"></i>
                    <span style="padding-left: 5px;padding-right: 5px; font-size: 0.8em;">|</span>
                    <i class="icon-lock icon-border" style="cursor: pointer;padding-left:3px; padding-right: 3px;"></i>
                    <span style="padding-right: 5px;"></span>
                    <i class="icon-edit icon-border" style="cursor: pointer;"></i>
                    <span style="padding-right: 5px;"></span>
                    <i class="icon-trash icon-border" style="cursor: pointer;"></i>
                </td>
            </tr>
        </table>
    </div>

    <div class="app_magazineView_item app_magazineView_item_even">
        <table width="100%" height="35px" border="0" class="app_headerDivLine">
            <tr>
                <td>
                    <img src="vfbam/userclient/css/image/fileType/pdf.png" width="16px" height="16px" style="vertical-align:middle;"/>
                    <span style="font-weight: bold;padding-right: 5px;">Viewfunction 用户管理架构设计概要.pdf</span>
                    <span style="font-size: 0.9em;font-style: italic;padding-right: 5px;"><i class="icon-time"></i> 2013-3-12 12:45</span>
                    <span style="font-size: 0.9em;color: #ce0000;padding-right: 5px;"><i class="icon-code-fork"></i> v0.0</span>
                </td>
                <td align="right">
                    <i class="icon-eye-open icon-border" style="cursor: pointer;"></i>
                    <span style="padding-right: 5px;"></span>
                    <i class="icon-download-alt icon-border" style="cursor: pointer;"></i>
                    <span style="padding-left: 5px;padding-right: 5px; font-size: 0.8em;">|</span>
                    <i class="icon-lock icon-border" style="cursor: pointer;padding-left:3px; padding-right: 3px;"></i>
                    <span style="padding-right: 5px;"></span>
                    <i class="icon-edit icon-border" style="cursor: pointer;"></i>
                    <span style="padding-right: 5px;"></span>
                    <i class="icon-trash icon-border" style="cursor: pointer;"></i>
                </td>
            </tr>
        </table>
    </div>


    <div class="app_magazineView_item app_magazineView_item_odd">
        <table width="100%" height="35px" border="0" class="app_headerDivLine">
            <tr>
                <td>
                    <img src="vfbam/userclient/css/image/fileType/ini.png" width="16px" height="16px" style="vertical-align:middle;"/>
                    <span style="font-weight: bold;padding-right: 5px;">VF Windows平台性能调优配置.ini</span>
                    <span style="font-size: 0.9em;font-style: italic;padding-right: 5px;"><i class="icon-time"></i> 2013-3-12 12:45</span>
                    <span style="font-size: 0.9em;color: #ce0000;padding-right: 5px;"><i class="icon-code-fork"></i> v0.0</span>
                </td>
                <td align="right">
                    <i class="icon-eye-open icon-border" style="cursor: pointer;"></i>
                    <span style="padding-right: 5px;"></span>
                    <i class="icon-download-alt icon-border" style="cursor: pointer;"></i>
                    <span style="padding-left: 5px;padding-right: 5px; font-size: 0.8em;">|</span>
                    <i class="icon-lock icon-border" style="cursor: pointer;padding-left:3px; padding-right: 3px;"></i>
                    <span style="padding-right: 5px;"></span>
                    <i class="icon-edit icon-border" style="cursor: pointer;"></i>
                    <span style="padding-right: 5px;"></span>
                    <i class="icon-trash icon-border" style="cursor: pointer;"></i>
                </td>
            </tr>
        </table>
    </div>


    <div class="app_magazineView_item app_magazineView_item_even">
        <table width="100%" height="35px" border="0" class="app_headerDivLine">
            <tr>
                <td>
                    <img src="vfbam/userclient/css/image/fileType/txt.png" width="16px" height="16px" style="vertical-align:middle;"/>
                    <span style="font-weight: bold;padding-right: 5px;">filenet CE许可证.txt</span>
                    <span style="font-size: 0.9em;font-style: italic;padding-right: 5px;"><i class="icon-time"></i> 2013-3-12 12:45</span>
                    <span style="font-size: 0.9em;color: #ce0000;padding-right: 5px;"><i class="icon-code-fork"></i> v0.0</span>
                </td>
                <td align="right">
                    <i class="icon-eye-open icon-border" style="cursor: pointer;"></i>
                    <span style="padding-right: 5px;"></span>
                    <i class="icon-download-alt icon-border" style="cursor: pointer;"></i>
                    <span style="padding-left: 5px;padding-right: 5px; font-size: 0.8em;">|</span>
                    <i class="icon-lock icon-border" style="cursor: pointer;padding-left:3px; padding-right: 3px;"></i>
                    <span style="padding-right: 5px;"></span>
                    <i class="icon-edit icon-border" style="cursor: pointer;"></i>
                    <span style="padding-right: 5px;"></span>
                    <i class="icon-trash icon-border" style="cursor: pointer;"></i>
                </td>
            </tr>
        </table>
    </div>


    <div class="app_magazineView_item app_magazineView_item_odd">
        <table width="100%" height="35px" border="0" class="app_headerDivLine">
            <tr>
                <td>
                    <img src="vfbam/userclient/css/image/fileType/ppt.png" width="16px" height="16px" style="vertical-align:middle;"/>
                    <span style="font-weight: bold;padding-right: 5px;">viewfunction 结构设计演示稿.ppt</span>
                    <span style="font-size: 0.9em;font-style: italic;padding-right: 5px;"><i class="icon-time"></i> 2013-3-12 12:45</span>
                    <span style="font-size: 0.9em;color: #ce0000;padding-right: 5px;"><i class="icon-code-fork"></i> v0.0</span>
                </td>
                <td align="right">
                    <i class="icon-eye-open icon-border" style="cursor: pointer;"></i>
                    <span style="padding-right: 5px;"></span>
                    <i class="icon-download-alt icon-border" style="cursor: pointer;"></i>
                    <span style="padding-left: 5px;padding-right: 5px; font-size: 0.8em;">|</span>
                    <i class="icon-lock icon-border" style="cursor: pointer;padding-left:3px; padding-right: 3px;"></i>
                    <span style="padding-right: 5px;"></span>
                    <i class="icon-edit icon-border" style="cursor: pointer;"></i>
                    <span style="padding-right: 5px;"></span>
                    <i class="icon-trash icon-border" style="cursor: pointer;"></i>
                </td>
            </tr>
        </table>
    </div>

    <div class="app_magazineView_item app_magazineView_item_even">
        <table width="100%" height="35px" border="0" class="app_headerDivLine">
            <tr>
                <td>
                    <img src="vfbam/userclient/css/image/fileType/folder16.png" width="16px" height="16px" style="vertical-align:middle;"/>
                    <span style="font-weight: bold;padding-right: 5px;">folderA</span><span style="font-size: 0.9em;font-style: italic;">(12)</span>
                    <span style="font-size: 0.9em;font-style: italic;padding-right: 5px;"><i class="icon-time"></i> 2013-3-12 12:45</span>
                    <span style="font-size: 0.9em;color: #ce0000;padding-right: 5px;"><i class="icon-code-fork"></i> v0.0</span>
                </td>
                <td align="right">
                    <i class="icon-file icon-border" style="cursor: pointer;padding-left:3px; padding-right: 3px;"></i>
                    <span style="padding-left: 5px;padding-right: 5px; font-size: 0.8em;">|</span>
                    <i class="icon-trash icon-border" style="cursor: pointer;"></i>
                </td>
            </tr>
        </table>
    </div>
    -->
</div>