<div style="width: 80%">
    <div style="width: 500px;height:83px;">
        <div class="app_taskCenter_activityLauncher_header">
            <div style="padding: 10px;">
                <span style="font-weight: bold;padding-right: 10px;"><i class="icon-filter"></i> 搜索文件:</span>
                <input dojoType="dijit.form.CheckBox" data-dojo-attach-point="documentNameCheckbox" checked="true">文件名称</input>
                <span style="font-size: 0.9em;color: #AAAAAA;padding-right: 5px;">|</span>
                <input dojoType="dijit.form.CheckBox" data-dojo-attach-point="documentTagCheckbox" checked="true">文件标签</input>
                <span style="font-size: 0.9em;color: #AAAAAA;padding-right: 5px;">|</span>
                <input dojoType="dijit.form.CheckBox" data-dojo-attach-point="documentContentCheckbox" checked="true">文件内容</input>
            </div>
            <div class="app_taskCenter_activityLauncher_search">
                <table style="width: 100%;  border-spacing: 0px">
                    <tr>
                        <td style="width: 100%; white-space: nowrap">
                            <input data-dojo-type="dijit.form.TextBox" data-dojo-attach-point="queryInputValue"/>
                            <input data-dojo-type="dijit.form.Button" data-dojo-props="iconClass: 'idxSearchButton', label: 'Search', showLabel: false" data-dojo-attach-event="onClick:doDocumentQuery"/>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>