<table width="100%;" border="0">
    <tr>
        <td style="padding-right: 5px;padding-top: 5px;" align="left">
            <i class="icon-comment-alt"></i> <span>文件备注列表</span>
        </td>
        <td style="padding-right: 5px;padding-top: 5px;" align="right">
            <i class="icon-edit"></i> <span data-dojo-type="vfbam.userclient.common.UI.widgets.TextDropdownButton" data-dojo-attach-point="addCommentLink" style="padding-right: 5px;color:#00649D;" label="添加备注">
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <div class="app_headerDivLine"></div>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <div style="overflow: auto;" data-dojo-attach-point="commentsListContainer">
            </div>
        </td>
    </tr>
</table>