/************ Compact Tabs ************/
/* Compact Top Tabs*/
.compact .dijitTabContainerTop-tabs .dijitTabContent {
  padding: 6px 14px 5px;
}
.compact .dijitTabContainerTop-tabs .dijitTabHover {
  padding: 5px 14px 5px;
}
.compact .dijitTabContainerTop-tabs .dijitTabChecked,
.compact .dijitTabContainerTop-tabs .dijitTabCheckedHover,
.compact .dijitTabContainerTop-tabs .dijitTabCheckedActive {
  padding: 5px 14px 6px;
}
.compact .dijitTabContainer .dijitTabContainerTop-container {
  border-left: 0 none;
  border-right: 0 none;
  border-bottom: 0 none;
}
.compact .dijitTabContainer .dijitTabContainerTop-tabs {
  padding-left: 30px;
}
/** end Compact top tab **/
/*************** Compact bottom tab ***************/
.compact .dijitTabContainerBottom-tabs .dijitTabContent {
  padding: 5px 14px 6px;
}
.compact .dijitTabContainerBottom-tabs .dijitTabHover {
  padding: 5px 14px 5px;
}
.compact .dijitTabContainerBottom-tabs .dijitTabChecked,
.compact .dijitTabContainerBottom-tabs .dijitTabCheckedHover,
.compact .dijitTabContainerBottom-tabs .dijitTabCheckedActive {
  padding: 6px 14px 5px;
}
/** end Compact bottom tab **/
/*************** Compact left tab ***************/
.compact .dijitTabContainerLeft-tabs .dijitTabContent {
  padding: 5px 14px 6px;
}
.compact .dijitTabContainerLeft-tabs .dijitTabHover,
.compact .dijitTabContainerLeft-tabs .dijitTabChecked {
  padding: 5px 14px 6px 13px;
}
/*************** Compact right tab ***************/
.compact .dijitTabContainerRight-tabs .dijitTabContent {
  padding: 5px 13px 6px;
}
.compact .dijitTabContainerRight-tabs .dijitTabHover,
.compact .dijitTabContainerRight-tabs .dijitTabChecked {
  padding: 5px 13px 6px;
}
/** end right tab **/
.compact .tabStripButton {
  height: 30px;
}
.compact .tabStripButton {
  height: 19px;
  padding: 6px 7px 2px;
}
