/*
 * Licensed Materials - Property of IBM
 * (C) Copyright IBM Corp. 2010, 2012 All Rights Reserved
 * US Government Users Restricted Rights - Use, duplication or
 * disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
 */

/* RTL oneui styles for DataGrid */

/* first load the dojox/Grid styles, in case they
 * have not yet been loaded */
@import url("Grid_rtl.css");


.dijitRtl .oneui .dojoxGrid {
	border-right: none;
}

/* Vienna styles for DataGrid right-to-left */
.dijitRtl .oneui .dojoxGridLoading, 
.dijitRtl .oneui .dojoxGridError {
	background-position:right center;
	padding-right:25px;
	padding-left: 0px;
}

.dijitRtl .oneui .dojoxGridHeader {
	border-right-style: none;
}

.dijitRtl .oneui .dojoxGridHeader .dojoxGridCell,
.dijitRtl .oneui .dojoxGridCell {
	border-right-color: transparent;
	border-left: 1px solid #d9d9d9;
}

.dijitRtl .oneui .dojoxGridArrowButtonNode {
	padding-right: 0px;
	float: left;
}

.dijitRtl .oneui .dojoxGridArrowButtonChar {
	float:left;
}

.dijitRtl .oneui .dojoxGridRowbar { 
	border:none;
	border-left:1px solid #ccc;
}

.dijitRtl .oneui .dojoxGridRowbarSelected {
	border-right: none;
	border-left:1px solid #bbb;
}

.dijitRtl .oneui .dojoxGridExpando {
	float: right;
}

.dijitRtl .oneui .dojoxGridExpandoCell {
	background-position: right top !important;
}
