// Content Area Background, Header Titles. Use with Primary Header
@color_inputFocus: #008ABF;
@color_widgetBorderHover: #48C0EF;

// Primary Header Accent (Tool Chest), Widget Border Focus, Button Focus/Selection. Use with #fff
@color_widgetSelectedOrFocus: #003f69;	//#269CC9;
@color_widgetHover: #66a2c4;	//#BDCCD4;


// Navigation Selection, Button Primary, Checkbox/Radio Fill, Info Message Border, Flyout Background. Use with #FFF
@color_widgetPrimaryFill: #267bac;	//#00649D;

// Selection, Flyout Hover Background
@color_selectionHover: #ecf8fd;	//#D9EDF5;
@color_textAccent: #00649d;	//#00597B;

// Calendar 
@color_calendar_day_hover: #daf1fc;
@color_calendar_day_selected: #b5e3f9;
@color_calendar_today_border: #00649d;

// Icons
@image_icons: url("images/ui-icons_267bac_256x240.png");