//
// Licensed Materials - Property of IBM
// (C) Copyright IBM Corp. 2010, 2013 All Rights Reserved
// US Government Users Restricted Rights - Use, duplication or
// disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
//

.dijitSliderRtl .dijitSliderProgressBarH,
.dijitSliderRtl .dijitSliderRemainingBarH,
.dijitSliderRtl .dijitSliderLeftBumper,
.dijitSliderRtl .dijitSliderRightBumper,
.dijitSliderRtl .dijitSliderTopBumper {
  background-position: top right;
}
.dijitSliderRtl .dijitSliderProgressBarV, 
.dijitSliderRtl .dijitSliderRemainingBarV, 
.dijitSliderRtl .dijitSliderBottomBumper {
  background-position: bottom right;
}
.dijitSliderRtl .dijitSliderLeftBumper {
  border-left: medium none;
  border-right: solid 1px @fwDarkest;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  -moz-border-radius-topright: 2px;
  -moz-border-radius-bottomright: 2px;
  -webkit-border-top-right-radius: 2px;
  -webkit-border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
.dijitSliderRtl .dijitSliderRightBumper {
  border-left: solid 1px @fwDarkest;
  border-right: medium none;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  -moz-border-radius-topleft: 2px;
  -moz-border-radius-bottomleft: 2px;
  -webkit-border-top-left-radius: 2px;
  -webkit-border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}


.dijitSliderRtl .dijitSliderDecrementIconH {
  /*background-position: -251px 50%;*/
  background-position: -15px 0px;
}
.dijitSliderRtlHover .dijitSliderDecrementIconH {
  background-position: -45px 0px;
}
.dijitSliderRtlActive .dijitSliderDecrementIconH {
	background-position: -75px 0px;
}
.dijitSliderRtl .dijitSliderButtonContainerH .dijitSliderDecrementButtonHover{
	background-position: -45px 0px;
}
.dijitSliderRtl .dijitSliderButtonContainerH .dijitSliderDecrementButtonActive{
	background-position: -75px 0px;
}

.dijitSliderRtl .dijitSliderIncrementIconH {
  /*background-position: -357px 50%;*/
  background-position: 0px 0px;
}
.dijitSliderRtlHover .dijitSliderIncrementIconH {
  background-position: -30px 0px;
}
.dijitSliderRtlActive .dijitSliderIncrementIconH {
	background-position: -60px 0px;
}
.dijitSliderRtl .dijitSliderButtonContainerH .dijitSliderIncrementButtonHover {
	background-position: -30px 0px;
}
.dijitSliderRtl .dijitSliderButtonContainerH .dijitSliderIncrementButtonActive {
	background-position: -60px 0px;
}
